.THIS .cEFLCustomLookup .leftPaddingClass{
            padding-left: 5px !important;
}
.THIS .deleteButton svg{
    fill : #003e69;
}
.THIS{
    padding-right: 1.5rem;
}
.THIS .explBtn {
    color:#003E69 !important;
    text-decoration: underline;
}

.THIS .slds-grid slds-grid_align-spread{
     width:50% !important;
}
.THIS .uiInput--input.input{
    text-align:center;
}

.THIS .centeredText{
    margin : 0 auto;
}

.THIS .checkboxColumn{
    width:30px;
}