.THIS .greenHeaderBase{
    border-color:#006600;
    border-width:7px;
    margin : 0 0;
}

.THIS .tableContainerDiv{
    max-height: 30rem;
}

.THIS .maxHeight{
    height: 100%;
}

.THIS.noBorder{
    border:none !important;
}