<apex:component selfClosing="false" >
        <p class="pull-left visible-xs">
            <button type="button" class="glyphicon glyphicon-align-justify" data-toggle="offcanvas">

            </button>
        </p>
        <!--Code for body mark up will go here-->
        <apex:componentBody />
</apex:component>