<apex:component controller="carpol_UNI_EmailParameters" access="global">
    
    <apex:attribute type="string" name="Stateid1" description="Official Review record id" id="Stateid" assignTo="{!Stateid}"/>
    <apex:attribute type="string" name="URLType1" description="URL Type" id="URLType" assignTo="{!URLType}"/>

  Please click here to proceed further {!baseurlstate.URL__c}/{!Stateid}
    
</apex:component>