<apex:component selfClosing="false">
<!--
    <apex:attribute name="label" type="String" description="field label for the row  that will be used in panel" /> -->
        <apex:attribute name="requiredField" type="boolean" description="this denotes a form field as required" required="false" default="false" />

        
        <!--This Custom Component is for the form fields and lables it takes a required field 
        boolean attribute if true then it will put the class name and asterisk in the appropriate field.-->
        <div class="col-sm-6 col-lg-6">
            <div class="form-group">
                 <!--
                    <apex:outputLabel title="{!label}" styleClass="col-md-4">
                        {!label}
                       
                            <span class="{!IF(requiredField == true, 'important', '')}">
                                {!IF(requiredField==true,'*','')}
                            </span>
                      
                    </apex:outputLabel>
                     -->
                <div class="col-md-6">
                    <apex:componentBody />
                </div>
            </div>
        </div>
</apex:component>