<apex:component selfClosing="true">
    <apex:attribute name="isDatatable" type="boolean" description="if a jquery data table is required use this to add the required js library." default="false" required="false"/>
    <apex:attribute type="string" default="false" name="dataTableID" description="id used to initialize datatable"/>
    <apex:attribute type="boolean" default="true" name="paging" description="id used to initialize datatable"/>
    <apex:attribute type="boolean" default="false" name="info" description="id used to initialize datatable"/>
    <apex:attribute type="boolean" default="true" name="lengthChange" description="id used to initialize datatable"/>
    <apex:attribute type="boolean" default="true" name="searching" description="id used to initialize datatable"/>
    <apex:attribute type="long"  name="sortColumnNumber" description="which column should have datetime sorting"/>
    <apex:attribute type="long"  name="ignoreColumnNumber" description="which column should ordering be ignored" default="0"/>
    <apex:attribute type="boolean" name="hasChildRows" description="this is to have a datatable with nested rows" default="false"/>
    <apex:attribute type="long"  name="defaultLengthNumber" description="which column should ordering be ignored" default="10"/>
    <apex:attribute type="string"  name="sortByColumns" description="which column should ordering be ascending" default=""/>
    <apex:attribute type="boolean"  name="sorting" description="disable sorting feature" default="true"/>
    
    
    <apex:variable value=".table.table-striped.table-expand-row.{!dataTableID}" var="parentDT"/>
    <apex:variable value=".table.table-striped.no-top-margin.{!dataTableID}" var="normalDT"/>
    
<script>
    /*
$.extend( jQuery.fn.dataTableExt.oSort, {
  "datetime-us-flex-pre": function ( a ) {
    // If there's no slash, then it's not an actual date, so return zero for sorting
    if(a.indexOf('/') === -1) {
        return '0';
    } else {
      // Set optional items to zero
      var hour = 0,
          min = 0,
          ap = 0;
      // Execute match. Requires month, day, year. Can be mm/dd or m/d. Can be yy or yyyy
      // Time is optional. am/pm is optional
      // TODO - remove extra time column from array
      var b = a.match(/(\d{1,2})\/(\d{1,2})\/(\d{2,4})( (\d{1,2}):(\d{1,2}))? ?(am|pm|AM|PM|Am|Pm)?/),
          month = b[1],
          day = b[2],
          year = b[3];
      // If time exists then output hours and minutes
      if (b[4] != undefined) {
        hour = b[5];
        min = b[6];
          //alert(hour);
          //alert(min);
      }

       // if using am/pm then change the hour to 24 hour format for sorting
      if (b[7] != undefined) {
        ap = b[7];
      //alert(ap);
          if(ap == 'AM' && hour == '12' )
          {
              hour = '0';
          }
          else if(ap == 'PM')
          {
              if(hour >= '1' && hour <12)
              hour = parseInt(hour, 10)+12;  
          }
      }

    // if(hour == '24') hour = '0';
        //if(ap == 'pm') hour = parseInt(hour, 10)+12;
     // }
      // for 2 digit years, changes to 20__ if less than 70
      if(year.length == 2){
        if(parseInt(year, 10) < 70) year = '20'+year;
        else year = '19'+year;
      }
      // Converts single digits
      if(month.length == 1) month = '0'+month;
      if(day.length == 1) day = '0'+day;
      if(hour.length == 1) hour = '0'+hour;
      if(min.length == 1) min = '0'+min;
      var tt = year+month+day+hour+min;
      
      return tt;
    }      
  },
  "datetime-us-flex-asc": function ( a, b ) {
    return a - b;
  },
  "datetime-us-flex-desc": function ( a, b ) {
    return b - a;
  }
}); */ 

     var {!dataTableID}  = $('.table.table-striped.no-top-margin.{!dataTableID}').DataTable( {
        "paging":   {!paging},
        "bSort": {!sorting},
        "info":     {!info},
        "pagingType": "full",
        "language": {"sSearch": " ",
                    "searchPlaceholder":"Search"
        },
          {!sortByColumns}
        //"dom":'<"filtersection"lf>rt<"paginfosection"<"bottom"ip>><"clear">',
        "searching": {!searching},
        "iDisplayLength": {!defaultLengthNumber},
        "lengthMenu": [5,10,25, 50, 100 ],
        "lengthChange": {!lengthChange},
        "columnDefs": [      
         //{"orderable": false,"targets": [{!ignoreColumnNumber} ]} 
         {"orderable": false,"targets": [{!ignoreColumnNumber}]},                                                                                    
         {"orderable": true,"targets": [{!sortColumnNumber}], "type": 'datetime-us-flex'}
         ]
    } );
    
    //"orderable": false,"targets": [{!ignoreColumnNumber} ]
    //$('div#search_table.dataTables_filter input').tablesorter({dateFormat: "usa"});
    $('.dataTables_filter').attr('id','search_table');
    $('.dataTables_filter').attr('style','float:left !important;');
    $('.table.table-striped.no-top-margin.{!dataTableID}').attr('style','border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; border-right: 1px solid #dddddd;');
    $('.table.table-striped.no-top-margin.{!dataTableID} th').attr('style','border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; border-right: 1px solid #dddddd; padding-top: 5px !important; padding-bottom: 5px !important; color: rgb(81, 79, 77) !important; font-weight:normal;');
    // $('div#search_table.dataTables_filter input').addClass('searchinput');
    $('div#search_table.dataTables_filter input').attr('aria-label','Search Text');    
    $('div#search_table.dataTables_filter input').attr('title','Search-table');
    $('table.dataTable.no-footer').attr('style', 'border-bottom:none !important;');
    //$('div#search_table.dataTables_filter input').attr('style','float:left !important;');    
    //$('paginate_button').addClass('slds-scope');
    // $('.dataTables_length').addClass('form-group tables-length');
    // $('.dataTables_info').addClass('table-pag-info');
    //$(".last").insertBefore($(".previous"));
    //$(".dataTables_info").appendTo($(".first").parent());
    // $(".first").parent().appendChild($(".dataTables_info"));
</script>
<style>
    
    th {
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
    }
 
    /*.paginate_button {
  border: 1px solid #828282 !important;
  background-color: #e5efe5 !important;  
}
    
div.dataTables_wrapper div.dataTables_paginate {float:none; text-align:center;}
    
    //.dataTables_info {float:right !important;}*/
   
</style>    
</apex:component>