<apex:component controller="EFLLineItemChevronController" allowDML="true"> 

    <apex:attribute name="previousStep" type="string" description="provide current state of line Item"/>
    <apex:attribute name="currentStep" type="string" description="provide current state of line Item" assignTo="{!currentChevronStep}"/>  
    <apex:attribute name="nextStep" type="string" description="provide current state of line Item"/>
    <apex:attribute name="lineItemRecordID" type="string" description="provide ID of line Item" assignTo="{!lineItemID}" required="true"/>
   
    
    <apex:slds >
    <!-- 
<apex:stylesheet value="{!URLFOR($Asset.SLDS, 'styles/salesforce-lightning-design-system.min.css')}" /> 
 -->
        <apex:form >
            <apex:actionFunction action="{!callPage}" name="callPageURL" reRender="">
                <apex:param name="callStepID" value="callStepID" assignTo="{!callStepID}"/>
            </apex:actionFunction>     
        </apex:form>
            <script>
             function showWindow(i) {
                 //alert('Inside show window## '+i);
             }    
             </script>    
                
      <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> 
            <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">  
                <div class="slds-scope"> 
                    <div class="slds-grid"> 
                        <div class="slds-tabs--path" role="application"> 
                            <ul class="slds-tabs--path__nav" role="tablist" id="TheLis"> 
                            </ul> 
                            <br/>
                        </div>     
                     </div> 
                </div>    
            </html>   
            
        <script> 
            var j$ = jQuery.noConflict(); 
            //Picklist Values From Apex 
            var picArr = {!chevronOptions}; 
            var picArrLen = picArr.length; 
            
            //Get Current Picklist Value of the record 
            var CurrentStg = '{!currentStep}'; 
            var CurrentStgPos = picArr.indexOf(CurrentStg); // Comparing the picklist values 
            var theiLis = '';  
            for(var i=0; i<picArrLen; i++){ 
                var stepid  = picArr[i].replace(/ /g,"_"); 
            
                    // For completed stage           
                    
                      if(CurrentStgPos > i){ 
                          //alert('CurrentStgPos@@'+CurrentStgPos);
                            
                               theiLis += '<li class="slds-tabs--path__item slds-is-incomplete" role="presentation">'+ 
                            
                            '<a class="slds-tabs--path__link" id= '+ stepid + ' aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:showWindow('+(i+1)+');" aria-live="assertive">'+ 
                             
                              '<span class="slds-tabs--path__stage">'+ 
                            
                            '<svg class="slds-icon slds-icon_x-small" aria-hidden="true"><use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#check')}"></use></svg></span>'+ 
                            
                            '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>'  
                    
                      } 
                    
                    // For Current Stage   
                    
                    else if(CurrentStgPos == i){ 
                    
                    // If Current Stage is Last Stage              
                    
                      if(i == picArrLen-1){ 
                    
                          theiLis += '<li class="slds-tabs--path__item slds-is-active" role="presentation">'+ 
                        
                        '<a class="slds-tabs--path__link" id= '+ stepid + ' aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+ 
                        
                          '<span class="slds-tabs--path__stage">'+ 
                        
                        '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.SLDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+ 
                        
                        '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>'  
                    
                      }  
                    
                    // If Current Stage is Not Last Stage 
                    
                      else{ 
                    
                            theiLis += '<li class="slds-tabs--path__item slds-is-active" role="presentation">'+ 
                        
                        '<a class="slds-tabs--path__link" id= '+ stepid + ' aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:showWindow('+(i+1)+');"  aria-live="assertive">'+ 
                        
                          '<span class="slds-tabs--path__stage">'+ 
                        
                        '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.SLDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+ 
                        
                        '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>'  
                        
                        }   
                    
                      } 
                    
                    // For Next Stages 
                    
                     else if(CurrentStgPos < i){ 
                    
                      theiLis += '<li class="slds-tabs--path__item slds-is-incomplete" role="presentation">'+ 
                    
                    '<a class="slds-tabs--path__link" id= '+ stepid + ' aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+ 
                    
                      '<span class="slds-tabs--path__stage">'+ 
                    
                    '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.SLDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+ 
                    
                    '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>'  
                    
                    } 
                    
                    } 
            
            //Adding The Created Sales Path To Sales Path Body     
            j$('#TheLis').html(theiLis); 
            
            </script>  
            <script type="text/javascript">
                /*SLDS Tabs JS*/
        var appDetailsStatus='{!JSENCODE(lineItemRecord.Application_Details_Status__c)}';
                j$('.slds-tabs--path__link,.slds-tabs--scoped__link').click(function(){ 
                    //if(isCBI == 'No' || isCBI == 'Yes'){
                    if(appDetailsStatus == 'Ready to Submit'){
                        callPageURL(this.id); 
                        }
                }); 
                /*SLDS Tabs JS*/
            </script> 

     <apex:pageBlock >
        <apex:pageBlockSection >
            <body class="slds-scope">
                <!-- Added outpanel tags for W-034807 to align CBI Included field under Introduction Type-->
                <apex:outputPanel >
                    <div class="slds-grid">
                        <apex:outputText rendered="{!(Not(ISPICKVAL($User.UserType,'Standard')))}">
                           <div class="slds-col slds-size_1-of-3"><b>Application Number: </b><a target="_blank" href="apex/portal_application_detail?id={!lineItemRecord.application_number__c}"><span>{!lineItemRecord.application_number__r.Name}</span></a>&nbsp;</div>
                        </apex:outputText>
                        <apex:outputText rendered="{!(ISPICKVAL($User.UserType,'Standard'))}">
                           <div class="slds-col slds-size_1-of-3"><b>Application Number: </b><a target="_blank" href="/{!lineItemRecord.application_number__c}?nooverride=1"><span>{!lineItemRecord.application_number__r.Name}</span></a>&nbsp;</div>
                        </apex:outputText>
                        <div class="slds-col slds-size_1-of-3"><b>Decision Type:</b> {!lineItemRecord.Type_of_Permit__c}</div>
                        <div class="slds-col slds-size_1-of-3"><b>Introduction Type:</b> {!lineItemRecord.Movement_Type__c}</div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3"><b>Line Item Number: </b> {!lineItemRecord.name} </div>
                        <div class="slds-col slds-size_1-of-3"><b>Line Item Status:</b> {!lineItemRecord.Status__c}</div>
                        <div class="slds-col slds-size_1-of-3">
                            <apex:outputPanel rendered="{!lineItemRecord.Thumbprint__r.REF_Program_Name__c=='BRS'}">
                                <b>CBI Included:</b> {!lineItemRecord.Does_This_Application_Contain_CBI__c}
                            </apex:outputPanel> 
                        </div>
                    </div>
                </apex:outputPanel>
            </body>
        </apex:pageBlockSection>
    </apex:pageBlock>
     </apex:slds>
</apex:component>