<apex:component >
<apex:attribute name="Questions" description="PSQ Question List."  type="EFLPreScreeningWrapper" />

 <apex:slds ></apex:slds>
    <!--
     <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.css')}" /> 
    -->

 <!--jQuery CDN-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
        var j$ = jQuery.noConflict();
 </script>
        <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
        <head>
           <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </head>
        <!--The Salesforce Lightning Design System Wrapping Div with Scoping Class -->
          <div class="slds-scope">

            <!--SLDS Checkbox Toggle Element Start-->
            <div class="slds-form-element">
             <!-- <label class="slds-checkbox--toggle slds-grid">
                <span class="slds-form-element__label slds-m-bottom--none">View Answers</span>
                <input id="toggle1" name="checkbox" type="checkbox" aria-describedby="toggle-desc" checked="true"  />
                <span id="toggle-desc" class="slds-checkbox--faux_container" aria-live="assertive">
                  <span class="slds-checkbox--faux"></span>
                  <span class="slds-checkbox--on"> </span>
                  <span class="slds-checkbox--off"> </span>
                </span>
              </label>-->
            </div>
            <!--SLDS Table Toggle Element Start-->
              <div class="slds-grid" id="toggleValue1">
              <section class="table-section no-bottom-padding" >
                <div class="table-responsive">
                  <!--  <apex:actionFunction name="toggleCheck" action="{!togglecheck}"  status="myStatus"/>-->
                    <apex:outputPanel id="toggleValue2"   >
                    <table class="table table-striped no-top-margin no-bottom-margin table-with-border">               
                        <thead>
                            <tr style="background-color:white;">
                                <th class="empty-cell"></th>
                                <th>#</th>
                                <th>Question</th>
                                <th>Answer</th>
                                <th class="empty-cell"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <apex:variable value="{!1}" var="rowNum"/>
                            <apex:repeat value="{!Questions.QuestionList}" var="question" >
                                <tr>
                                    <td class="empty-cell"></td>
                                    <td>{!rowNum}</td>
                                    <td>{!question.psquestion.Question__c}</td>
                                    <td>{!IF(LEN(question.psquestion.PSQActivity_Processor__c)>0, question.psqSelectedOption.Name, question.psqSelectedOption.Value__c)}</td>
                                    <td class="empty-cell"></td>
                                </tr>    
                                <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                            </apex:repeat>
                        </tbody>
                    </table>
                        </apex:outputPanel>
                </div>
            </section>
            </div>
             </div> 
        <script>
            
            
        $(document).ready(function(){
        j$('#toggle1').on('change',function() {
              //The syntax inside the if statement below returns true for toggle checked and false for toggle unchecked
             $('[id*="toggleValue1').toggle();
        
        });
        });
         
      </script> 
 
</html>  

</apex:component>