<apex:component controller="EFLPaginationController">
  <apex:attribute name="listo" description="This is list of fields." type="sObject[]" required="false" assignTo="{!idList}"/>
  <apex:attribute name="listofield" description="This is list of fields" type="string[]" required="false" assignTo="{!SobjFieldList}"/> 
  <apex:attribute name="pageControl" type="EFLBRSLineItemReviewController" assignTo="{!pageController}" required="false" description="The controller for the page." />

     <apex:form >
       <div class="slds-scope">
         <p style="text-align:left;"> 
              <apex:inputText value="{!searchString}" html-placeholder="Search" label="Search" onkeyup="filterResults();refreshPageSize();"  style="width:200px"/>
          </p>
       <apex:pageblock id="pg">

          <apex:pageBlockTable value="{!SObjectRecs}" var="rec" styleClass="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped slds-table_col-bordered">
 
              <apex:repeat value="{!FieldList}" var="fl"> 
                     <apex:column rendered="{!IF(fl=='Status_Graphical__c', false, true)}" style="white-space: pre-line; max-width: 200px; word-wrap: break-word" >
                  		 <apex:facet name="header">{!pageController.RegulatedArticleHeaderMap[fl]}</apex:facet>
                         <apex:outputField rendered="{!IF(fl=='status__c', true, false)}" value="{!rec['Status_Graphical__c']}" />
                         {!rec[fl]}
                     </apex:column>                 
             </apex:repeat> 
          </apex:pageBlockTable>
           <apex:outputPanel rendered="{!(SObjectRecs.size = 0)}" > 
                  <div class="slds-align_absolute-center" > 
                      <br/> No entries have been added to this section.<br/><br/>
                  </div> 
           </apex:outputPanel>
           <apex:outputPanel rendered="{!(SObjectRecs.size != 0)}" >
              <div class="slds-grid">
              <div class="slds-col slds-size_1-of-4">
                  Show:&nbsp;<apex:selectList value="{!size}" size="1" label="Show" title="Show">
                   <apex:selectOptions value="{!paginationSizeOptions}" />
                   		<apex:actionSupport event="onchange" action="{!refreshPageSize}" reRender="pg" status="fetchStatus" />
                   </apex:selectList>
              </div>   
              <div class="slds-col"> 
					<apex:commandButton style="width:50px; float:left;" status="fetchStatus" reRender="pg" value="First" action="{!setRecords.first}" disabled="{!!setRecords.HasPrevious}" />
                  	<apex:commandButton style="width:50px; float:left;" status="fetchStatus" reRender="pg" value="Last" action="{!setRecords.last}" disabled="{!!setRecords.HasNext}"/>
                 	<apex:commandButton style="width:50px; float:right;" status="fetchStatus" reRender="pg" value="Next" action="{!setRecords.next}" disabled="{!!setRecords.HasNext}" />
                 	<apex:commandButton style="width:60px; float:right;" status="fetchStatus" reRender="pg" value="Previous" action="{!setRecords.previous}" disabled="{!!setRecords.HasPrevious}" />
                 
                 
                  </div>
               <div class="slds-col">   
                 &nbsp;&nbsp;<apex:outputText >{!(setRecords.pageNumber * size)+1-size}-{!IF((setRecords.pageNumber * size)>noOfRecords, noOfRecords,
                         (setRecords.pageNumber * size))} of {!noOfRecords}  &nbsp;<apex:outputLink value="/apex/EFLRegulatedArticle?lineitemid={!pageController.lineitemId}" id="theLink" >Go to List</apex:outputLink>
                 </apex:outputText>
                </div>  
             </div> 
             </apex:outputPanel>
              <apex:outputPanel >
                 <apex:actionStatus id="fetchStatus" >
                        <apex:facet name="start" >
                          <img src="/img/loading.gif" />                    
                        </apex:facet>
                    </apex:actionStatus>
             </apex:outputPanel>
           
       </apex:pageblock>
         </div>      
    </apex:form>  
    
    
</apex:component>