<apex:component >
      <apex:attribute name="lineItemRecord" type="AC__c" description="provide records of line Item"/> 
      <apex:attribute name="RAINFRecord" type="RegulatedArticle_Information__c" description="The is controller record." />
      
        <apex:outputPanel id="detailPanel">  
            <apex:outputPanel id="detail"> 
                <apex:form ><br/>
                      
                 <c:panel icon="book" type="success"  title="Animal Details" buttonTitle="Return to Animal information" renderButton="true" buttonIcon="glyphicon-arrow-left" anchorHref="/apex/EFLRegulatedArticleInformation?LineItemId={!$CurrentPage.parameters.LineItemId}">
                <c:formColumn >
                    
                    <c:carpolFormFields label="Dog Name">
                              <apex:outputField styleClass="form-control" value="{!RAINFRecord.Dog_Name__c}" />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Color" requiredField="true" >
                              <apex:outputField id="colorid" styleClass="form-control" value="{!RAINFRecord.Color__c}" />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Breed Description" >
                              <apex:outputField styleClass="form-control" value="{!RAINFRecord.Breed_Description__c}" />
                    </c:carpolFormFields>
                   <!-- <c:carpolFormFields label="Other identifying information" >
                              <apex:outputField styleClass="form-control" value="{!RAINFRecord.Other_identifying_information__c}" /> 
                    </c:carpolFormFields> -->
                     <c:carpolFormFields label="Sex" requiredField="true" >
                              <apex:outputField id="sexid" styleClass="form-control" value="{!RAINFRecord.Sex__c}" />
                    </c:carpolFormFields>
                    
                </c:formColumn>
                
                <c:formColumn >
                    <c:carpolFormFields label="Date Of Birth" requiredField="true" >
                              <apex:outputField id="dobid" styleClass="form-control" value="{!RAINFRecord.Date_of_Birth__c}" />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Breed" requiredField="true" >
                        <apex:outputpanel styleClass="noLink" >
                              <apex:outputField id="breedid" styleClass="form-control" value="{!RAINFRecord.Breed__c}" />
                        </apex:outputpanel>
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Tattoo Number" >
                              <apex:outputField styleClass="form-control" value="{!RAINFRecord.Tattoo_Number__c}" />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Microchip Number" >
                              <apex:outputField styleClass="form-control" value="{!RAINFRecord.Microchip_Number__c}" />
                    </c:carpolFormFields>
                </c:formColumn>         
                
            </c:panel>
                </apex:form>
            </apex:outputPanel>
        </apex:outputPanel>
   
    </apex:component>