<apex:component selfClosing="true" >
   <c:sidebarContentModule icon="question-sign" title="Get Help">
      <ul>
       <li>For assistance contact APHIS: 
           <a href="mailto:aphis.efile@aphis.usda.gov">aphis.efile@aphis.usda.gov</a>
       </li>
      </ul>
   </c:sidebarContentModule> 
</apex:component>