<apex:component selfClosing="true">
    <apex:attribute name="isDatatable" type="boolean" description="if a jquery data table is required use this to add the required js library." default="false" required="false"/>
    <apex:attribute type="string" default="false" name="dataTableID" description="id used to initialize datatable"/>
    <apex:attribute type="boolean" default="true" name="paging" description="id used to initialize datatable"/>
    <apex:attribute type="boolean" default="true" name="info" description="id used to initialize datatable"/>
    <apex:attribute type="boolean" default="true" name="lengthChange" description="id used to initialize datatable"/>
    <apex:attribute type="boolean" default="true" name="searching" description="id used to initialize datatable"/>
    <apex:attribute type="long"  name="ignoreColumnNumber" description="which column should ordering be ignored"/>



<script>

    var {!dataTableID}= $('.table.table-striped.table-expand-row.{!dataTableID}').dataTable( {
        "paging":   true,
        "info":     true,
        // "processing": true,
        // "serverSide": true,
        // "ajax": "fakeURL",
        "pagingType": "simple_numbers",
        "oLanguage": {"sSearch": " "},
        "dom":'<"search-section"lf>rt<"pagination-section"<"bottom"ip>><"clear">',
        "searching": true,
        "lengthMenu": [ 5, 10, 25, 50, 100 ],
        "lengthChange": {!lengthChange},
        "columnDefs": [
    { "orderable": false, "targets": [ 0,{!ignoreColumnNumber} ]}
  ]
    } );

    $('.dataTables_filter').attr('id','search_table');
    $('div#search_table.dataTables_filter input').addClass('searchinput');
    $('div#search_table.dataTables_filter input').attr('placeholder', 'Search');
    $('div#search_table.dataTables_filter input').attr('aria-label','Search Text');    
    $('div#search_table.dataTables_filter input').attr('title','Search-table');
    $('table.dataTable.no-footer').attr('style', 'border-bottom:none !important;');
    $('.dataTables_length').addClass('form-group tables-length');
    $('.dataTables_info').addClass('table-pag-info');


</script>
</apex:component>