<apex:component controller="EFLNavigationController">
    <apex:attribute name="showUserMenuOption" type="boolean" description="displays the menu option allow the user to view and make changes in the user invite page. this should be available to account administrators only"/>
    <apex:attribute name="showAccountApps" type="boolean" description="displays the menu option allow the user to view and make changes in the Account Application Page. this should be available to account administrators only"/>
   
   <!--<apex:outputPanel rendered="{!(TEXT($User.UserType) == 'CSPLitePortal') || (TEXT($User.UserType) == 'PowerPartner' && $Profile.Name == 'Org Admin')}"> -->
    <apex:outputPanel rendered="{!(TEXT($User.UserType) == 'CSPLitePortal') || (TEXT($User.UserType) == 'PowerCustomerSuccess' && $Profile.Name == 'eFile Applicant Plus') || (TEXT($User.UserType) == 'PowerPartner' && $Profile.Name == 'Org Admin')}">   
   
       <ul id="navigation" class="nav navbar-nav" role="navigation">
        <li id="portalDashboard">
                <a  href="/apex/CARPOL_CommunityLandingPage" ><span>Home</span></a>            
            </li>
            <li id="contacts" class="dropdown">
                <!-- Kill nav state -->
                <a href="#" data-toggle="dropdown" class="dropdown-toggle" role="button"><span>Contacts </span><b class="caret"></b></a>
                <ul aria-labelledby="drop1" role="menu" class="dropdown-menu">
                    <li  role="presentation">        
                        <a  href="/apex/contacts" role="menuitem"><span>Contacts</span></a>
                    </li>
                    <li  role="presentation">        
                        <a  href="/apex/associated_contacts" role="menuitem"><span>Associated Contacts</span></a>
                    </li>
                    <!--<apex:outputPanel rendered="{!($Profile.Name == 'eFile Applicant Plus')}">
                        <li  role="presentation" >        
                            <a  href="/apex/EFLCommunity_Accounts" role="menuitem"><span>Accounts</span></a>
                        </li>
                    </apex:outputPanel>-->
                    
                    <apex:outputPanel rendered="{!(ISPICKVAL($User.UserType,'PowerCustomerSuccess'))}">
                        <li  role="presentation" >        
                            <a  href="/apex/EFLCommunity_Accounts" role="menuitem"><span>Accounts</span></a>
                        </li>
                    </apex:outputPanel>
                   <!--Do not delete below will refactored/used during the furture sprint -->
                   <!--<apex:outputpanel rendered="{!isAdmin}">
                        <li  role="presentation">        
                            <a  href="/carpol_user_invite" role="menuitem"><span>Invite Users</span></a>
                        </li>
                      <li id="portalAaccoutInfo">
                        <a href="/apex/carpol_account_Information"><span>Account Information</span></a>            
                     </li>  
                   </apex:outputpanel>--> 
                </ul>
            </li>
            
            <li id="portalApps" class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle" role="button"><span>Applications</span><b class="caret"></b></a>
                <ul aria-labelledby="drop1" role="menu" class="dropdown-menu">
                    <li  role="presentation">        
                        <a  href="/apex/portal_application" role="menuitem"><span>Applications</span></a>
                    </li>
                    <li id="Constructs">
                        <a href="/apex/EFLConstructs" role="menuitem"><span>Constructs</span></a>            
                    </li>               
             <!--==============================================NOTE=========================================================
                   Date: Oct 9th 2017 - Kishore Kumar: 
                   1. "Account Applications" Tab should be visible to only 'Org Admins'
                 ========================================================================================================-->            
                  <!--Do not delete below will refactored/used during the furture sprint -->
                  <!--<apex:outputPanel rendered="{!isAdmin}">   
                    <li role="presentation">        
                        <a  href="/apex/account_applications" role="menuitem"><span>Account Applications</span></a>
                    </li>
                 </apex:outputPanel> -->
                </ul>
                
            </li>
            <li id="portalAuths">
                <a href="/apex/portal_authorization" role="menuitem"><span>Authorizations</span></a>            
            </li>            
            </ul>
</apex:outputpanel>
         
   <!--<apex:outputPanel rendered="{!(TEXT($User.UserType) == 'PowerCustomerSuccess') ||(TEXT($User.UserType) == 'PowerPartner' && $Profile.Name != 'Org Admin')}"> -->
    <apex:outputPanel rendered="{!(TEXT($User.UserType) == 'PowerCustomerSuccess' && $Profile.Name != 'eFile Applicant Plus') || (TEXT($User.UserType) == 'PowerPartner' && $Profile.Name != 'Org Admin')}"> 
   
       <ul id="navigation" class="nav navbar-nav">
            <li id="portalDashboard">
                <a  href="/st/apex/EFLStateLandingPage" ><span>Dashboard</span></a>            
            </li>
               <!--==============================================NOTE=========================================================
                  Date: Oct 9th 2017 - Kishore Kumar:
                  1. Hidden 'Invite Users' and 'Account Information' tabs as we don't need any ADMIN activity for State Users.
                  2. Hidden 'Associated Contacts' tab for now as we are not sure currently to share associated contacts with State Users.
                 ========================================================================================================-->            
            <!--<li id="contacts" class="dropdown">-->
                <!-- Kill nav state -->

                <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle" role="button"><span>Contacts </span><b class="caret"></b></a>-->
                <!--<ul aria-labelledby="drop1" role="menu" class="dropdown-menu">-->
                <!--    <li  role="presentation">        -->
                <!--        <a  href="/st/contacts" role="menuitem"><span>Contacts</span></a>-->
                <!--    </li>-->

                    <!--<li  role="presentation">        -->
                    <!--    <a  href="/st/associated_contacts" role="menuitem"><span>Associated Contacts</span></a>-->
                    <!--</li>-->
                    <!-- <apex:outputpanel rendered="{!isAdmin}">-->
                    <!--    <li  role="presentation">        -->
                    <!--        <a  href="/st/carpol_user_invite" role="menuitem"><span>Invite Users</span></a>-->
                    <!--    </li>-->
                    <!-- <li id="portalAaccoutInfo">-->
                    <!--        <a href="/st/apex/carpol_account_Information"><span>Account Information</span></a>            -->
                    <!--</li>  -->
                    <!--</apex:outputpanel> -->
            <!--     </ul>-->
            <!--</li>-->
               <li  role="presentation">        
                   <a  href="/st/contacts" role="menuitem"><span>Contacts</span></a>
                </li>            
                <li id="RequirementsTemplate">
                    <a href="/st/apex/RequirementsTemplate"><span>Requirements Template</span></a>            
                </li>  
                                            
            </ul> 
      </apex:outputPanel> 
          
</apex:component>