<apex:component >
    <apex:attribute type="string" name="label" description="field label"/>
    <div class="search-section">
        <c:small_label labelName="{!label}"/>
        <apex:componentBody />
    </div>
</apex:component>