<apex:component selfClosing="false" >
    <apex:attribute name="title" type="String" description="Title that will be used in panel"  required="false"/>
    <apex:attribute name="styleClass" type="String" description="The CSS style class to be used with the component"  required="false"/>
    <apex:attribute name="description" type="String" description="Description of contents in the body of the sidebarContentBody"  required="false"/>
    <apex:attribute name="icon" type="String" description="Name of the icon that you want to use" required="false"/>
    <div class="nav nav-sidebar">
        <div class="sidebarContentModule" >
            <c:sidebarContentHeader icon="{!icon}" title="{!title}"/>
            <c:sidebarContentBody title="{!title}" styleClass="{!styleClass}" description="{!description}">
                <apex:componentBody /> 
            </c:sidebarContentBody> 
        </div>
    </div>
</apex:component>