<apex:component >
    <apex:attribute name="header" type="string" description="Title of the column header"/>
    <apex:attribute name="rightBorder" type="boolean" description="describes how the column border should be arranged." default="true" />
    <apex:attribute name="rowBorderBottom" type="boolean" description="describes how the row border should be arranged." default="true" />
    <apex:attribute name="columnDescription" type="string" description="this is the area where text describing the column will go. "/>
    <apex:attribute name="btnClassBlue" type="boolean" description="this will make the button blue" default="false" />
    <apex:attribute name="imageName" type="string" description="name of the icon to go above the header name"  /> 
    <apex:attribute name="width" type="integer" description="width of image" default="50" /> 
    <apex:attribute name="height" type="integer" description="height of image" default="50" />
    <apex:attribute type="string" required="false" name="buttonTitle" description="button title"/>
    <apex:attribute name="anchorButtonHref" type="string" description="this is the string that will make the button direct the user to a specific page"/>
    <apex:attribute name="altText" type="string" description="this is the string that will be for title attribute and alt attribute"/>
    <apex:attribute name="renderButton" type="boolean" description="show title section with button?" required="false" default="false"/>


                <!-- form section-->
                <apex:form >
                    <section class="form-section" style="padding:0px;">
                        <apex:image url="{!imageName}" alt="{!header} image" width="100%" height=""/>
                        <div class="form" style="padding:10px;">
                            <h3 class="splash-title">{!header}</h3>
                            <div class="form-group no-bottom-margin">
                                <p class="splash">{!columnDescription}</p>
                            	<div class="splash-button">
                                    <c:EFLDashboardButton rendered="{!renderButton}" anchorHref="{!anchorButtonHref}" buttonTitle="{!buttonTitle}" />
                                </div> 
                            </div>
                        </div>
                    </section>
                    <!-- form section ends-->
                </apex:form>
            
</apex:component>