<apex:component >
 
  <apex:attribute name="stageOptions" type="list" description="stage options" />
  <apex:attribute name="currentStage" type="string" description="current stage" />
  <apex:attribute name="status" type="string" description="status" />
  <apex:attribute name="processComplete" type="boolean" description="process status" />
  <apex:attribute name="activityComplete" type="boolean" description="Activity status" />

  
  <apex:form id="frm">
        <apex:slds ></apex:slds>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 

     <apex:outputPanel id="errmessages" >
      <div style="background-color:#F0F0F0;font-size:14px;color:red;" align="center" id='errorMsgInd'>
              <strong><apex:messages style="color:red;"/></strong>
     </div>
     </apex:outputPanel> 
              <div class="slds"> 

<div class="slds-grid"> 

<div class="slds-tabs--path" role="application"> 

<!--Sales Path Content UL--> 
<apex:outputPanel id="trackStage" >
    <!--apex:outputText rendered="{!shouldRedirect}">
        <script type="text/javascript">
            window.top.location.href = '{!redirectUrl}';
     </script>
     </apex:outputText-->
<ul class="slds-tabs--path__nav" role="tablist" id="TheLis"> 
</ul> 
</apex:outputPanel> 

<br/>
 
  
</div> 


 </div> 

</div>
</html> 
    </apex:form>
<style type="text/css">
        .slds-is-lost + li.slds-tabs--path__item:before{ background-color: #c23934;}
        .slds-tabs--path__item{border:none !important;}
    	
    </style>
<script> 
               
    window.onload = function() {
    myInit('{!processComplete}');
    console.log('stattus**'+{!activityComplete});
    };

function myInit(completed) {
 
var j$ = jQuery.noConflict(); 

//Picklist Values From Apex 

var picArr = {!stageOptions}; 

var picArrLen = picArr.length; 

//Get Current Picklist Value of the record 

var CurrentStg = '{!currentStage}'; 

var status = '{!status}'; 

var CurrentStgPos = picArr.indexOf(CurrentStg); // Comparing the picklist values
var theiLis = '';  

for(var i=0; i<picArrLen; i++){ 

// For completed stage           

  if(CurrentStgPos > i){ 

   theiLis += '<li  class="slds-tabs--path__item slds-is-complete" role="presentation">'+ 

'<a class="slds-tabs--path__link" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+ 

  '<span class="slds-tabs--path__stage">'+ 

'<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#check')}"></use></svg></span>'+ 

'<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>'  

  } 

// For Current Stage   

else if(CurrentStgPos == i){ 

	// If Current Stage is Last Stage if everything is completed              

    // if(i == picArrLen-1){ 
    //alert('processComplete:'+ completed);
    if(completed == "true" && {!activityComplete} == true){
  	theiLis += '<li style="width:33%;border-top-left-radius: 0px;border-bottom-left-radius: 0px;" class="{!IF(status=='Cancelled','slds-is-lost + li.slds-tabs--path__item:before','slds-tabs--path__item slds-is-complete')}" role="presentation">'+ 

        '<a class="slds-tabs--path__link" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+ 
    
        '<span class="slds-tabs--path__stage">'+ 
    
        '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#check')}"></use></svg></span>'+ 
    
        '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>'  

  }  

// If Current Stage is Not Last Stage 
    //If Current Stage is First Stage
    else if(CurrentStgPos == 0){  
        //alert('condition is false' + CurrentStgPos);
    theiLis += '<li style="width:33%;border-top-left-radius: 15px;border-bottom-left-radius: 15px;" class="{!IF(status=='Cancelled','slds-is-lost + li.slds-tabs--path__item:before','slds-tabs--path__item slds-is-current slds-is-active')}" role="presentation">'+ 

    '<a class="slds-tabs--path__link" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+ 
    
      '<span class="slds-tabs--path__stage">'+ 
    
    '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.SLDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+ 
    
    '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>'  

     }
     //If Current Stage is Last Stage
        else if(i == picArrLen-1){  
        //alert('condition is false' + CurrentStgPos);
         
        theiLis += '<li style="width:33%;" class="{!IF(status=='Cancelled','slds-is-lost cancel-round-corners','slds-tabs--path__item slds-is-current slds-is-active')}" role="presentation">'+ 
    
    '<a class="slds-tabs--path__link cancel-before-arrow" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+ 
    
      '<span class="slds-tabs--path__stage">'+ 
    
    '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.SLDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+ 
    
    '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>'  
    
         } 
     else{ 
        //alert('condition is false' + CurrentStgPos);
        theiLis += '<li style="width:33%;border-top-left-radius: 0px;border-bottom-left-radius: 0px;" class="{!IF(status=='Cancelled','slds-is-lost li.slds-tabs--path__item:before','slds-tabs--path__item slds-is-current slds-is-active')}" role="presentation">'+ 
    
    '<a class="slds-tabs--path__link cancel-before-arrow" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+ 
    
      '<span class="slds-tabs--path__stage">'+ 
    
    '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.SLDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+ 
    
    '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>'  
    
         } 

  } 

// For Next Stages 

 else if(CurrentStgPos < i){ 

  theiLis += '<li class="slds-tabs--path__item slds-is-incomplete" role="presentation">'+ 

'<a class="slds-tabs--path__link" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+ 

  '<span class="slds-tabs--path__stage">'+ 

'<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.SLDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+ 

'<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>'  

} 

}

//Adding The Created Sales Path To Sales Path Body     

    j$('#TheLis').html(theiLis); 
   }
    
    /*Move to the next stage*/ 
     function moveStage() {
            var picArr = {!stageOptions}; 
            var picArrLen = picArr.length; 
            //Get Current Picklist Value of the record 
            var CurrentStg = '{!currentStage}'; 
            var CurrentStgPos = picArr.indexOf(CurrentStg); // Comparing the picklist values 
            var nextStagePos = picArr.indexOf(CurrentStg)+1;
            var nextStage = picArr[nextStagePos];
            stageUpdate(nextStage);
           }
    
    function RefreshPrimaryTab(id, hasErr)
        { 
            var err = hasErr;
            if (err ==false){
            window.top.location.href = '/' + id;}
            
        }

</script>
</apex:component>