.THIS .nav-button-container {
    float:right !important;
}
/*
.navigation-button-start {
    color: #FFFFFF;
    background-color: #006600;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font: 13pt arial;
}

.THIS .navigation-button-green {
    color: #FFFFFF;
    background-color: #006600;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font: 12px arial;
    border-radius: 3px;
}
.THIS .navigation-button-blue {
    color: #FFFFFF;
    background-color: #003E69;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font: 12px arial;
    border-radius: 3px;
}


.THIS .slds-button_neutral:hover {
    background-color: #005500;
    color: #FFFFFF;
} */