.THIS.USDALogo {
    height : 5%;
    width : 5%
}
.THIS.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.THIS.li {
    float: left;
}
.THIS.a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}