.THIS .slds-path__nav .slds-is-active {
    background:  #003E69
}
.THIS  .slds-is-complete {
  background: #006600; 
    }
.THIS .slds-path__nav .slds-is-complete::before {
    background: #006600;
}

.THIS .slds-path__nav .slds-is-complete::after {
        background: #006600;
}

.THIS .slds-path__nav .slds-is-complete:hover {
    background: #005500;
}

.THIS .slds-path__nav .slds-is-complete:hover {
    background: #006600;
}

.THIS .slds-path__nav .slds-is-complete:hover{
        background: #006600;
}

.THIS .slds-path__nav .slds-is-active::before {
    background: #003E69
}
.THIS .slds-path__nav .slds-is-active::after {
    background: #003E69
}
.THIS .slds-path__nav .slds-is-active:hover {
    background: #152D51
}

.THIS .slds-path__nav .slds-is-active:hover {
    background: #152D51;
}

.THIS .slds-path__nav .slds-is-active:hover{
        background: #152D51;
}