.mainbody{
    margin-top:10px;
}
.pageblockmargin{
    margin-top:10px;
    margin-bottom:10px;
}
.sysInfoPanel{
    margin-top:20px !important;
}
.actionColumn a {
    text-decoration: none;
}

.informationDiv {
    font-style: italic !important;
    font-size: 12pt;
}
.important{
    color:red;
}
#panelOpenCloseIcon{
    float:right;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: none;
    border-radius: 4px;
}
.customButton{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    margin-right:28px;
 }
a .customButton .customButtonGreen {
    text-decoration:none !important;
}
.customButtonGreen:hover,.customButtonBlue:hover{
    color: #333333 !important; 
    background-color: #e6e6e6 !important;
    border-color: #8BB830 !important;

 }

.customButtonGreen {
 background-image: none !important;
 background-color: #006600  !important;
 border-color: #006600  !important;
 color: #ffffff !important;
}
.disabled {
 background-image: none !important;
 background-color: #efefef  !important;
 border-color: #efefef  !important;
 color: #333333 !important;
}
.customButtonBlue {
 background-image: none !important;
 background-color: #003E69   !important;
 border-color: #003E69   !important;
 color: #ffffff !important;
}

.email {
    word-wrap: break-word; 
}
[class*='col-'] {
    padding-right: 20px;
}
[class*='col-'] {
    float: left;
}

.col-md-10 {
    width: 81%;
}
.mainbody{
    margin-top:10px;
}

.customButton{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    margin-right:28px;
 }
a .customButton .customButtonGreen {
    text-decoration:none !important;
}
.customButtonGreen:hover,.customButtonBlue:hover{
    color: #333333 !important; 
    background-color: #e6e6e6 !important;
    border-color: #8BB830 !important;

 }

.customButtonGreen {
 background-image: none !important;
 background-color: #006600  !important;
 border-color: #006600  !important;
 color: #ffffff !important;
}
.customButtonBlue {
 background-image: none !important;
 background-color: #003E69   !important;
 border-color: #003E69   !important;
 color: #ffffff !important;
}

.email {
    word-wrap: break-word; 
}
[class*='col-'] {
    padding-right: 20px;
}
[class*='col-'] {
    float: left;
}

.col-md-10 {
    width: 81%;
}
html .brandSecondaryBrd {
    border-color: #efefef !important;
    
}
body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background-color: #efefef;
    border-bottom: 1px solid #B9B5A9;
    border-left: 1px solid #B9B5A9;
    border-right: 1px solid #B9B5A9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0px;
}
body .pbBody table.list tr.headerRow td, body .pbBody table.list tr.headerRow th {
    background: #B9B5A9;
    border-width:  1px;
    border-right-color:#CAC8C8;
    border-left-color:#B9B5A9;
    border-top-color:#B9B5A9;
    border-bottom-color:#B9B5A9;
    color: #333;
    padding: 5px 2px 4px 5px;
}
.ui-resizable-se { 
    }
body .pbBody table.list tr th, body .pbBody table.list tr td {
    border: 0px solid #CAC8C8;
    color: #333;
}
body .pbBody table.list tr.headerRow th:first-child, body .pbBody table.list tr.dataRow td:first-child {
    border-left-width: 1px;
}

body .pbBody table.list tr.last>th, body .pbBody table.list tr.last>td, .bPageBlock.bEditBlock .bRelatedList tr.dataRow.last>td, .bPageBlock.bEditBlock .bRelatedList tr.dataRow.last>th {
    border-bottom-width: 1px;
}
body .pbBody table.list tr.dataRow th, body .pbBody table.list tr.dataRow td {
    /*border-width: 1px;*/
    vertical-align: middle;
}
.bPageBlock .list .last>td, .bPageBlock .list .last>th, body.oldForecast .list .totalRow>td, body.oldForecast .list .totalRow>th {
    border-bottom-width: 1px;
}
.apexp {
    border: 1px solid #cac8c8;
    background-color:#efefef;
}

html body .bPageBlock.brandSecondaryBrd, html body .linkBar.brandSecondaryBrd, html body .bSubBlock.brandSecondaryBrd, html body #stt.brandSecondaryBrd, html body .genericTable.brandSecondaryBrd, html body .choicesBox.brandSecondaryBrd, html body .action-panel.brandSecondaryBrd, html body .zen-data.brandSecondaryBrd {
     border-bottom-color: #efefef !important; 
    border-left-color: #eaeaea !important;
    border-right-color: #eaeaea !important;
}
.panel-body{
    background-color:#e5efe5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
 .panel-default {
    border-color: #333333;
}
 .panel-success {
   border:1px solid #333333;
}
 .table-bordered {
    border: 1px solid #CAC8C8;
}
 .table-bordered th {
    background-color: #B9B5A9;
}
 .table-bordered tr {
    background-color: #f7f7f7;
}
 .well {
    background-color: #f7f7f7;
    border: 1px solid #cac8c8;
}
.panel-title h3 {
    text-align:left;
}
.panel-success > .panel-heading{
    background-color: #006600;
    color:#ffffff;
    border-color: #333333;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;
}
 .panel-default > .panel-heading {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;

}
.page-header {
    padding-bottom: 0px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: none;
}

.btnSpacer{
    margin-top:10px;
}
.buttonDiv div {
    float:left;
}
.systemInfoPanel{
    margin-top:20px;
    
}

select[multiple], select[size] {
    height: auto;
}
.multiSelectPicklistTable select{
    width:125px ;
    overflow:auto;
}
@media (min-width: 300px) 
.col-sm-6 {
    width: 50%;
}

.returnToLineItem{
    margin-right: 0px;
}
a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
/* lookup field ovveride */
.lookupInput a {
    display:block;
    position:absolute;
    top:0px;
}
.lookupInput img {
    float: right;
}
span.lookupInput {
    position:relative;
    display:inherit;
}
.spacer{
    margin-top:20px;
}
.lookupInput a, .lookupInput a{
    border:none !important;
    background: none !important;
}
.input-disabled{
    background-color:#EFEFEF;
    min-width:800px;
    max-width:860px;
    min-height:200px;
    max-height:300px;
    overflow-y: scroll;
}
form.form-horizontal.leftSpacer img{
   margin-right:5px; 
}
.inputTextBox{
    min-width:800px;
    max-width:860px;
    min-height:200px;
    max-height:300px;
    overflow-y: scroll;
}
.chatterexpando .feedpage{
    padding-left: 0px;
}
div#section_header.metadata{
    margin-top:0;
}
.pickListBox{
    width: auto !important;
}
.btnLink{
    text-decoration: none !important;
}
select option, select optgroup {
    font-size: small;
}
#smallPanel{
    padding-right:0px !important;
    padding-left: 0px !important;
}
a.customButton.customButtonBlue{
    text-decoration: none;
}
.left{
    padding-left:0px;
}
.right{
    padding-right: 0px;
}
.disableClick{
    color:#333;
    pointer-events: none;
}
input .disabledClick{
    background-color:#efefef;
    color:#333;
}
.panel a{
  text-decoration:none !important;
  
}
.error{
    background-color:red;
}
.panel-heading a:hover{
   color: white;
   text-shadow: 1px 1px 25px white; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ */
   font-weight:bold;
}
.lineItemAppDetailModule li{
    list-style:none;
    margin-left:0;
}
ul.lineItemAppDetailModule{
    padding-left:0;
}