.THIS {
}

.THIS.efl-header-content {
    max-width: 1170px;
    padding: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5px !important;   
}

.THIS .efl-USDA-heading {
    font-size:17pt;
    line-height: 21pt;  
}

.THIS .efl-APHIS-heading {
    font-size:14pt;
    line-height: 14pt; 
}

.THIS .efl-font-helvetica
{
    font-family: Helvetica;   
}

.THIS .efl-left-right-padding-none
{
    padding-right:0px !important;
    padding-left:0px !important;
}

.THIS .efl-logo
{
    float:left;
    height:51px; 
    width:78px;
}