<apex:page tabStyle="VS__c" standardController="VS__c" sidebar="false" extensions="CARPOL_VS_AddPorts">
    <apex:form >
        <div align="center">
        <apex:outputPanel id="messages">
            <apex:pageMessages />
        </apex:outputPanel>
        <apex:pageBlock >
            <apex:outputPanel id="ports">
                <c:PageBlockTableEnhancerADV targetPbTableIds="PortList"  pageSizeOptions="5" defaultPageSize="5" enableExport="false"/>
                <apex:variable var="rowNum" value="{!0}"/>
                    <apex:pageblocktable value="{!allPortsjunction}" var="p" id="PortList">     
                        <apex:column headerValue="Action">
                            <apex:variable var="rowNum" value="{!rowNum+1}"/>
                                        &nbsp;&nbsp;
                            <apex:commandLink title="Add Ports" action="{!addRow}" value="Add" reRender="ports, messages" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;" Status="actStatusId">
                                   <apex:param name="rowToBeDeleted" value="{!rowNum - 1}" assignTo="{!selectedRowIndex}"></apex:param>                            
                            </apex:commandLink>&nbsp;&nbsp;
                            <apex:commandLink title="Remove Ports" action="{!removeRow}" value="Remove" reRender="ports, messages" style="border:none;background:none;padding:0px;vertical-align:top;height:25px;width:25px;" Status="actStatusId">
                                   <apex:param name="rowToBeDeleted" value="{!rowNum - 1}" assignTo="{!selectedRowIndex}"></apex:param>                            
                            </apex:commandLink>
                        </apex:column>
                        <apex:column headerValue="Mode of Transportation">
                            <apex:inputField label="Group" value="{!p.Mode_of_Transportation__c}" id="Mode"/>
                            <script>document.getElementById('{!$Component.Mode}').disabled = {!IF(VS__c.Hand_Carry__c == 'No', true, false)}; </script>
                        </apex:column>
                        <apex:column headerValue="Method of Transportation">
                            <apex:inputField label="Group" value="{!p.Method_of_Transportation__c}" id="Method"/> 
                        </apex:column>
                        <apex:column headerValue="Port of Entry">
                            <apex:inputfield value="{!p.Port_Name__c}" id="port"/>
                            <script>document.getElementById('{!$Component.port}').disabled = {!IF(VS__c.Hand_Carry__c == 'No', true, false)}; </script>
                        </apex:column>
                    <br/>
                    </apex:pageblocktable>
                </apex:outputPanel>
                <apex:commandButton title="Save" value="Save" action="{!savePorts}" status="actStatusId" reRender="ports, messages"/>
            </apex:pageBlock>
        </div>
    </apex:form>
</apex:page>