<apex:page standardController="Phenotype__c"  sidebar="false" standardStylesheets="false" showHeader="false">    
       <apex:outputPanel id="showinstructions" style="width:100%" rendered="{!NOT(ISBLANK(Phenotype__c.Applicant_Instructions__c))}">
        <table width="100%" height="100%" style="background-color: #FFFFFF;font-family: Helvetica, Arial, sans-serif;">
             <tr align="left">
                <td valign="top" width="50%" style="color:#006600;"><b>Applicant Instructions:</b> {!Phenotype__c.Applicant_Instructions__c}</td>             
            </tr> 
        </table> 
        </apex:outputpanel>
</apex:page>