<apex:page standardController="Application__c" extensions="CARPOL_VS_AppFeePayment_extension" action="{!computePaymentSummary}" showheader="false" sidebar="false" >
<apex:form >

<html>
<head>
    <style type="text/CSS">
        tr.dataRow {
               background-color:white;
            }
        tr.dataRow#vsData:hover {
               background-color: #e3f3ff;
        };
    </style>
</head>
</html>
<apex:sectionHeader title="Payment Summary" subtitle="{!Application__c.Name}"/>
<div style="background-color:#F0F0F0;font-size:15px;" align="center">
  <table width="100%" Id="paymentTitle">
        <tr align="center">
            <td style="color:#006600;;font-size:1.5em" valign="middle">
                <apex:outputText ><br/>Certify and Sign</apex:outputText><br/>
            </td>
        </tr>
  </table>  
</div>
<div style="font-size:15px;" align="left">
  <table width="100%" Id="paymentTitle">
        <tr align="center">
            <td valign="middle">
                <br/>
                <!--<apex:inputCheckbox styleClass="esign_chkbox" value="{!isEsigned}">
                    <apex:actionSupport event="onchange" rerender="paymentType"/>
                </apex:InputCheckBox>
                <apex:outputText > I certify that all information provided on this form is true and accurate. I further understand that providing false information is a violation of the U.S. Federal laws and USDA Animal Welfare Act Regulations and is punishable with a fine of up to $10,000 USD per violation.</apex:outputText><br/>
                <br/>&nbsp;&nbsp;&nbsp;&nbsp;-->
            </td>
        </tr>
  </table>  
</div>
<div align="center">
                    
                    <br></br>
                    <u><i><b><apex:outputLabel style="text-align: center;font-size:15px" value="Note: This is a processing fee and does not guarantee that a permit or shipment release will be issued. Once you submit, you will not be able to get a refund."/></b></i></u>
</div><br/>
<div style="background-color:#F0F0F0;font-size:15px;" align="center">
  <table width="100%" Id="paymentTitle">
        <tr align="center">
            <td style="color:#006600;;font-size:1.5em" valign="middle">
                <apex:outputText ><br/>Application Processing Fees</apex:outputText><br/>
            </td>
        </tr>
  </table>  
</div>

<div style="background-color:#FFFFFF;font-size:12px;" align="Center">
<table width="80%" align="center">
                    <tr bgcolor="#006600" align="center">
                        <td>
                            <br/><apex:outputLabel style="color:#FFFFFF; font-size:14px;">Line Item(s)</apex:outputLabel><br/><br/>
                        </td>
                        <td>
                            <br/><apex:outputLabel style="color:#FFFFFF; font-size:14px;">Cost</apex:outputLabel><br/><br/>
                        </td>
                    </tr>
                    <apex:variable var="i" value="{!0}"/>
                    <apex:repeat value="{!thumbPrintItems}" var="thumbKey">
                        
                        <!--Line Items-->
                        <apex:repeat value="{!thumbPrintItems[thumbKey]}" var="Item">
                            <tr bgcolor="#EFEFEF">
                                <td>
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;
                                <apex:outputLabel style="font-size:14px">{!Item.LineItem.Name}</apex:outputLabel>
                                <apex:outputLabel rendered="{!Item.LineItem.Program_Line_Item_Pathway__r.Program__r.Name !='PPQ'}" style="font-size:14px">(<i>{!Item.lineItem.RecordType.Name}</i>)</apex:outputLabel>
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td align="center">
                                    <apex:outputText >$0.00</apex:outputText>
                                </td>
                            </tr>
                        </apex:repeat>
                        <!--Application fee and Permit total-->
                        <tr bgcolor="#EFEFEF">
                            <td>
                                <br></br>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <apex:outputLabel style="font-size:14px;">Processing Fee</apex:outputLabel>
                                <br></br>
                                <br></br>
                            </td>
                            <td align="center">
                                <br></br>
                                <apex:outputText >${!permitTotals[thumbKey]}</apex:outputText>
                                <br></br>
                                <br></br>
                            </td>
                        </tr>
                    </apex:repeat>
                   <tr bgcolor="#E5EFE5"> 
                           <td>  
                               <br></br> 
                               <apex:outputLabel style="color:#0F2F8A; font-size:14px;">Grand Total:</apex:outputLabel> 
                               <br></br> 
                              <br></br> 
                            </td> 
                            <td align="center"> 
                               <br></br> 
                               <apex:outputText >${!totalAmount}</apex:outputText> 
                              <br></br> 
                               <br></br> 
                           </td> 
                        </tr> 
                <!-- <tr>
                        <td align="right">
                            <br/><apex:outputLabel style="color:#006600;font-size:1.0em;font-weight:bold;">Grand Total</apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td align="center">
                            <br/><apex:outputLabel style="color:#006600; font-size:1.0em;font-weight:bold;">${!totalAmount}</apex:outputLabel>
                        </td>
                    </tr>   Commented by Nupur--->
                </table>
</div>
 
<div align="center">
    <apex:outputPanel id="messages">
    <apex:pageMessages />
    </apex:outputPanel>
</div>
        
<div style="background-color:#F0F0F0;font-size:15px;" align="center">
  <table width="100%" Id="paymentTitle">
    <tr align="center">
      <td> 
        <p style="color:#006600"><b>Payment Type</b></p>
      </td>                   
    </tr>
  </table>  
</div>

<apex:pageBlock >
  <div align="center">
    <apex:outputPanel id="paymentType">
      <table align="center" width="100%">
        <tr class="dataRow">
          <td class="datacell">
            <apex:outputLabel title="Payment Type" value="Select Payment Type:" style="font-weight:bold; font-size:14px;"></apex:outputLabel>&nbsp;&nbsp;&nbsp;
            <apex:selectRadio title="Payment Type" label="Payment Type" style="font-size:12px;" value="{!paymentType}" id="paymentTypes">
            <apex:actionSupport event="onchange" action="{!paymentTypeChangeAction}" reRender="paymentType, submitPanel"/>
            <apex:selectOptions value="{!paymentTypeOptions}"/>
            </apex:selectRadio>
          </td>
          
          
        </tr>
        <tr>
          <td colspan="2">
            <div id="MailInCheck" style="display:{!if(showMailInCheck,"block","none")};background-color:#FFFFFF;font-size:12px;">
              <table align="center" width="100%" >
                <tr>
                  <td align="left">
                    <p style="font-size:14px;color:#006600"><apex:outputLabel value="Your New Application will be put on hold until APHIS receives your payment of" style="font-weight:bold" rendered="{!showMailInCheck}"/>&nbsp;&nbsp;
                    <apex:outputLabel style="color:#006600; font-size:1.0em;font-weight:bold;">${!totalAmount}</apex:outputLabel></P>
                    <br></br>
                   </td>
                 </tr>
                 <tr>
                   <td>
                     <apex:outputLabel value="Please print this screen and send it with your check to: " style="font-weight:bold" rendered="{!showMailInCheck}"/>
                     <br></br>
                   </td>
                 </tr>
                 <tr>
                   <td>
                     <apex:outputLabel value="USDA APHIS Veterinary Services" /><br></br>
                     <apex:outputLabel value="National Center for Import-Export, Products Program" /><br></br>
                     <apex:outputLabel value="4700 River Road, Unit 40" /><br></br>
                     <apex:outputLabel value="Riverdale, Maryland 20737-1231"/><br></br><br></br>
                     <apex:inputText id="inputBox" style="margin-right:10px;width:220px; " styleClass="form-horizontal"
                        value="{!checkNumber}" onkeyup="showSubmit();" html-placeholder="Enter Check/Money Order Number" /><br></br><br></br>
                     <apex:inputCheckbox value="{!acceptPayment}" id="my_chk_bx" onchange="showSubmit();"/>
                     <apex:outputLabel style="color:#006600" value=" I agree to pay ">${!totalAmount}</apex:outputLabel>
                     <apex:outputLabel style="color:#006600" value=" to APHIS for processing this permit application."/><br></br>

                   </td>
                 </tr>
                 <tr>
                   <td>
                     <br></br>
                     <i><apex:outputLabel value="Payment is a processing fee and does not guarantee permit approval."/>&nbsp;&nbsp;</i>
                   </td>
                 </tr>
             </table>
           </div>
         </td>
       </tr>
     </table>
   </apex:outputPanel>
    
   <apex:outputPanel id="submitPanel">
                <br/>
                <table>
                    <tr align="center"><td colspan="2"><apex:actionStatus id="actStatusId"><apex:facet name="start" ><img src="/img/loading.gif" /></apex:facet></apex:actionStatus></td></tr>                    
                    <tr align="center">
                        <td><apex:commandButton value="Cancel" action="{!doCancel}" style="font-size:13px;" status="actStatusId"/></td>                        
                        <td>                            
                            <apex:commandButton value="Submit Payment" onclick="freezebtn(this)" oncomplete="afterFreeze();" disabled="{!IF(showMailInCheck, !checkNumEntered, false)}"  style="font-size:13px;" status="actStatusId"/>                                                                                                                                          
                            <apex:actionFunction name="afterFreeze" action="{!processPayGov}"/>
                        </td>
                    </tr>
                </table>                
   </apex:outputPanel>
   <apex:actionFunction name="showSubmit" action="{!isCheckNumEntered}" rerender="submitPanel" status="" />
  </div>
</apex:pageBlock>
</apex:form>
<script>
    function freezebtn(currentBtn)
    {
        currentBtn.disabled = true;
        currentBtn.value = 'Submitting...';        
        
    }
</script>
</apex:page>