<!-- apex:page sidebar="false" showHeader="false">
 
    <br/><br/><br/>
    <table align="left">
        <tr>
            <td><apex:image url="{!URLFOR($Resource.USDALogo)}" width="160" height="110"/></td>
        </tr>
    </table>
    <table align="right">
        <tr>
            <td><apex:image url="{!URLFOR($Resource.APHISLogo)}" width="300" height="100"/></td>
        </tr>
    </table>
    <table align="center">
        <tr align="center">
            <td valign="center"><p><font face="verdana" color="green" style="font-size:42px">CARPoL eFILE SYSTEM</font></p></td>
        </tr>
    </table>
</apex:page>
-->

<apex:page sidebar="false" showHeader="false" >
<apex:form >
   
    </apex:form>
</apex:page>