<apex:page standardController="Inspection__c" extensions="CARPOL_InspectionLetter_controller">
<script>function setFocusOnLoad() {}</script>
    <apex:form >
        <div align="center">
            <apex:outputPanel id="messages">
                <apex:pageMessages />
            </apex:outputPanel> 
        </div>
        <apex:pageBlock title="{!Inspection__c.Name}">
            <div align="left">
                
                
                        <a href="/{!Inspection__c.ID}">Click here to go back to {!Inspection__c.Name}</a>
                 
                  
            </div>
            <div align="center">
                <table>
                    <tr align="center">
                        <td>
                            <apex:commandButton value="Save" title="Save Draft" action="{!savedraft}" status="actionStatusId" />
                        </td>
                        <td><apex:commandButton value="Preview" title="Preview Compliance Letter" onclick="previewAuthorization()"/></td>
                        <td><apex:commandButton value="Attach" title="Attach Compliance Letter" action="{!attachLetter}" status="actionStatusId" /></td>
                        
                        <td><apex:commandButton value="Cancel" title="Cancel"  status="actionStatusId"/></td>
                        
                    </tr>
                    <tr align="center"><td colspan="3"><apex:actionStatus id="actionStatusId"><apex:facet name="start" ><img src="/img/loading.gif" /></apex:facet></apex:actionStatus></td></tr>
                </table>
                <script type="text/javascript">
                    function previewAuthorization()
                    {
                        var url = '{!baseURL}' + '/apex/CARPOL_InspectionLetterPDF?id=' + '{!Inspection__c.ID}';
                        var win = window.open(url, '_blank');
                        win.focus();
                    }
                </script>
            </div>
            <apex:pageBlockSection title="{!letterType} for {! Inspection__c.Name}">
                <apex:inputField label="Template" value="{!inspection.Communication_Manager_Template__c}"/>
                
            </apex:pageBlockSection>
            
            <div align="center">
                <table>
                    <tr align="center">
                       <td><apex:commandButton value="Populate Template" title="Populate Template" action="{!populateTemplate}" status="actStatusId"  /></td>
                    </tr>
                    <tr align="center"><td><apex:actionStatus id="actStatusId"><apex:facet name="start" ><img src="/img/loading.gif" /></apex:facet></apex:actionStatus></td></tr>
                </table>
            </div>
            
            <div align="center">
                <apex:outputPanel id="preview">
                    <table width="100%" height="500px" align="center">
                        <tr>
                            <td width="100%">
                                <br/>
                                <table width="75%" align="center">
                                    <tr>
                                        <td><apex:inputField label="Letter Content" value="{!inspection.Compliance_letter_content__c}"  /></td>
                                        <!--<td><apex:outputField label="Letter Content" value="{!incident.EFL_Compliance_letter_content__c}" /></td>-->
                                    </tr>
                                </table>
                            </td>
                            <!-- <td>
                                <br/>
                                <table align="center" width="100%">
                                    <tr>
                                        <td><iframe src="{!templateURL}" style="width:650px; height:469px;" frameborder="0"></iframe></td>
                                    </tr>
                                </table>
                            </td> -->
                        </tr>
                    </table>
                </apex:outputPanel>
            </div>
            </apex:pageBlock>
            </apex:form>
</apex:page>