<apex:page standardController="AC__c" renderAs="PDF" extensions="CARPOL_AC_Letters">
  
  <div> <c:CARPOL_WizardHeader showefile="false"></c:CARPOL_WizardHeader></div>
  <div>
        <br/><br/>
        <apex:outputText value="{0,date,MMMM dd, yyyy}">   
          <apex:param value="{!TODAY()}" /> 
        </apex:outputText><br/><br/>
          <br/>
          Dear Applicant,<br/>
          <p>This letter is in response to your application to import live dog(s) into the United States. 
          Please note that the following items you wish to import are prohibited entry.</p>
          <p>Only those products reflected on the admissible list can be imported into the United States with a formal permit(AD 1040). 
              Live Dog(s) online manual may be used to obtain additional information. <br/> <br/>
          Visit our website at:<apex:outputlink value="http://www.aphis.usda.gov/wps/portal/aphis/home/" target="_blank">http://www.aphis.usda.gov/wps/portal/ap/</apex:outputlink> for more information.</p>
          
          
          <apex:outputPanel id="criteria" rendered="{!showCriteria}" >
          Your selected criteria : 
          <br/><br/>
          <div align="center">
              <apex:pageBlock >
                <apex:pageBlockTable align="center" id="answerTrace" title="Answer Trace" value="{!allAnswerTrace}" var="ansTrc" style="width:100%"> 
                    <apex:column headerValue="Question No" value="{!ansTrc.questionNo}"/>
                    <apex:column headerValue="Question" value="{!ansTrc.question}"/>
                    <apex:column headerValue="Answer" value="{!ansTrc.answer}"/>
                </apex:pageBlockTable>
              </apex:pageBlock>
          </div>
          <br/><br/>
      </apex:outputPanel>
          
          Live Dog(s) online manual may be used to obtain additional information. <br/> <br/>
          <p>Visit our website at:<apex:outputlink value="http://www.aphis.usda.gov/wps/portal/aphis/home/" target="_blank">http://www.aphis.usda.gov/wps/portal/ap/</apex:outputlink> 
          for more information.</p>
          
          For additional questions, call our automated phone system at: 1-877-770-5990 or 301-851-2101.<br/><br/>

          Thank You,<br/><br/>
          
          ePermits <br/><br/>          
          
          APHIS Animal Care<br/>
          301-851-3740<br/>
          Animal and Plant Health Inspection Service<br/>
          United States Department of Agriculture<br/>
   </div>       
    
      <br/><br/>
</apex:page>