<apex:page docType="html-5.0" standardController="Authorizations__c" extensions="CARPOL_AC_LiveDogPermit_Auth_extension" renderAs="PDF">
<apex:form >
        <apex:outputPanel id="messages">
            <div style="color:red;"><apex:pageMessages /></div>
        </apex:outputPanel>
        <apex:pageBlock >
        <table width="100%">
            <tr>
                <td colspan="5" style="font-size:9px;border-right: thin solid black;border-top: thick solid black;border-bottom: thick solid black;">
                    According ot the Paperwork Reduction Act of 1995, an agency may not conduct or sponsor, and aa person is not required to respond to, a collection of information
                    unless it displays a valid OMB control number. The valid OMB control number for this information collection is 0579-0379. The time required to complete this
                    information collection is estimated to average .25 hours per response, including the time for reviewing instructions, searching existing data sources,
                    gathering and maintaining the data needed, and completing and reviewing the collection of information.
                </td>
                <td align="center" style="font-size:10px;border-top: thick solid black;border-bottom: thick solid black;" width="13%">
                    OMB Approved<br/>0579-0379<!--br/>Exp.:  <apex:outputText value="{0,date,MM'/'dd'/'yyyy}"><apex:param value="{!Authorizations__c.Expiration_Date__c}" /></apex:outputtext-->
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size:10.5px;border-right: thick solid black;border-bottom: thick solid black;text-align:center;" width="45%">
                    UNITED STATES DEPARTMENT OF AGRICULTURE <br/>ANIMAL AND PLANT HEALTH INSPECTION SERVICE <br/> <b>ANIMAL CARE</b>
                </td>
                <td colspan="2" style="font-size:20px;border-right: thick solid black;border-bottom: thick solid black;text-align:center" width="35%">
                <b>Import Permit for Dogs</b>
                </td>
                <td colspan="2" style="font-size:10px;border-bottom: thick solid black;text-align:center;vertical-align: text-top" width="20%">
                    <b>Permit Number (<i>to be completed by authorized personnel</i>)</b><br/><i>{!Authorizations__c.Permit_Number__c}</i>
                </td>
            </tr>
            <table width="100%">
            <!-- <apex:repeat value="{!oneLineItem[0][0]}" var="oneLineItem[0]"> -->
                <tr> 
                    <td colspan = "6" style = "font-size:13px;border-bottom: thin solid black;vertical-align: text-top">  
                         1. Name and Address of the person intending to export dog(s) to the continental United States and Hawaii: <br/>
                                   <i> {!oneLineItem[0].Exporter_First_Name__c} {!oneLineItem[0].Exporter_Last_Name__r.Name} &nbsp; {!IF(NOT(ISBLANK(onelineitem[0].Exporter_Last_Name__r.EFL_Business_Name__c)), '- '+onelineitem[0].Exporter_Last_Name__r.EFL_Business_Name__c, '')} <br/> {!IF( NOT(ISBLANK(oneLineItem[0].Exporter_Mailing_Street__c)), oneLineItem[0].Exporter_Mailing_Street__c + ', ','' )} {!IF( NOT(ISBLANK(oneLineItem[0].Exporter_Mailing_City__c)), oneLineItem[0].Exporter_Mailing_City__c + ', ','' )} {!IF( NOT(ISBLANK(oneLineItem[0].Exporter_Mailing_State_ProvinceLU__r.Name)), oneLineItem[0].Exporter_Mailing_State_ProvinceLU__r.Name + ', ','' )} {!oneLineItem[0].Exporter_Mailing_CountryLU__r.Name} {!oneLineItem[0].Exporter_Mailing_Zip_Postal_Code__c} </i>
                    </td>
                </tr>
                <tr> 
                    <td colspan = "2" style = "font-size:13px;border-bottom: thick solid black; border-right: thin solid black" width="35%">  
                         Phone Number (<i>including country code</i>): <br/>
                                   <i> {!oneLineItem[0].Exporter_Phone__c}</i>
                    </td>
                    <td colspan = "2" style = "font-size:13px;border-bottom: thick solid black; border-right: thin solid black" width="30%">  
                         Fax Number (<i>if applicable</i>): <br/>
                                   <i> {!oneLineItem[0].Exporter_Fax__c} </i>
                    </td>
                    <td colspan = "2" style = "font-size:13px;border-bottom: thick solid black"  width="35%">  
                         Email address (<i>if applicable</i>): <br/>
                                   <i> {!oneLineItem[0].Exporter_Email__c} </i>
                    </td>
                </tr>
                <tr> 
                    <td colspan = "6" style = "font-size:13px;border-bottom: thin solid black">  
                         2. Name and Address of the person intending to import dog(s) to the continental United States and Hawaii: <br/>
                                    <i> {!oneLineItem[0].Importer_First_Name__c} {!oneLineItem[0].Importer_Last_Name__r.Name} &nbsp; {!IF(NOT(ISBLANK(onelineitem[0].Importer_Last_Name__r.EFL_Business_Name__c)), '- '+onelineitem[0].Importer_Last_Name__r.EFL_Business_Name__c, '')} <br/>{!IF( NOT(ISBLANK(oneLineItem[0].Importer_Mailing_Street__c)), oneLineItem[0].Importer_Mailing_Street__c + ', ','' )} {!IF( NOT(ISBLANK(oneLineItem[0].Importer_Mailing_City__c)), oneLineItem[0].Importer_Mailing_City__c + ', ','' )} {!IF( NOT(ISBLANK(oneLineItem[0].Importer_Mailing_State_ProvinceLU__r.Name)), oneLineItem[0].Importer_Mailing_State_ProvinceLU__r.Name + ', ','' )} {!oneLineItem[0].Importer_Mailing_CountryLU__r.Name} {!oneLineItem[0].Importer_Mailing_ZIP_code__c} </i>
                    </td>
                </tr>
                <tr> 
                    <td colspan = "2" style = "font-size:13px;border-bottom: thin solid black; border-right: thin solid black" width="35%">  
                         Phone Number (<i>including country code</i>): <br/>
                                   <i> {!oneLineItem[0].Importer_Phone__c} </i>
                    </td>
                    <td colspan = "2" style = "font-size:13px;border-bottom: thin solid black; border-right: thin solid black" width="30%">  
                         Fax Number (<i>if applicable</i>): <br/>
                                    <i> {!oneLineItem[0].Importer_Fax__c} </i>
                    </td>
                    <td colspan = "2" style = "font-size:13px;border-bottom: thin solid black"  width="35%">  
                         Email address (<i>if applicable</i>): <br/>
                                   <i> {!oneLineItem[0].Importer_Email__c}</i>
                    </td>
                </tr>
                <tr> 
                    <td colspan = "6" style = "font-size:13px;border-bottom: thick solid black">  
                         USDA license/registration number and expiration date <i>(if applicable)</i>: <br/>
                                   <i> {!oneLineItem[0].Importer_USDA_License_Number__c}&nbsp;&nbsp;
                        <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                            <apex:param value="{!oneLineItem[0].Importer_USDA_License_Expiration_Date__c}" /> 
                         </apex:outputText> </i><br/>
                                    <i> <!--{!oneLineItem[0].Permit_Expiration_Date__c} &nbsp;&nbsp;-->
                                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                    <apex:param value="{!oneLineItem[0].Permit_Expiration_Date__c}" /> 
                                    </apex:outputText> </i>
                    </td>
                </tr>
            <!-- </apex:repeat> -->
        </table>
         
        <table width="100%">
                <tr> 
                    <td colspan = "9" style = "font-size:13px;border-bottom: thick solid black">  
                         3. Identification of dog(s) <i>(for additional space, use APHIS form 7040A)</i>: 
                    </td>
                </tr>
                <tr> 
                    <td colspan = "1" style = "font-size:13px;border-bottom: thick solid black;border-right:thin solid black;text-align:center" width="5%">  
                          Number
                    </td>
                    <td colspan = "1" style = "font-size:13px;border-bottom: thick solid black;border-right:thin solid black;text-align:center" width="20%">  
                           Purpose of Importation 
                    </td>
                    <td colspan = "1" style = "font-size:13px;border-bottom: thick solid black;border-right:thin solid black;text-align:center" width="15%">  
                         Breed
                    </td>
                    <td colspan = "1" style = "font-size:13px;border-bottom: thick solid black;border-right:thin solid black;text-align:center" width="5%">  
                         Sex
                    </td>
                    <td colspan = "1" style = "font-size:13px;border-bottom: thick solid black;border-right:thin solid black;text-align:center" width="10%">  
                        Age
                    </td>
                    <td colspan = "1" style = "font-size:13px;border-bottom: thick solid black;border-right:thin solid black;text-align:center" width="10%">  
                        Color
                    </td>
                    <td colspan = "1" style = "font-size:13px;border-bottom: thick solid black;border-right:thin solid black;text-align:center" width="10%">
                         Microchip Number  
                    </td>
                     <td colspan = "1" style = "font-size:13px;border-bottom: thick solid black;border-right:thin solid black;text-align:center" width="10%"> 
                        Tatoo Number
                    </td>
                    <td colspan = "1" style = "font-size:13px;border-bottom: thick solid black;text-align:center" width="15%"> 
                        Other Identifying Information
                    </td>
                </tr> 
                <apex:variable var="liveDogCount" value="{!0}" />                
                <apex:repeat value="{!allLineItems}" var="acLiveDog">
                    <tr>
                        <td colspan = "1" style = "font-size:13px;border-bottom: thin solid black;border-right:thin solid black;text-align:center">  
                            <i><apex:variable var="liveDogCount" value="{!liveDogCount+1}" /><apex:outputText value="{!liveDogCount}" /></i>
                        </td>
                        <td colspan = "1" style = "font-size:13px;border-bottom: thin solid black;border-right:thin solid black;text-align:center">  
                            <!--<i>{!acLiveDog.Intended_Use__r.Name}</i>-->
                          <i>Resale/Adoption</i>
                                                          
                        </td>
                        <td colspan = "1" style = "font-size:13px;border-bottom: thin solid black;border-right:thin solid black;text-align:center">  
                            <i>{!acLiveDog.Breed_Name__c}</i>
                        </td>
                        <td colspan = "1" style = "font-size:13px;border-bottom: thin solid black;border-right:thin solid black;text-align:center">  
                            <i>{!acLiveDog.Sex__c}</i>
                        </td>
                        <td colspan = "1" style = "font-size:13px;border-bottom: thin solid black;border-right:thin solid black;text-align:center">  
                            <i>{!acLiveDog.Age_yr_months__c}</i>
                        </td>
                        <td colspan = "1" style = "font-size:13px;border-bottom: thin solid black;border-right:thin solid black;text-align:center">  
                            <i>{!acLiveDog.Color__c}</i>
                        </td>
                        <td colspan = "1" style = "font-size:13px;border-bottom: thin solid black;border-right:thin solid black;text-align:center">
                            <i>{!acLiveDog.Microchip_Number__c} </i>
                        </td>
                        <td colspan = "1" style = "font-size:13px;border-bottom: thin solid black;border-right:thin solid black;text-align:center">    
                            <i> {!acLiveDog.Tattoo_Number__c}</i>
                        </td>
                        <td colspan = "1" style = "font-size:13px;border-bottom: thin solid black;text-align:left">    
                            <i> {!acLiveDog.Other_identifying_information__c}</i>
                        </td>
                    </tr>
                </apex:repeat>
            </table>
            <br/><br/>  
            <table width="100%">
            <!-- <apex:repeat value="{!oneLineItem[0]}" var="oneLineItem[0]"> -->
                <tr> 
                    <td colspan = "6" style = "font-size:13px;border-bottom: thin solid black;vertical-align: text-top">  
                         4. Port of export and the mode of transportation <i>(for additional space, use APHIS form 7040A)</i> <br/>
                                   <i> {!oneLineItem[0].Port_of_Embarkation__r.Name}, {!oneLineItem[0].Transporter_Type__c}</i>
                    </td>
                </tr>
                <tr> 
                    <td colspan = "3" style = "font-size:12.5px;border-bottom: thin solid black; border-right: thin solid black" width="67%">  
                         Name of ground, sea, or air transporter (<i>for air transport include: carrier, flight number(s), departure time(s), and arrival time(s)</i>) <i>(for additional space, use APHIS form 7040A)</i>: <br/>
                                     <i> {!IF(NOT(ISBLANK(oneLineItem[0].Transporter_Name__c)),oneLineItem[0].Transporter_Name__c + ' ','')} {!oneLineItem[0].Air_Transporter_Flight_Number__c}<br/>
                                    Departure Date - &nbsp; <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                        <apex:param value="{!oneLineItem[0].Departure_Time__c}" /> 
                                                     </apex:outputText> ; &nbsp; 
                                     Departure Time - <apex:outputText value="{!oneLineItem[0].AC_Departure_Time__c}" > 
                                    <!--rendered="{!if(oneLineItem[0].Transporter_Type__c=='Air',true,false)}" -->
                                    </apex:outputText>&nbsp;&nbsp;<br/>
                                    
                                    Arrival Date - &nbsp; <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                                        <apex:param value="{!oneLineItem[0].Proposed_date_of_arrival__c}" /> 
                                                     </apex:outputText> ; &nbsp; 
                                    Arrival Time - <apex:outputText value="{!oneLineItem[0].AC_Arrival_Time__c}" >
                                     <!--rendered="{!if(oneLineItem[0].Transporter_Type__c=='Air',true,false)}"-->
                                     </apex:outputText>
                                     </i>
                                   
                    </td>
                    <td colspan = "3" style = "font-size:12.5px;border-bottom: thin solid black;" width="33%">  
                         USDA registration number and expiration date <i>(if applicable)</i>: <br/> 
                                    <i> {!oneLineItem[0].USDA_License_Number_Format__c} &nbsp;&nbsp;
                                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                    <apex:param value="{!oneLineItem[0].USDA_License_Expiration_Date__c}" /> 
                                    </apex:outputText> </i><br/>
                                    <i> <!--{!oneLineItem[0].Permit_Expiration_Date__c} &nbsp;&nbsp;-->
                                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                    <apex:param value="{!oneLineItem[0].Permit_Expiration_Date__c}" /> 
                                    </apex:outputText> </i>
                                    
                                    
                                   
                                    
                    </td>
                </tr>
                <tr> 
                    <td colspan = "3" style = "font-size:12.5px;border-bottom: thick solid black; border-right: thin solid black" width="67%">  
                         Port of entry in the continental United States or Hawaii: <br/>
                                    <i>{!oneLineItem[0].Port_of_Entry__r.Name}</i>
                    </td>
                    <td colspan = "3" style = "font-size:12.5px;border-bottom: thick solid black;" width="33%">  
                         Proposed date of arrival in the continental United States or Hawaii: <br/>
                                    <i><apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                    <apex:param value="{!oneLineItem[0].Proposed_date_of_arrival__c}" /> 
                                    </apex:outputText> </i>
                    </td>
                </tr>
            <!-- </apex:repeat> -->
            </table>
            
            <table width="100%">
            <!-- <apex:repeat value="{!oneLineItem[0]}" var="oneLineItem[0]"> -->
                <tr> 
                    <td colspan = "6" style = "font-size:13px;border-bottom: thin solid black">  
                         5. Name and Address of the person to who the dog(s) will be delivered in the continental United States or Hawaii and, if the dog(s)
                          is/are imported for research purposes, the USDA registration number of the research facility where the dog(s) will be used fore research,
                          tests, and/or experiments <i>(for additional space, use APHIS form 7040A)</i>: <br/>
                                    <i>{!oneLineItem[0].DeliveryRecipient_First_Name__c} {!oneLineItem[0].DeliveryRecipient_Last_Name__r.Name} &nbsp; {!IF(NOT(ISBLANK(onelineitem[0].DeliveryRecipient_Last_Name__r.EFL_Business_Name__c)), '- '+onelineitem[0].DeliveryRecipient_Last_Name__r.EFL_Business_Name__c, '')}<br/>{!IF( NOT(ISBLANK(oneLineItem[0].DeliveryRecipient_Mailing_Street__c)), oneLineItem[0].DeliveryRecipient_Mailing_Street__c + ', ','' )} {!IF( NOT(ISBLANK(oneLineItem[0].DeliveryRecipient_Mailing_City__c)), oneLineItem[0].DeliveryRecipient_Mailing_City__c + ', ','' )} {!IF( NOT(ISBLANK(oneLineItem[0].Delivery_Recipient_State_ProvinceLU__r.Name)), oneLineItem[0].Delivery_Recipient_State_ProvinceLU__r.Name + ', ','' )} {!oneLineItem[0].DeliveryRecipient_Mailing_CountryLU__r.Name} {!oneLineItem[0].DeliveryRecipient_Mailing_Zip__c} </i>
                    </td>
                </tr>
                <tr> 
                    <td colspan = "2" style = "font-size:13px;border-bottom: thin solid black; border-right: thin solid black" width="35%">  
                         Phone Number (<i>including country code</i>): <br/>
                                    <i>{!oneLineItem[0].DeliveryRecipient_Phone__c}</i>
                    </td>
                    <td colspan = "2" style = "font-size:13px;border-bottom: thin solid black; border-right: thin solid black" width="30%">  
                         Fax Number (<i>if applicable</i>): <br/>
                                    <i>{!oneLineItem[0].DeliveryRecipient_Fax__c}</i>
                    </td>
                    <td colspan = "2" style = "font-size:13px;border-bottom: thin solid black"  width="35%">  
                          Email address (<i>if applicable</i>): <br/>
                                    <i>{!oneLineItem[0].DeliveryRecipient_Email__c}</i>
                    </td>
                </tr>
                <tr> 
                    <td colspan = "6" style = "font-size:13px;border-bottom: thick solid black">  
                         USDA license/registration number and expiration date <i>(if applicable)</i>: <br/>
                                    <i> {!oneLineItem[0].DeliveryRecipient_USDA_License_Number__c} &nbsp;&nbsp;
                                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                    <apex:param value="{!oneLineItem[0].DeliveryRec_USDA_License_Expiration_Date__c}"/>
                                    </apex:outputText> </i><br/>
                                    <i> <!--{!oneLineItem[0].Permit_Expiration_Date__c} &nbsp;&nbsp;-->
                                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                    <apex:param value="{!oneLineItem[0].Permit_Expiration_Date__c}" /> 
                                    </apex:outputText> </i>
                    </td>
                </tr>
            <!-- </apex:repeat> -->
            </table>
            
            <table width="100%">
            <tr>
              <td colspan="3" style="font-size:14px; border-bottom: thick solid black; vertical-align:top;" align="left" width="100%">
                  6. The condition of import:<br/>
                  <i><b>Import Requirements: </b></i><br/>
                  <apex:repeat value="{!scjA}" var="IR">
                          <li><i><b><apex:outputText value="{!IR.Regulation_Short_Name__c}"/>&nbsp;:&nbsp;</b>
                          <apex:outputText value="{!IR.Regulation_Description__c}" escape="false"/></i></li><br/>
                  </apex:repeat>
                  <br/>
                  <i><b>Additional Information: </b></i><br/>
                  <apex:repeat value="{!scjB}" var="IO">
                  <li><i><b><apex:outputText value="{!IO.Regulation_Short_Name__c}"/>&nbsp;:&nbsp;</b>
                  <apex:outputText value="{!IO.Regulation_Description__c}" escape="false"/></i></li><br/>
                  </apex:repeat>
                  <br/>
                  <i><b>Instructions for Officers: </b></i><br/>
                  <apex:repeat value="{!scjC}" var="AI">
                  <li><i><b><apex:outputText value="{!AI.Regulation_Short_Name__c}"/>&nbsp;:&nbsp;</b>
                  <apex:outputText value="{!AI.Regulation_Description__c}" escape="false" /></i></li><br/>
                  </apex:repeat>
                  <br/>
              </td>
            </tr>
            </table>
            
            <table width="100%">
                <tr style="height:75px">
                    <td style="font-size:14px; border-bottom: thick solid black; border-right: thick solid black; vertical-align:top;" align="left" width="40%">
                        USDA signature:<br/>
 
                    </td>
                    <td style="font-size:14px; border-bottom: thick solid black; border-right: thick solid black; vertical-align:top;" align="left" width="30%">
                        Printed name:<br/>
                        <!-- <i>{!Authorizations__c.Issuer_Name__c}</i> -->
                        <br/>
                    </td>
                    <td style="font-size:14px; border-bottom: thick solid black;border-right: thick solid black; vertical-align:top;" align="left" width="15%">
                        Issued Date:<br/>
                        <i><apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                        <apex:param value="{!Authorizations__c.Date_Issued__c}" /> 
                        </apex:outputText></i>
                        <br/>
                    </td>
                    <td style="font-size:14px; border-bottom: thick solid black; vertical-align:top;" align="left" width="15%">
                        Expiration Date:<br/>
                        <i><apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                        <apex:param value="{!Authorizations__c.Expiration_Date__c}" /> 
                        </apex:outputText></i>
                        <br/>
                    </td>                    
                </tr>
            </table>
          
        </table>
    </apex:pageBlock>
</apex:form>
</apex:page>