<apex:page standardController="Construct_Application_Junction__c" >
    <apex:pageBlock >
        <apex:pageBlockSection >
            <!-- apex:inputField value="{!}"/ -->
        </apex:pageBlockSection>
    
    </apex:pageBlock>
</apex:page>