<apex:page standardController="Reviewer__c" docType="html" extensions="EFL_ORR_RelCond"
           sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="false"
           applyBodyTag="false" action="{!gotoRelatedCondPage}">
            
            <apex:form >
            <c:skeletonMinusHeaderFooter showSidebar="false">
             <div style="color: #FF1D1D;font-size: 13px;">
                <apex:pageMessages />
             </div>
                <div class="btn-wrapper">
              <apex:commandButton title="Back to Review Record" value="Back to Review Record" action="{!backToRR}" styleClass="btn btn-default background-blue"/>
               </div>
            </c:skeletonMinusHeaderFooter>
            </apex:form>
</apex:page>