<apex:page sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" controller="EFLAddUser">
   <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"/>
    <apex:slds >
    <apex:form >
        <c:carpolAphisApplicantUI id="f12" docTitle="Carpol Efile" activePage="contacts" showSidebar="false" externalHeader="false" showHeaderSearchForm="false" showTemplate="false" showChatter="false" showGetHelp="true" >
            <c:panel title="Add Users" infoSection="true" altText="Add Users" type="default" styleClass="informationDiv">
                NOTE: Only existing community users can be added to an Organizational Account. In the form below, enter the username of the user you would like to add. 
                If you would like to add more than one user please click the '+' button located to the right of the email field. Upon completion of the form please click the ‘Add User’ button located beneath the form.
            </c:panel> 
            <c:panel >
            <div class="slds-scope">
                <div class="slds-grid slds-gutters">
                    <div class="slds-col slds-size_3-of-4">
                      <div class="slds-p-left_xx-large">
                       <apex:outputPanel id="emailRepeaterPanel">
                        <apex:repeat id="emailRepeater" value="{!userWrappers}" var="wrapper" >
                          <div class="slds-col slds-size_4-of-4 slds-p-bottom_large">
                          
                           <div class="slds-grid slds-gutters">
                           
                           <div class="slds-col slds-size_2-of-12">
                            <apex:outputLabel value="User" for="userEmail"  styleClass="slds-text-align_right" />
                           </div> 
                            
                           <div class="slds-col slds-size_8-of-12">
                            <apex:inputText id="userEmail" value="{!wrapper.username}" styleClass="form-control" />
                            <apex:outputPanel styleClass="slds-show--block" rendered="{!LEN(wrapper.error)>0}" >
                             <div class="errorMsg small-text danger-msg" >
                             <strong>Error:</strong> 
                             {!wrapper.error}
                             </div>
                            </apex:outputPanel>
                            </div>
                            
                           </div> 
                            
                          </div>  
                        </apex:repeat>
                       </apex:outputPanel> 
                       
                       <div class="slds-grid slds-gutters"> 
                       <div class="slds-col slds-size_2-of-12">
                       </div>
                       <div class="slds-col slds-size_8-of-12">
                        <apex:commandButton value="Add User" action="{!addUser}" onclick="this.onclick=function(){return false;}" styleClass="btn background-green default-btn slds-m-left_small slds-m-right_small" rerender="emailRepeaterPanel,pageMessages" />
                        <apex:commandButton value="Cancel" action="{!cancel}" immediate="true" html-formnovalidate="true" styleClass="btn default-btn cancel" />
                        <br/><br/>
                        <apex:outputPanel id="pageMessages" >
                            <c:alert_message alertType="success">
                                <apex:pageMessages />
                            </c:alert_message>
                        </apex:outputPanel>    
                       </div>
                      </div>
                       
                      </div> 
                      
                    </div>
                    
                    <div class="slds-col slds-size_1-of-4 slds-align-middle">
                      <apex:commandLink title="Remove" action="{!remove}" rerender="emailRepeaterPanel" styleClass="btn btn-default slds-m-right_large text-black" >
                        <i class="fa fa-minus"></i>
                      </apex:commandLink>
                      <apex:commandLink title="Add" action="{!add}" rerender="emailRepeaterPanel" styleClass="btn btn-default text-black" >
                        <i class="fa fa-plus"></i>
                      </apex:commandLink>
                    </div>
                    
                </div>
            </div>
            </c:panel>
        </c:carpolAphisApplicantUI>
    </apex:form>
    </apex:slds>
</apex:page>