<apex:page controller="EFLContactLookupController" sidebar="false" showHeader="false" >
    <style>
        .tabcss {
            color:white !important;
            background:white !important;
            font-size:17px !important;
        }
        .activeTab {
            padding:9px 10px;
            font-size:16px; font-weight:600; 
        }

        .btnbackgroundgreen {
            color:white !important;
            background:#008000 !important;
            font-size:13px !important;
            border: 0;
            width: 100px;
            Height:32px;
        }

        .btnbackgroundwhite {
            color:black !important;
            background:#FFFFFF !important;
            font-size:13px !important;
            border: 0;
            width: 100px;
            Height:32px;
        }

        .whiteBG {
            padding:9px 9px;border-radius:3px 3px 0px 0px;display:inline-block;background:white;
            font-size:110%;font-weight:normal;font-color:blue; width:98%;
        }
    </style>

    <apex:form >
        <script type="text/javascript">
            function doUpdateRendestate(xfield, elemid) {
                var xvalue;
                if (document.getElementById(elemid).getAttribute('type') == 'checkbox') {
                    xvalue = document.getElementById(elemid).checked ? 'true' : 'false';
                } else {
                  //KA: W-034190 -Pop up displays however original window throws VF page error.
                  //  xvalue = document.getElementById(elemid+'_lkid').value;
                  xvalue = document.getElementById(elemid).value;
                }

                Updatestatefield(xfield,xvalue);
                document.getElementsByClassName('statevalue')[0].value = null;
            }
            debugger;
            function fillIn(fname, lname, email,org, phone, altphone, street, city, postalcode, country,countryid, state, stateid,county,countyid) {
                console.log(country);
                console.log(countryid);
                console.log(state);
                console.log(stateid);
                console.log(postalcode);
                console.log(county);
                console.log(countyid);
                 
                var winMain=window.opener;
                if (null==winMain) {
                    winMain=window.parent.opener;
                }

                var l = winMain.document.getElementsByClassName("form-control");
                console.log(JSON.stringify(l));
                console.log(JSON.stringify(l[0]));
                console.log(l[0]);

                //This order has to be intact
                l[0].value = fname;  //first name
                l[1].value = lname;  //last name 
                l[2].value = org;  //organization
                l[3].value = email;  //email
                l[4].value = phone;  //phone
                l[5].value = altphone; //alternate phone
                l[6].value = street; //Street
                l[7].value = city; //City
                l[8].value = postalcode; //Postal code
                //l[9].value = country; //country
                //$("input[name$='country_info']" ).val(countryId);
                //$("#country_info").val(country);
                //l[10].value = countryId; //countrycountry_lkwgt
                //$('[id*="country_lkwgt"]').val(countryId);
                //$('[id*="country_lkid"]').val(countryId);
                //l[11].value = state; //state
                //l[12].value = stateid; //country
                //console.log(winMain.document.getElementsByClassName('firstname-form-control').value)
                //winMain.document.getElementById("{!$Component.detailPanel.detail.detailform.firstname}").value=name;
                //winMain.document.getElementById('name').value=id;

                //CloseWindow();
                 
                populateCountry(country,countryid, state, stateid, county, countyid, l);

            }

            function populateCountry(country,countryid, state, stateid, county, countyid, l) {
                if(l[9].id == 'country'){
                  l[9].value = country; //country
                    }
                var winMain=window.opener;
                if (null==winMain) {
                    winMain=window.parent.opener;
                }
                winMain.setCountryJS(countryid, stateid,countyid);

                CloseWindow();
            }

            function CloseWindow() {
                var winMain=window.opener;
                if (null==winMain) {
                    winMain=window.parent.opener;
                }
                winMain.closeLookupPopup();
            }
        </script>

        <apex:actionFunction name="Updatestatefield" action="{!ChangeAndRerenderstate}" reRender="stateid,countyid" immediate="true">
            <apex:param name="ftc" value=""/>
            <apex:param name="ct" value="united" assignTo="{!selectedcountry}"/>
        </apex:actionFunction>

        <br/><br/>

        <apex:outputPanel style=" padding-left: 25px;padding-bottom: 25px;" >
            <h1 style="font-size: 20px;color: #333;">
                Contact Search
            </h1>
            <br/><br/>
        </apex:outputPanel>

        <div style="padding-top: 0px; padding-right: 25px; padding-bottom: 25px; padding-left: 25px;">
            <apex:outputPanel id="AssociatedContlookup">
              <!--  <apex:tabPanel switchType="client" value="{!defaultTab}" id="tabbedPanel" styleClass="tabcss"  tabClass="activeTab" inactiveTabClass="inactiveTab"> -->
                    <apex:tabPanel switchType="Client" selectedTab="tab1" value="{!selectTab}" id="tabbedPanel" styleClass="tabcss"  tabClass="activeTab" inactiveTabClass="inactiveTab">
                    <!-- SEARCH TAB -->
                    <apex:tab label="Search" name="tab1" id="tabOne" immediate="true">
                    <apex:pageBlock >
                        <apex:outputPanel styleClass="whiteBG">
                        <apex:pageMessages rendered="{!showSearchError}" />
                            <apex:actionRegion >
                                <apex:outputPanel id="top" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
                                    <b>
                                    <apex:outputLabel value="Enter contact name:" style="padding-right:10px;font-size:14px;color:#003E69;" for="txtSearch"/>
                                    </b>
                                    <apex:inputText id="txtSearch" value="{!searchString}" styleClass="efl-contact-lookup-txtSearch" style="font-size:14px" onkeydown="if(event.keyCode==13){ event.preventDefault(); var btnGo = document.getElementsByClassName('efl-contact-lookup-btnGo'); btnGo[0].click();  }" />
                                    <!--<apex:outputLink style="float:right" value="javascript:top.window.opener.customPickerReturn('{!FormTag}','{!TextBox}_lkid','{!TextBox}','','{!JSENCODE('')}','{!jsonmap}', false);window.close();">Clear Contact</apex:outputLink>-->
                                    <apex:commandLink style="float:right" value="Clear Contact" onclick="document.getElementsByClassName('efl-contact-lookup-txtSearch')[0].value=''; var btnGo = document.getElementsByClassName('efl-contact-lookup-btnGo'); btnGo[0].click();" oncomplete=""/>
                                    <br/>
                                    <span style="padding:10px" >
                                        <apex:commandButton id="btnGo" value="Search" action="{!Search}" rerender="searchResults,AssociatedContlookup,tabbedPanel"  styleClass="btnbackgroundgreen efl-contact-lookup-btnGo" ></apex:commandButton>
                                    </span>
                                </apex:outputPanel>

                                <apex:outputPanel id="pnlSearchResults" style="margin:10px;height:350px;overflow-Y:auto;" layout="block">
                                    <apex:pageBlock id="searchResults" >
                                        <apex:pageBlockTable value="{!performSearch}" var="a" id="tblResults" width="90%" >
                                            <apex:column style="font-size:12px ">
                                                <apex:facet name="header" >
                                                    <apex:outputPanel style="font-size:14px">Name</apex:outputPanel>
                                                </apex:facet>
                                                <apex:commandLink onclick="fillIn('{!JSENCODE(a.First_Name__c)}', '{!JSENCODE(a.name)}', '{!JSENCODE(a.Email_Address__c)}', '{!JSENCODE(a.EFL_Business_Name__c)}', '{!JSENCODE(a.Phone__c)}', '{!JSENCODE(a.Alternate_Phone__c)}' , '{!JSENCODE(a.Mailing_Street__c)}' , '{!JSENCODE(a.Mailing_City__c)}'  , '{!a.Mailing_Zip_Postal_Code__c}' , '{!JSENCODE(a.Mailing_Country_LR__r.Name)}', '{!a.Mailing_Country_LR__c}', '{!JSENCODE(a.Mailing_State_LR__r.Name)}' , '{!a.Mailing_State_LR__c}','{!JSENCODE(a.Mailing_County__r.Name)}','{!JSENCODE(a.Mailing_County__c)}');" rerender="nothing" rendered="{!NOT(ISNULL(a.Id))}">{!a.First_Name__c  + ' ' + a.Name}</apex:commandLink>
                                            </apex:column>

                                            <!-- apex:column style="font-size:12px " >
                                                <apex:facet name="header">
                                                    <apex:outputPanel style="font-size:14px">First Name</apex:outputPanel>
                                                </apex:facet>
                                                <apex:outputLink value="javascript:top.window.opener.customPickerReturn('{!FormTag}','{!TextBox}_lkid','{!TextBox}','{!a.Id}','{!JSENCODE(a.Name)}','{!jsonmap}', false);window.close();"
                                                    rendered="{!NOT(ISNULL(a.Id))}">{!a.First_Name__c}</apex:outputLink>
                                            </apex:column -->

                                            <apex:column style="font-size:12px ">
                                                <apex:facet name="header">
                                                    <apex:outputPanel style="font-size:14px">Email Address</apex:outputPanel>
                                                </apex:facet>
                                                <apex:outputLink value="javascript:top.window.opener.customPickerReturn('{!FormTag}','{!TextBox}_lkid','{!TextBox}','{!a.Id}','{!JSENCODE(a.Name)}','{!jsonmap}', false); window.close();" rendered="{!NOT(ISNULL(a.Id))}">{!a.Email_Address__c}</apex:outputLink>
                                            </apex:column>

                                            <apex:column style="font-size:12px ">
                                                <apex:facet name="header">
                                                    <apex:outputPanel style="font-size:14px">Phone Number</apex:outputPanel>
                                                </apex:facet>
                                                <apex:outputLink value="javascript:top.window.opener.customPickerReturn('{!FormTag}','{!TextBox}_lkid','{!TextBox}','{!a.Id}','{!JSENCODE(a.Name)}','{!jsonmap}', false);window.close();" rendered="{!NOT(ISNULL(a.Id))}">{!a.Phone__c}</apex:outputLink>
                                            </apex:column>
                                        </apex:pageBlockTable>

                                        <apex:pageBlockButtons location="bottom">
                                            <!--cursor:pointer;background:#006600;color:white;float:Left-->
                                            <apex:commandButton value="Close"  styleClass="btnbackgroundgreen"  immediate="true" onclick="window.top.close();"/>
                                        </apex:pageBlockButtons>
                                    </apex:pageBlock>
                                </apex:outputPanel>
                            </apex:actionRegion>
                        </apex:outputPanel>
                         </apex:pageBlock>
                    </apex:tab>

                    <!---------------------------------------------------------- New Associated Contact tab ------------------------------------------------------------>
                    <apex:tab label="New Associated Contact" name="tab2" id="tabTwo">
                        <apex:pageBlock id="pb">
                            <apex:pageMessage summary="Contact has been created. Click on the search tab to select this contact and have it populate on the line record." severity="confirm" rendered="{!if(selectTab =='tab1',true,false)}"/>
                           
                            <apex:pageMessages rendered="{!showMessage}" />
                            <br/><br/>

                            <table align="center"  width="90%" id="infoPanel">
                                <apex:pageBlockButtons location="top" rendered="{!isCVBpthwy}"> <!-- Show the btns only for CVB -->
                                    <apex:commandbutton id="individual" value="Individual"  styleClass="{!btnClass1}" immediate="true" action="{!individual}"/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                    <apex:commandButton id="company" value="Organization"  styleClass="{!btnClass2}" immediate="true" action="{!company}"/>
                                </apex:pageBlockButtons>
                            </table>

                            <apex:outputPanel rendered="{!renderSection1}"><!-- determine which section to render in controller -->
                                <h1 style="padding-top:10px;font-size:16px;color:#003E69; ">Contact Information</h1>
                                <hr style="border-top: 1px solid #006600;"/>
                                <table align="center"  width="90%" id="infoPanel">
                                    <tr >
                                        <td style="color:#003E69;font-size:14px;" valign="top"><font>First Name</font></td>
                                        <td>
                                            <apex:inputField value="{!objImpContactNew.First_Name__c}" required="true" />
                                            <br/>
                                        </td>
                                        
                                        <td style="color:#003E69;font-size:14px;" valign="top"><font>Email Address</font></td>
                                        <td>
                                            <apex:inputField value="{!objImpContactNew.Email_Address__c}"  required="true"/>
                                            <br/>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td style="color:#003E69;font-size:14px;" valign="top"><font>Last Name</font></td>
                                        <td>
                                            <apex:inputField value="{!objImpContactNew.Name}" required="true"/>
                                            
                                            <br/>
                                        </td>
                                        <td style="color:#003E69;font-size:14px;" valign="top"><font>Phone</font></td>
                                        <td>
                                            <apex:inputField value="{!objImpContactNew.Phone__c}"/>
                                            <br/>
                                        </td>
                                        
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td style="color:#003E69;font-size:14px;" valign="top"><font>Business Name</font></td>
                                        <td>
                                       <!--     <apex:outputText rendered="{!(ISPICKVAL($User.UserType,'PowerCustomerSuccess'))}"> -->
                                            <apex:inputField value="{!objImpContactNew.EFL_Business_Name__c}" required="true"/>
                                       <!--     </apex:outputText>  
                                            <apex:outputText rendered="{!(NOT(ISPICKVAL($User.UserType,'PowerCustomerSuccess')))}">
                                               <apex:inputField value="{!objImpContactNew.EFL_Business_Name__c}"/>
                                            </apex:outputText>    -->
                                            <br/>
                                        </td>
                                        <td style="color:#003E69;font-size:14px;" valign="top"><font>Fax</font></td>
                                        <td>
                                            <apex:inputField value="{!objImpContactNew.Fax__c}" />
                                            <br/>
                                        </td>
                                    </tr>
                                </table>
                            </apex:outputPanel>

                            <apex:outputPanel rendered="{!renderSection2}">
                                <h1 style="padding-top:10px;font-size:16px;color:#003E69; ">Company Information</h1>
                                <hr style="border-top: 1px solid #006600;"/>
                                <table align="center"  width="90%" id="infoPanel">
                                    <tr >
                                        <!--<td style="color:#003E69;font-size:14px;" valign="top"><font>First Name</font></td>
                                        <td>
                                            <apex:inputField value="{!objImpContactNew.First_Name__c}"  required="true"/>
                                            <br/>
                                        </td>-->

                                        <td style="color:#003E69;font-size:14px;" valign="top"><font>Company Name</font></td>
                                        <td>
                                            <apex:inputField value="{!objImpContactNew.Name}" required="true" />
                                            <br/>
                                        </td>
                                        <td style="color:#003E69;font-size:14px;" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font>Fax</font></td>
                                        <td>
                                            <apex:inputField value="{!objImpContactNew.Fax__c}" />
                                            <br/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="color:#003E69;font-size:14px;" valign="top"><font>Email Address</font></td>
                                        <td>
                                            <apex:inputField value="{!objImpContactNew.Email_Address__c}"  required="true"/>
                                            <br/>
                                        </td>
                                        <td style="color:#003E69;font-size:14px;" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font>Phone</font></td>
                                        <td>
                                            <apex:inputField value="{!objImpContactNew.Phone__c}"/>
                                            <br/>
                                        </td>
                                    </tr>
                                </table>
                            </apex:outputPanel>

                            <br/><br/>

                            <table align="center"  width="90%">
                                <h1 style="padding-top:10px;font-size:16px;color:#003E69; ">Address Information</h1>
                                <hr style="border-top: 1px solid #006600;"/>
                                <tr>
                                    <td style="color:#003E69;font-size:14px;" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font>Street</font></td>
                                    <td>
                                        <apex:inputField value="{!objImpContactNew.Mailing_Street__c}" required="true"/>
                                        <br/>
                                    </td> 
                                    <td style="color:#003E69;font-size:14px;" valign="top"><font>Country</font></td>
                                    <td>
                                        <apex:inputField value="{!objImpContactNew.Mailing_Country_LR__c}" id="country_info" required="true" onchange="doUpdateRendestate('Mailing_Country_LR__c',this.id)"/>
                                        <!--</apex:inputField>-->
                                       <br/> 
                                    </td>
                                    
                                </tr>
                                <tr>
                                   <td style="color:#003E69;font-size:14px;" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font>City</font></td>
                                    <td>
                                        <apex:inputField value="{!objImpContactNew.Mailing_City__c}" required="true"/>
                                        <br/>
                                    </td>
                                   <td style="color:#003E69;font-size:14px;" valign="top"><font>State/ Province</font></td>
                                    <td>
                                        <apex:actionRegion >
                                            <apex:outputPanel id="stateid">
                                                <apex:inputField styleclass="statevalue" value="{!objImpContactNew.Mailing_State_LR__c}" required="{!staterequired}"/>
                                                <!-- rendered="{!if(staterequired,false,true)}"  / -->
                                                <!-- apex:inputField value="{!objImpContactNew.Mailing_State_LR__c}"  required="true" rendered="{!if(staterequired,true,false)}" / -->
                                       </apex:outputPanel>
                                        </apex:actionRegion>
                                        <br/>
                                    </td>                                     
                                    
                                </tr>
                                <tr>
                                    
                                    <td style="color:#003E69;font-size:14px;" valign="top"><font>Zip/Postal Code</font></td>
                                    <td>
                                        <apex:inputField value="{!objImpContactNew.Mailing_Zip_Postal_Code__c}" required="true"/>
                                        <br/>
                                    </td>
                                    <td style="color:#003E69;font-size:14px;" valign="top"><font>County</font></td>
                                    <td>
                                      <apex:actionRegion >
                                       <apex:outputPanel id="countyid"> 
                                        <apex:inputField value="{!objImpContactNew.Mailing_County__c}" required="{!countyrequired}"/>
                                       </apex:outputPanel> 
                                      </apex:actionRegion> 
                                        <br/>
                                    </td>
                                </tr>
                                <span >
                                    <apex:pageBlockButtons location="bottom">
                                        <apex:commandButton action="{!saveAppcont}" value="Save" rerender="AssociatedContlookup,tabbedPanel" styleclass="btnbackgroundgreen" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <apex:commandButton value="Close"  onclick="window.close();" styleClass="btnbackgroundgreen"  />
                                    </apex:pageBlockButtons>
                                </span >
                            </table>
                        </apex:pageBlock>

                    </apex:tab>
                </apex:tabPanel>
            </apex:outputPanel>
        </div>

    </apex:form>

    <!-- </c:skeleton> -->
    <script>
        function changeColor(currentBtn) {
            currentBtn.style.backgroundcolor= "#FFFFFF";
        }        
    </script>

</apex:page>