<apex:page controller="EFLConstructController" sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" >
 <style>
   
   .Construct_s__c > span
   {
    max-width:200px !important;word-wrap:break-word !important;display:inline-block !important;
   }
   
   .genotype-details-column > div
   {
    margin:0px 0px 0px 0px !important; 
    max-height:250px !important;
    overflow-y:auto !important;
    max-width:1020px !important;word-wrap:break-word !important;display:inline-block !important;
   }
   .slds-scope .slds-table td{
     white-space:normal !important;
     }
     
 </style>
 
 <input value="{!lineitemrecord.Does_This_Application_Contain_CBI__c}" id="Does_This_Application_Contain_CBI__c" type="hidden" /> 
 <c:carpolAphisApplicantUI addHomeResources="true" docTitle="Construct Edit" 
         showSidebar="false" externalHeader="false" showHeaderSearchForm="false" showTemplate="false" 
         showChatter="false" showGetHelp="true"
         lineitemIDfrompage="{!lineItemID}"   
         showapplicationPDF="true"
         >
     
   
 <c:EFLLineItemChevron CurrentStep="Constructs" lineItemRecordID="{!lineItemID}"/> 
          
     
      <!------------------New Constructs Table------------------>   
      <apex:outputPanel id="outerListPanel"> 
         <apex:outputPanel id="list" rendered="{!renderMainList}"> 
       <!-- Message/Instructions box begins -->
         <c:panel title="New Constructs" target="info"  icon="info-sign" infoSection="true" styleClass="informationDiv">
            <div class="slds-grid">
                <div class="slds-col slds-size_1-of-11 slds-m-left_small slds-m-right_x-small">
                <h1 class="infoSection slds-text-heading_large"></h1>
                </div>
                <div class="slds-col slds-size_11-of-12">
                    <span><apex:outputtext escape="false" value="{!instructions}" />  </span>
                </div>
              </div>
              
             <!--<table class="slds-table info">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td>
                    <h3 class="infoSection slds-text-heading_medium"></h3>
                  </td>
                    <td>&nbsp;</td>
                  <td>
                    <apex:outputtext escape="false" value="{!instructions}"/>
                  </td>
                </tr>
              </tbody> 
            </table>-->
        </c:panel>
        <br/>
        <apex:outputtext value="{!ERRMESSAGE}" style="background-color: #aabdcb; font-size: 11pt;line-height: 1.4;display: block; box-sizing: border-box; color: black"/>
               
        <apex:form >
         <c:tablesection defaultLengthNumber="5" dataTableID="constructs" allDataTableOptions="true">
             <div class="slds-scope">
                 <p style="text-align:left;">
                     <apex:inputText value="{!searchString}" id="constructSearch" html-placeholder="Search" label="Construct Name:" onkeyup="if(this.value.trim().length > 1 || this.value.trim().length == 0) {filterConResults();}" onkeydown="if(event.keyCode==13){event.preventDefault();}"  style="width:200px" />
                    <span style="float:right;">              
                        <apex:commandButton style="width:150px" styleclass="slds-button slds-button_success" title="Add Construct" value="Add Construct"  action="{!showDetail}" rerender="phenoGenoPanel,outerPanel,outerListPanel,outerListPSCPanel" rendered="{!lockLineItem}"  />
                    </span>
                 </p>
                <apex:actionFunction name="refreshPageSize" action="{!refreshPageSize}" status="fetchStatus" reRender="pbIdConstruct"/>
                <apex:actionFunction name="filterConResults" action="{!showAll}" status="fetchStatus" reRender="pbIdConstruct"  />
        <apex:pageBlock id="pbIdConstruct">
            
            <apex:pageBlockSection collapsible="true" columns="1">
              
                <apex:pageBlockTable id="conLandingtbl1"   value="{!Constructs}" var="con" styleClass="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped" columnClasses="slds-cell-wrap">
                     
                    <apex:column styleClass="Construct_s__c" headerValue="Construct Name">
                        <apex:outputField value="{!con.Construct_s__c }"/>
                    </apex:column>
                     
                    <apex:column headerValue="Mode of Transformation">
                        <apex:outputField value="{!con.Mode_of_Transformation_Text__c}"/>
                    </apex:column>
                     
                    <apex:column headerValue="Regulated Article">
                        <apex:outputField value="{!con.Regulated_Article__c }"/>
                    </apex:column>
                     
                    <apex:column headerValue="Phenotypes">
                        <apex:repeat value="{!con.Phenotypes__r}" var="ph">
                               <apex:outputText value="{!LEFT(ph.Phenotypic_Category__c,2) +'; '}"/>
                        </apex:repeat>
                    </apex:column>  

                    <apex:column headerValue="Status">
                        <apex:outputField value="{!con.Status_Graphical__c}"/>
                        <apex:outputField value="{!con.Status__c}"/>
                    </apex:column>
                    <apex:column value="{!con.Corrections_Required__c}" styleclass="width:50px;" headerValue="Applicant Instructions"  rendered="{!enableApplicantInstructions}"/>
                    <apex:column value="{!con.Action_Required__c}" styleclass="width:50px;" headerValue="Action Required"  rendered="{!enableActionRequired}"/>

                     <apex:column headerValue="Actions" >
                      
                        <apex:commandLink title="Edit"   action="{!showDetail}" rerender="phenoGenoPanel,outerPanel,outerListPanel,outerListPSCPanel" rendered="{!(con.EnableConstructUpdateAction__c || lockLineItem) && con.Status__c != 'Review Complete'}"  >
                             
                             <c:glyph icon="edit"/> 
                            <apex:param name="recid" value="{!con.id}" assignTo="{!constructID}"/>
                             
                        </apex:commandLink> 
                     
                       <apex:commandLink title="Delete" action="{!deleteConstructRecord}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;" rerender="outerPanel,outerListPanel,outerListPSCPanel" rendered="{!((con.EnableConstructDeleteAction__c || lockLineItem) && (con.Line_Item__r.OwnerId == $User.Id || con.OwnerId == $User.Id) && con.Status__c != 'Review Complete')}"  >
                            <c:glyph icon="trash"/>  
                        <apex:param name="recid" value="{!con.id}" assignTo="{!delrecid}"/>
                           
                        </apex:commandLink> 
                      <apex:commandLink title="Details"  action="{!showDetailView}" rerender="outerDetailView,outerPanel,outerListPanel,outerListPSCPanel" rendered="{!con.EnableConstructDisplayAction__c || con.Status__c == 'Review Complete' }" >
                             <c:glyph icon="zoom-in"/> 
                            <apex:param name="recid" value="{!con.Id }" assignTo="{!constructID}"/>
                          <!--  <apex:param name="cList" value="PreviouslySubmitted" assignTo="{!comingFrom}"/> -->
                        </apex:commandLink> 
                 </apex:column>
 
                </apex:pageBlockTable>
                <apex:outputPanel rendered="{!(Constructs.size = 0)}" >
                    <div class="slds-align_absolute-center" > 
                           <br/> No entries have been added to this section, select 'Add Construct' to add an entry.<br/><br/>
                   </div> 
               </apex:outputPanel>
                
                <apex:panelGrid columns="8">  

                <apex:selectList value="{!size}" multiselect="false" size="1" onchange="refreshPageSize();">
                    <apex:selectOptions value="{!paginationSizeOptions}"/>
                </apex:selectList>

                <apex:commandButton style="width:50px; float:right;"  status="fetchStatus" reRender="pbIdConstruct" value="First" action="{!setCon.first}" disabled="{!!setCon.hasPrevious}" title="First Page"/> 
                <apex:commandButton style="width:50px; float:left;" status="fetchStatus" reRender="pbIdConstruct" value="Last" action="{!setCon.last}" disabled="{!!setCon.hasNext}" title="Last Page"/> 
                <apex:commandButton style="width:60px; float:right;" status="fetchStatus" reRender="pbIdConstruct" value="Previous" action="{!setCon.previous}" disabled="{!!setCon.hasPrevious}" title="Previous Page"/> 
                <apex:commandButton style="width:50px; float:left;" status="fetchStatus" reRender="pbIdConstruct" value="Next" action="{!setCon.next}" disabled="{!!setCon.hasNext}" title="Next Page"/> 
  
  
                <apex:outputText >{!IF(setCon.resultSize>0,(setCon.pageNumber * size)+1-size,0)}-{!IF((setCon.pageNumber * size)>noOfRecords, noOfRecords,
                     (setCon.pageNumber * size))} of {!noOfRecords}
                </apex:outputText> 
                       
                <apex:outputPanel >                      
                    <apex:actionStatus id="fetchStatus" >
                        <apex:facet name="start" >
                          <img src="/img/loading.gif" />                    
                        </apex:facet>
                    </apex:actionStatus>
                </apex:outputPanel> 
  
            </apex:panelGrid>  
            </apex:pageBlockSection>
        </apex:pageBlock>
         </div>
      </c:tablesection>      
                
    </apex:form>
    </apex:outputPanel>       
  </apex:outputPanel>  
          
      <!------------------Previously Submitted Constructs Table------------------>
       <apex:outputPanel id="outerListPSCPanel"> 
         <apex:outputPanel id="PSClist" rendered="{!renderMainList}"> 
          <apex:form >
         <c:tablesection title="Previously Submitted Constructs" defaultLengthNumber="5" dataTableID="constructsPS" allDataTableOptions="true">
             <div class="slds-scope">
                <apex:messages style="color:red;" id="selectPscMsgs" />
                 <p style="text-align:left;">
                     <apex:inputText value="{!searchString}" id="PSCSearch" html-placeholder="Search" label="Construct Name:" onkeyup="if(this.value.trim().length > 1 || this.value.trim().length == 0) {filterSubResults();}" onkeydown="if(event.keyCode==13){event.preventDefault();}" style="width:200px"/>
                    <span style="float:right;">              
                        <apex:commandButton style="width:250px" styleclass="slds-button slds-button_success" 
                                            title="Add Previously Submitted Constructs" 
                                            value="Add Previously Submitted Constructs" action="{!showPSCDetail}" 
                                            rerender="outerPanel,outerListPanel,outerListPSCPanel,outerDetailPSCPanel" rendered="{!lockLineItem}"/>
                    </span>
                 </p>
                <apex:actionFunction name="refreshSubPageSize" action="{!refreshSubPageSize}" status="fetchSubStatus" reRender="pbId"/>
                <apex:actionFunction name="filterSubResults" action="{!showAllPSCUsed}" status="fetchSubStatus" reRender="pbId" />
        <apex:pageBlock id="pbId">
            
            <apex:pageBlockSection collapsible="true" columns="1">
              
                <apex:pageBlockTable value="{!SubmittedConstructs}" var="sub" styleClass="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped" columnClasses="slds-cell-wrap">
                   
                   <!-- <apex:column headerValue="Construct Name">
                        <apex:outputField value="{!sub.subConstructRecord.Construct__r.Construct_s__c }"/> 
                    </apex:column>
                     
                    <apex:column headerValue="Mode of Transformation">
                        <apex:outputField value="{!sub.subConstructRecord.Construct__r.Mode_of_Transformation_Text__c }"/>
                    </apex:column>
                     
                    <apex:column headerValue="Regulated Article">
                        <apex:outputText value="{!sub.subConstructRecord.Construct__r.Regulated_Article__c }"/>
                    </apex:column>
                    <apex:column headerValue="Phenotypes">
                        <apex:outputText value="{!sub.PhenoCategory}"/>
                    </apex:column>
                      <apex:column value="{!sub.subConstructRecord.Status__c}" headerValue="Construct Status"/>
                    <apex:column headerValue="App Status">
                        <apex:outputField value="{!sub.subConstructRecord.Construct_Status__c}"/>
                         
                    </apex:column>
                    <apex:column headerValue="Actions" >
                        <apex:commandLink title="Details"  action="{!showDetailView}" rerender="outerDetailView,outerPanel,outerListPanel,outerListPSCPanel">
                             <c:glyph icon="zoom-in"/> 
                            <apex:param name="recid" value="{!sub.subConstructRecord.Construct__c }" assignTo="{!constructID}"/>
                            <apex:param name="pscList" value="PreviouslySubmitted" assignTo="{!comingFrom}"/>
                        </apex:commandLink> 
                      
                       <apex:commandLink title="Delete" action="{!deletePSCRecord}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;" rerender="outerDetailView,outerPanel,outerListPanel,outerListPSCPanel">
                            <c:glyph icon="trash"/>  
                        <apex:param name="recid" value="{!sub.subConstructRecord.id}" assignTo="{!delrecid}"/>
                         <apex:param name="objectType" value="PreviouslySubmitted" assignTo="{!objectName}"/>
                        </apex:commandLink> 
                 </apex:column>-->
                  <!---------------------------------------------------- --> 
                   <apex:column headerValue="Construct Name" styleClass="Construct_s__c" >
                        <apex:outputField value="{!sub.Construct_s__c }"/> 
                    </apex:column>
                     <apex:column headerValue="Account Name" styleClass="Construct_s__c noLink" >
                        <apex:outputField value="{!sub.sharing_account__c }"  /> 
                    </apex:column>
                    <apex:column headerValue="Mode of Transformation">
                        <!--<apex:outputField value="{!sub.Mode_of_Transformation__c }"/>-->
                        <apex:outputField value="{!sub.Mode_of_Transformation_Text__c}"/>
                    </apex:column>
                     
                    <apex:column headerValue="Regulated Article">
                        <apex:outputText value="{!sub.Regulated_Article__c }"/>
                    </apex:column>
                    <apex:column headerValue="Phenotypes">
                       <apex:repeat value="{!sub.Phenotypes__r}" var="ph">
                               <apex:outputText value="{!LEFT(ph.Phenotypic_Category__c,2) +'; '}"/>
                        </apex:repeat>
                    </apex:column>
                    
                    <!--<apex:column value="{!sub.Status__c}" headerValue="Construct Status"/>-->
                    <apex:column headerValue="Status">
                        <apex:outputField value="{!sub.Status_Graphical__c}"/>
                        <apex:outputField value="{!sub.Status__c}"/>
                    </apex:column>
                    
                    <apex:column headerValue="App Status">
                        <apex:repeat value="{!sub.Construct_Application_Junctions__r}" var="st">
                               <!--<apex:outputText value="{!st.Status__c}"/>-->
                               <apex:outputField value="{!st.Status_new_Graphical__c}"/>
                               <apex:outputField value="{!st.Status__c}"/>
                        </apex:repeat>
                    </apex:column>
                    
                    <apex:column headerValue="Applicant Instructions" width="50px" rendered="{!enableApplicantInstructions}">
                                               <apex:repeat value="{!sub.Construct_Application_Junctions__r}" var="st">
                               <apex:outputfield id="inst" value="{!st.Applicant_Instructions__c}"  Style="word-wrap:break-word;" />
                        </apex:repeat>
                         
                    </apex:column>
                    
      
                   <apex:column headerValue="Actions" >
                        <apex:commandLink title="Details"  action="{!showDetailView}" rerender="outerDetailView,outerPanel,outerListPanel,outerListPSCPanel">
                             <c:glyph icon="zoom-in"/> 
                            <apex:param name="recid" value="{!sub.Id }" assignTo="{!constructID}"/>
                            <apex:param name="pscList" value="PreviouslySubmitted" assignTo="{!comingFrom}"/>
                        </apex:commandLink> 
                       <apex:repeat value="{!sub.Construct_Application_Junctions__r}" var="st">
                       <apex:commandLink title="Delete" 
                                          action="{!deletePSCRecord}" 
                                          onclick="if (!confirm('Are you sure you want to delete this record?')) return false;" 
                                          rerender="outerDetailView,outerPanel,outerListPanel,outerListPSCPanel" 
                                          rendered="{!if((st.EnablePSCDeleteAction__c == true) && (st.line_Item__r.OwnerId == $User.Id || st.CreatedById == $User.Id), true, false)}" >
                            <c:glyph icon="trash"/>  
                        <apex:param name="recid" value="{!sub.id}" assignTo="{!delrecid}"/>
                         <apex:param name="objectType" value="PreviouslySubmitted" assignTo="{!objectName}"/>
                        </apex:commandLink> 
                        </apex:repeat>
                 </apex:column>
 
                </apex:pageBlockTable>
                <apex:outputPanel rendered="{!(SubmittedConstructs.size = 0)}" >
                    <div class="slds-align_absolute-center" > 
                           <br/> No entries have been added to this section, select 'Add Previously Submitted Constructs' to add an entry.<br/><br/>
                   </div> 
               </apex:outputPanel>
                
                <apex:panelGrid columns="8">  

                <apex:selectList value="{!size}" multiselect="false" size="1" onchange="refreshSubPageSize();">
                    <apex:selectOptions value="{!paginationSizeOptions}"/>
                </apex:selectList>

                <apex:commandButton style="width:50px; float:right;"  status="fetchSubStatus" reRender="pbId" value="First" action="{!subCon.first}" disabled="{!!subCon.hasPrevious}" title="First Page"/> 
                <apex:commandButton style="width:50px; float:left;" status="fetchSubStatus" reRender="pbId" value="Last" action="{!subCon.last}" disabled="{!!subCon.hasNext}" title="Last Page"/> 
                <apex:commandButton style="width:60px; float:right;" status="fetchSubStatus" reRender="pbId" value="Previous" action="{!subCon.previous}" disabled="{!!subCon.hasPrevious}" title="Previous Page"/> 
                <apex:commandButton style="width:50px; float:left;" status="fetchSubStatus" reRender="pbId" value="Next" action="{!subCon.next}" disabled="{!!subCon.hasNext}" title="Next Page"/> 
  
  
                <apex:outputText >{!IF(subCon.resultSize>0,(subCon.pageNumber * size)+1-size,0)}-{!IF((subCon.pageNumber * size)>noOfSubRecords, noOfSubRecords,
                     (subCon.pageNumber * size))} of {!noOfSubRecords}
                </apex:outputText> 
                       
                <apex:outputPanel >                      
                    <apex:actionStatus id="fetchSubStatus" >
                        <apex:facet name="start" >
                          <img src="/img/loading.gif" />                    
                        </apex:facet>
                    </apex:actionStatus>
                </apex:outputPanel> 
  
            </apex:panelGrid>  
            </apex:pageBlockSection>
        </apex:pageBlock>
         </div>
      </c:tablesection>      
                
    </apex:form>
    </apex:outputPanel>       
  </apex:outputPanel>    

      <!-----------------Select a Previously Submitted Constructs Details Table----------->
      <script>
      function ToggleAddSelected(isDisabled){
          $('[id*="addSelectedBtn"]').prop('disabled', isDisabled);
          $(".pscNotDisabled").prop('disabled', isDisabled);
      }
      </script>
      <apex:outputPanel id="outerDetailPSCPanel"> 
         <apex:outputPanel id="PSCDetail" rendered="{!(renderPSCDetail)}"> 
          <apex:form >
          <apex:actionFunction name="toggleConstruct" action="{!toggleConstruct}" reRender="" status="fetchPSStatus" oncomplete="ToggleAddSelected(false);" >
              <apex:param name="isSelected" assignTo="{!isSelected}" value="" />
              <apex:param name="contextConstructId" assignTo="{!contextConstructId}" value="" />
          </apex:actionFunction>
          <c:tablesection title="Select a Previously Submitted Construct">
             <!-- <apex:messages style="color:red;" id="selectPscMsgs" />-->
             <div class='errorMsg small-text danger-msg myCustomMsg'> <p style="text-align:center;"><apex:pageMessages id="selectPscMsgs"/></p></div>
             <div class="slds-scope">
                 <p style="text-align:left;">
                     <apex:inputText value="{!searchString}" id="AddPSCSearch" html-placeholder="Search" label="Construct Name:" onkeyup="if(this.value.trim().length > 1 || this.value.trim().length == 0) {filterPSCResults();}" onkeydown="if(event.keyCode==13){event.preventDefault();}" style="width:200px"/>
                 </p> 
                <apex:actionFunction name="refreshPSPageSize" action="{!refreshPSPageSize}" status="fetchPSStatus" reRender="pbIdPSC"/>
                <apex:actionFunction name="filterPSCResults" action="{!showAllPSC}" status="fetchPSStatus" reRender="pbIdPSC"  />
              <apex:pageBlock id="pbIdPSC">
                  <apex:pageBlockButtons location="bottom">
                    <apex:commandButton id="addSelectedBtn" action="{!process}" style="width:130px" styleclass="slds-button slds-button_brand" value="Add Selected" rerender="outerPanel,outerListPanel,outerListPSCPanel,outerDetailPSCPanel,tableId,pbIdPSC,PSCDetail,selectPscMsgs,outerDetailView"/>    
                    <apex:commandButton action="{!cancel}" style="width:70px" styleclass="slds-button slds-button_neutral"  value="Cancel" rerender="outerDetailView,outerPanel,outerListPanel,outerListPSCPanel,outerDetailPSCPanel,tableId,selectPscMsgs"/>
                  </apex:pageBlockButtons>
                  <apex:pageBlockSection collapsible="true" columns="1">
                    <apex:pageBlockTable value="{!PSConstructs}" var="c" styleClass="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped" id="tableId" columnClasses="slds-cell-wrap">
                        <apex:column headervalue="Select">
                            <div class="slds-form-element__row">
                                   <div class="slds-form-element">
                                      <label class="slds-checkbox">
                                            <apex:inputCheckbox id="isinstance" styleclass="slds-input {!c.cat.id} {!IF(c.disable, '', 'pscNotDisabled')}"  value="{!c.selectedValue}" disabled="{!c.disable}" onchange="ToggleAddSelected(true); toggleConstruct(this.checked, '{!c.cat.id}');" />
                                               <span class="slds-checkbox--faux"></span>
                                      </label>
                                   </div>
                              </div>   
                        </apex:column>
                        
                        <apex:column value="{!c.cat.Construct_s__c}" headerValue="Construct Name" styleClass="Construct_s__c" />
                        <!-- RR - 4/19 - select Account - changes begin W-035282-->
                        <apex:column value="{!c.cat.Sharing_Account__c}" headerValue="Account Name" styleClass="Construct_s__c noLink" />
                        <!-- RR - 4/19 - select Account - changes end W-035282-->
                        <apex:column value="{!c.cat.Mode_of_Transformation_Text__c}" headerValue="Mode of Transformation"/>
                        <apex:column value="{!c.cat.Regulated_Article__c}" headerValue="Regulated Article"/>
                        <apex:column headerValue="Phenotypes"> 
                            <apex:repeat value="{!c.cat.Phenotypes__r}" var="ph">
                                   <apex:outputText value="{!LEFT(ph.Phenotypic_Category__c,2) +'; '}"/>
                            </apex:repeat>
                        </apex:column>   
                        
                        <!--<apex:column value="{!c.cat.Status__c}" headerValue="Construct Status"/>-->
                        <apex:column headerValue="Status">
                            <apex:outputField value="{!c.cat.Status_Graphical__c}"/>
                            <apex:outputField value="{!c.cat.Status__c}"/>
                        </apex:column>
                        
                        <apex:column headerValue="Actions" >
                            <apex:commandLink title="Details"  action="{!showDetailView}" rerender="outerDetailPSCPanel,outerDetailView,outerPanel,outerListPanel">
                                 <c:glyph icon="zoom-in"/> 
                                <apex:param name="pscRecid" value="{!c.cat.id}" assignTo="{!constructID}"/>
                             </apex:commandLink> 
                        </apex:column>
                    </apex:pageBlockTable>
                   <!-- <apex:outputPanel rendered="{!(PSConstructs.size = 0)}" >
                        <div class="slds-align_absolute-center" > 
                               <br/> No previously submitted constructs exist.<br/><br/>
                       </div> 
                   </apex:outputPanel>  -->
                    <apex:panelGrid columns="8">  
                    <apex:selectList value="{!size}" multiselect="false" size="1" onchange="refreshPSPageSize();">
                        <apex:selectOptions value="{!paginationSizeOptions}"/>
                    </apex:selectList>
                    <apex:commandButton style="width:50px; float:right;"  status="fetchPSStatus" reRender="pbIdPSC" value="First" action="{!psCon.first}" disabled="{!!psCon.hasPrevious}" title="First Page" styleClass="{!IF(!psCon.hasPrevious, '', 'pscNotDisabled')}" /> 
                    <apex:commandButton style="width:50px; float:left;" status="fetchPSStatus" reRender="pbIdPSC" value="Last" action="{!psCon.last}" disabled="{!!psCon.hasNext}" title="Last Page" styleClass="{!IF(!psCon.hasNext, '', 'pscNotDisabled')}" /> 
                    <apex:commandButton style="width:60px; float:right;" status="fetchPSStatus" reRender="pbIdPSC" value="Previous" action="{!psCon.previous}" disabled="{!!psCon.hasPrevious}" title="Previous Page" styleClass="{!IF(!psCon.hasPrevious, '', 'pscNotDisabled')}" /> 
                    <apex:commandButton style="width:50px; float:left;" status="fetchPSStatus" reRender="pbIdPSC" value="Next" action="{!psCon.next}" disabled="{!!psCon.hasNext}" title="Next Page" styleClass="{!IF(!psCon.hasNext, '', 'pscNotDisabled')}" /> 
                    <apex:outputText >{!IF(psCon.resultSize>0,(psCon.pageNumber * size)+1-size,0)}-{!IF((psCon.pageNumber * size)>noOfPSRecords, noOfPSRecords,
                         (psCon.pageNumber * size))} of {!noOfPSRecords}
                    </apex:outputText> 
                    <apex:outputPanel >                      
                        <apex:actionStatus id="fetchPSStatus" >
                            <apex:facet name="start" >
                              <img src="/img/loading.gif" />                    
                            </apex:facet>
                        </apex:actionStatus>
                    </apex:outputPanel> 
                </apex:panelGrid>  
                </apex:pageBlockSection>
            </apex:pageBlock>
             </div> 
      </c:tablesection>      
    </apex:form>
   </apex:outputPanel>       
  </apex:outputPanel>
          
          
      <!--Construct Detail View----------->
      <apex:outputPanel id="outerDetailView">
        <apex:outputPanel rendered="{!showConstructView}">
                   <c:EFLConstructView lineItemRecordID="{!lineItemID}" constructRecordID="{!constructID}" pageControl="{!PageController}"/>  
           </apex:outputPanel>
      </apex:outputPanel>
          
      <!------------------Constructs Details------------------>   
       <apex:outputPanel id="outerPanel">    
       <apex:outputPanel id="detail" rendered="{!renderDetail && Not(renderPSCDetail)}" >
           
        <apex:form id="frmDetails">
            <br/>
             <c:application_message alertType="warning"  message="{!constructRecord.Corrections_Required__c}" rendered="{!constructRecord.Corrections_Required__c != null}"  />
            <br/>
                     
         <!--  <c:panel icon="book" type="success" title="Construct Details" buttonTitle="Return to Constructs" renderButton="true" buttonIcon="glyphicon-arrow-left" anchorHref="/apex/EFLConstruct?LineItemId={!lineItemID}"> -->
        <c:panel icon="book" type="success" title="Construct Details"> 
        <!--<apex:messages id="myMessages" style="color:red;" />-->
              
             <c:formColumn >
               <c:carpolFormFields label="Construct(s)" requiredField="true" >
                  <apex:inputField styleClass="form-control"  value="{!constructRecord.Construct_s__c}"/>
               </c:carpolFormFields>
              <c:carpolFormFields label="Mode of Transformation" requiredField="true" styleclass="width:120px;"  isHelpText="true" showHelpMethod="true" helpText="Please contact biotechquery@aphis.usda.gov if your Mode of Transformation is not listed.">
                  <c:checkbox sideLabel="{!$Label.EFLCBI}" rendered="{!if(lineitemrecord.Does_This_Application_Contain_CBI__c == 'Yes',true,false)}" checked="{!constructRecord.Mode_of_Transformation_CBI__c}" isHelpText="true" showHelpMethod="true" helpText="While completing your application, please remember to surround information which you want to protect as CBI with square brackets [ ] when CBI box is not available. For example, a construct component containing information to protect would appear as follows: terminator: nopaline [synthase (nos) 3']">
                         <apex:inputField value="{!constructRecord.Mode_of_Transformation_CBI__c}" />
                       </c:checkbox>  
                   <apex:inputField styleClass="form-control" value="{!constructRecord.Mode_of_Transformation__c}" />
               </c:carpolFormFields>
                <!--  <c:carpolFormFields label="RA" requiredField="true">
                  <apex:inputField styleClass="form-control"   value="{!constructRecord.Link_Regulated_Article__c}"/>
               </c:carpolFormFields>-->
                 
                 
             
            </c:formColumn>
            

             <c:formColumn >
              <!-- <c:carpolFormFields label="Status" >
                  <apex:outputField styleClass="form-control" value="{!constructRecord.Status__c}"/>
                  <apex:outputField styleClass="form-control" value="{!constructRecord.Status_Graphical__c}"/>
               </c:carpolFormFields> -->
 
               <c:carpolFormFields label="Regulated Article" requiredField="true" isHelpText="true" showHelpMethod="true" helpText="At least 1 Regulated Article must be added">
                   
                   <apex:selectList styleClass="form-control" value="{!selectedRA}"   multiselect="false" size="1" id="RA" required="true">
                     <apex:selectOptions value="{!options}" />
                     <apex:actionSupport event="onchange" action="{!raidcheck}" rerender="errorMsgInd" />
                  </apex:selectList>
                 <!-- <apex:inputHidden value="{!constructRecord.Link_Regulated_Article__c}" required="true" rendered="false"  /> -->
                   <apex:outputPanel rendered="{!LEN(regulatedArticleError)!=0}" id="errorMsgInd" >
                   <div class='errorMsg small-text danger-msg myCustomMsg'><strong>Error: </strong>{!regulatedArticleError}
                   </div>
                   </apex:outputPanel> 
               </c:carpolFormFields>
               <c:carpolFormFields label="Transformation Event(s)">
                  <apex:inputField style="height: 64px" styleClass="form-control" value="{!constructRecord.Identifying_Line_s__c}"/>
               </c:carpolFormFields> 
            &nbsp;
            </c:formColumn>
            
            
            <apex:outputPanel rendered="{!!renderPhenoDetail && !renderGenoDetail}">  
               <div class="btn-wrapper btn-wrapper-construct">
                   <!-- Ravee Racharla 10/24/2018 added Javascript function SubmitForm to disable button-->
                 
                   <button onclick="submitForm(this, 'btnSaveM'); return false;" id="btnSave"  class="btn background-blue default-btn">Save</button>                     
                   <apex:commandButton id="btnSaveM" value="Save"   action="{!updateConstruct}" rerender="errorMsgInd,phenoGenoPanel,outerPanel,outerListPanel,outerListPSCPanel" style="display:none" />
                   
                   <!-- Ravee Racharla 10/24/2018 -->
                <!--  <button onclick="checkCBIData('btnSaveM'); return false;"  id="btnSave" class="btn background-blue default-btn" rerender="errorMsgInd,outerPanel,outerListPanel,outerListPSCPanel,outerDetailPSCPanel">Save</button>                    
                   <apex:commandButton value="Save" id="btnSaveM" action="{!updateConstruct}" style="display:none" html-formnovalidate="formnovalidate" rerender="outerPanel,outerListPanel,outerListPSCPanel,outerDetailPSCPanel" >-->
                  <!-- <apex:actionSupport event="onclick" action="{!checkErrors}" rerender="errorMsgInd" immediate="true" />
                   </apex:commandButton>-->
                   <apex:commandButton value="Clone"  styleClass="btn background-blue default-btn" action="{!cloneConstruct}" rendered="{!renderCloneButton && NOT(isRevoked)}"  immediate="true" html-formnovalidate="true" rerender="genoPanel,phenoPanel,phenoGenoPanel,outerPanel,outerListPanel,outerListPSCPanel" /> 
                  <apex:commandButton value="Return to Constructs"  styleClass="btn default-btn cancel" action="{!cancelConstruct}"   immediate="true" html-formnovalidate="true" rerender="genoPanel,phenoPanel,phenoGenoPanel,outerPanel,outerListPanel,outerListPSCPanel" /> 
               </div>
            </apex:outputPanel>
         </c:panel>
        </apex:form> 
       </apex:outputPanel>
      </apex:outputPanel>  
      
      <!---------- Geno/Pheno type Tables ---------->
       <apex:slds /> 
         <div id="phenoGenoPanelDiv" style="display:"> 
         <apex:outputPanel id="phenoGenoPanel" > 
           <apex:outputPanel rendered="{!renderPhenoList}">  
           <apex:form >
               <br/>
              <div class="slds-scope">
                  <!---------- Phenotype Table ---------->
                   
                      <c:tablesection title="Phenotypes" defaultLengthNumber="5"  allDataTableOptions="true">
                                <apex:commandButton style="width:120px; float:right;" action="{!showPhenoDetail}" rerender="phenoGenoPanel,phenoPanel,outerPanel,outerListPanel" styleclass="slds-button slds-button_success" title="Add Phenotype" value="Add Phenotype" />
                                 <apex:dataTable value="{!phenotypeList}" var="pheno"  styleClass="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped" > 
                                     <apex:column value="{!pheno.Name}" headerValue="Name"/>                                     
                                     <apex:column value="{!pheno.Phenotype_Category_Text__c}" headerValue="Phenotypic Category"/>
                                     <apex:column value="{!pheno.Phenotypic_Description__c}"  styleclass="width:160px;" style="white-space: pre-line; max-width: 200px !important; word-wrap: break-word"><apex:facet name="header">Phenotypic Description</apex:facet></apex:column>
                                     <apex:column headerValue="Actions" style="width:25px"> 
                                         <apex:commandLink title="Edit"  action="{!showPhenoDetail}" rerender="phenoGenoPanel,phenoPanel,outerPanel,outerListPanel">
                                             <c:glyph icon="edit"/> 
                                             <apex:param name="recid" value="{!pheno.id}" assignTo="{!phenoTypeID}"/>
                                         </apex:commandLink> 
                                         <apex:commandLink title="Delete" action="{!deletephenotypeRecord}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;" rerender="phenoGenoPanel,phenoPanel,outerPanel,outerListPanel" rendered="{!(Pheno.construct__r.Line_Item__r.OwnerId == $User.Id || pheno.construct__r.OwnerId == $User.Id)}"> 
                                             <c:glyph icon="trash" />
                                             <apex:param name="recid" value="{!pheno.Id}" assignTo="{!delrecid}"/>
                                             <apex:param name="objectType" value="PhenoType" assignTo="{!objectName}"/>
                                         </apex:commandLink>
                                     </apex:column>
                                    </apex:dataTable>        
                                    
                  </c:tablesection>
                <!---------- Genotype Table --------------->
                 <c:panel title="Genotypes">
                  <apex:outputPanel id="genoListPanel" styleClass="genotype-table-panel" layout="block">
                    <apex:commandButton action="{!showGenoDetail}" rerender="phenoGenoPanel,genoPanel,outerPanel,outerListPanel" styleclass="slds-button slds-button_success add-genotype-btn" title="Add Genotype" value="Add Genotype" />
                    <apex:repeat value="{!genotypeWrapList}" var="genowrap">                        
                         <apex:variable var="i" value="{!0}" />
                         <apex:dataTable value="{!genowrap.genotypelist}" var="geno" styleClass="table-layout:fixed slds-table slds-table_bordered slds-table_cell-buffer slds-table_col-bordered" >
                               <apex:column style="white-space:normal" styleClass="genotype-details-column" >
                                   <apex:variable var="i" value="{!i+1}" />
                                   <apex:facet name="header">
                                        <apex:outputText >{!genowrap.genotypeCategory}</apex:outputText>   
                                    </apex:facet>
                                   <div class="padding-10" >                                  
                                        <b> {!geno.Construct_Component_Text__c}</b>  
                                        <apex:outputText >: {!geno.Construct_Component_Name__c} from {!geno.Donor_List__c} - {!geno.Description__c} </apex:outputText>
                                   </div>    
                                </apex:column>  
                                <apex:column headerValue="" styleClass="width-20" > 
                                  <apex:commandLink id="moveup" title="Move UP" styleClass="{!IF(i==1, 'link-button-disable', '')}" onclick="if({!i}==1) { return false; }" action="{!genoMoveUp}" rerender="genoListPanel" oncomplete="setFocusAfterRendering(this, 'up');" >
                                        <c:glyph icon="arrow-up" styleclass="moveup"/> 
                                        <apex:param name="recid" value="{!geno.id}" assignTo="{!genoTypeID}"/>
                                        <apex:param name="genotypeTypeID" value="{!genowrap.parentGenotypeId}" assignTo="{!genotypeTypeID}"/>
                                    </apex:commandLink> 
                                  <apex:commandLink id="movedown" title="Move Down" styleClass="{!IF(i==genowrap.genotypelist.size, 'link-button-disable', '')}" onclick="if({!i}=={!genowrap.genotypelist.size}) { return false; }" action="{!genoMoveDown}" rerender="genoListPanel" oncomplete="setFocusAfterRendering(this, 'down');" >
                                        <c:glyph icon="arrow-down" styleclass="movedown" /> 
                                        <apex:param name="recid" value="{!geno.id}" assignTo="{!genoTypeID}"/>
                                        <apex:param name="genotypeTypeID" value="{!genowrap.parentGenotypeId}" assignTo="{!genotypeTypeID}"/>
                                    </apex:commandLink> 
                             </apex:column> 
                                <apex:column headerValue="" styleClass="width-25 add-comp-button-col"> 
                                   <apex:facet name="header">                                          
                                        <apex:commandLink title="Add Component" value="Add Component" action="{!showGenoDetail}" styleclass="slds-button slds-button_success add-comp-button" rerender="phenoGenoPanel,genoPanel,outerPanel,outerListPanel" >
                                         <!--<c:glyph icon="Plus-Sign"/>-->
                                         <apex:param name="genotypeTypeID" value="{!genowrap.parentGenotypeId}" assignTo="{!genotypeTypeID}"/>
                                         <apex:param name="genotypeCategory" value="{!genowrap.genotypeCategory}" assignTo="{!genotypeCategory}"/>
                                        </apex:commandLink>
                                   </apex:facet>
                                    <!-- Original works -- 
									<apex:facet name="header">                                          
                                        <apex:commandLink title="Add" action="{!showGenoDetail}" rerender="phenoGenoPanel,genoPanel,outerPanel,outerListPanel" >
                                         <c:glyph icon="Plus-Sign"/> 
                                         <apex:param name="genotypeTypeID" value="{!genowrap.parentGenotypeId}" assignTo="{!genotypeTypeID}"/>
                                         <apex:param name="genotypeCategory" value="{!genowrap.genotypeCategory}" assignTo="{!genotypeCategory}"/>
                                        </apex:commandLink>
                                   </apex:facet>-->     
                                 <!-- <apex:commandLink title="Add Component"  action="{!showGenoDetail}" rerender="genoPanel,outerPanel,outerListPanel">
                                        <c:glyph icon="Plus-Sign"/> 
                                        <apex:param name="recid" value="{!geno.id}" assignTo="{!genoTypeID}"/>
                                    </apex:commandLink>   -->                                  
                                    <apex:commandLink title="Edit"  action="{!showGenoDetail}" rerender="phenoGenoPanel,genoPanel,outerPanel,outerListPanel">
                                        <c:glyph icon="edit"/> 
                                        <apex:param name="recid" value="{!geno.id}" assignTo="{!genoTypeID}"/>
                                    </apex:commandLink> 
                                    <apex:commandLink title="Delete" action="{!deleteGenotypeRecord}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;" rerender="phenoGenoPanel,genoPanel,outerPanel,outerListPanel" rendered="{!(geno.Related_Construct_Record_Number__r.Line_Item__r.OwnerId == $User.Id || geno.Related_Construct_Record_Number__r.OwnerId == $User.Id)}"> 
                                        <c:glyph icon="trash" />
                                        <apex:param name="recid" value="{!geno.Id}" assignTo="{!delrecid}"/>
                                    </apex:commandLink>
                                </apex:column> 
                        </apex:dataTable>
                        <br/></apex:repeat>
                       </apex:outputPanel> 
                </c:panel>    
               </div>    
            </apex:form>   
           </apex:outputPanel>  
         </apex:outputPanel>
         </div>
      
      <!------------------Phenotype Details------------------>      
      <apex:outputPanel id="phenoPanel">
     <apex:outputPanel rendered="{!renderPhenoDetail}">           
      <apex:form > 
          <c:panel title="Phenotype Details">
             <c:formColumn >
               <c:carpolFormFields label="Phenotypic Category" requiredField="true">
                  <apex:inputField styleClass="form-control" value="{!phenoTypeRecord.Phenotypic_Category__c}"/>
               </c:carpolFormFields>
               <c:carpolFormFields label="Phenotypic Description" requiredField="true">
                  <apex:inputField style="height: 64px" styleClass="form-control" value="{!phenoTypeRecord.Phenotypic_Description__c}"/>
               </c:carpolFormFields> 
               <div class="btn-wrapper">
                   
                  <!--<button onclick="checkCBIData('btnSaveM'); return false;"  id="btnSave" class="btn background-blue default-btn">Save</button>  -->
                  <button onclick="submitForm(this, 'btnSaveM'); return false;"  id="btnSave" class="btn background-blue default-btn">Save</button>                     
                  <apex:commandButton id="btnSaveM" value="Save" action="{!updatephenotype}" rerender="phenoGenoPanel,phenoPanel,outerPanel,outerListPanel" style="display:none" />
                                      
                  <!--<apex:commandButton id="btnSaveM" value="Save" action="{!updatephenotype}" rerender="phenoGenoPanel,phenoPanel,outerPanel,outerListPanel" styleClass="btn background-blue default-btn" />-->
                  <apex:commandButton value="Cancel" action="{!cancelphenotype}"  rerender="phenoGenoPanel,phenoPanel,outerPanel,outerListPanel" immediate="true" html-formnovalidate="true" styleClass="btn default-btn cancel"/>
               </div>
            </c:formColumn>
          </c:panel>    
       </apex:form>  
     </apex:outputPanel> 
   </apex:outputPanel> 

      <!------------------Genotype Details------------------>     
      <apex:outputPanel id="genoPanel">
     <apex:outputPanel rendered="{!renderGenoDetail}">           
      <apex:form > 
          <c:panel title="Genotype Details">
             <c:formColumn >
               <c:carpolFormFields label="Genotype Category" styleClass="two-rows-label" requiredField="true" >
                 <!-- <apex:inputField styleClass="form-control" value="{!genoTypeRecord.RecordType.Name}"/> -->
                   <!--<apex:selectList styleClass="form-control" value="{!selectedGenoCategory}"  size="1">
                       <apex:selectOptions value="{!ParentGenoTypes}" />
                   </apex:selectList>-->
                  <!-- <apex:outputPanel rendered="{!LEN(genocategoryError)!=0}" id="errorMsgInd" >
                   <div class='errorMsg small-text danger-msg myCustomMsg'><strong>Error: </strong>{!genocategoryError}
                   </div>
                   </apex:outputPanel> -->
                   <apex:inputField rendered="{!IF(genoTypeParentRecord.id==null, true, false)}" styleClass="form-control" value="{!genoTypeParentRecord.Genotype_Category__c}" />
                   <apex:outputField rendered="{!IF(genoTypeParentRecord.id==null, false, true)}" styleClass="form-control" value="{!genoTypeParentRecord.Genotype_Category__c}"/>
               </c:carpolFormFields>
               <c:carpolFormFields label="Construct Component" requiredField="true" styleClass="two-rows-label">
                  <apex:inputField styleClass="form-control" value="{!genoTypeRecord.Construct_Component__c}" />
               </c:carpolFormFields>
               
               
            </c:formColumn>
            <c:formColumn >
               <c:carpolFormFields label="Construct Component Name" requiredField="true" styleClass="two-rows-label">
                  <apex:inputField styleClass="form-control"  value="{!genoTypeRecord.Construct_Component_Name__c}"/>
               </c:carpolFormFields>
                <c:carpolFormFields label="Donor" requiredField="true" styleClass="two-rows-label">
                  <apex:inputField styleClass="form-control" value="{!genoTypeRecord.Donor_List__c}" />
               </c:carpolFormFields>
                <c:carpolFormFields label="Construct Component Description" requiredField="true" styleClass="two-rows-label">
                  <apex:inputField styleClass="form-control" value="{!genoTypeRecord.Description__c}" />
               </c:carpolFormFields>
              
            </c:formColumn>
              <div class="btn-wrapper genotype-wrapper"> 
                   
                   <!--<button onclick="checkCBIData('btnSaveG'); return false;"  id="btnSave" class="btn background-blue default-btn">Save</button> -->
                   <button onclick="submitForm(this, 'btnSaveG'); return false;"  id="btnSave" class="btn background-blue default-btn">Save</button>                    
                   <apex:commandButton id="btnSaveG" value="Save" action="{!updateGenotype}" rerender="script-block,phenoGenoPanel,genoPanel,outerPanel,outerListPanel,outerListPSCPanel" styleclass="btn background-blue default-btn" style="display:none" oncomplete="return phenoGenoPanelDivRendering();" />
                   <!-- 
                   <apex:actionFunction action="{!stayOnGenoDetails}" name="stayOnGenoDetails" reRender="outerPanel,outerListPanel,outerListPSCPanel" />
                   <apex:actionFunction action="{!stayOnGenoDetails}" name="deferedRendering" reRender="phenoGenoPanel,genoPanel,outerPanel,outerListPanel,outerListPSCPanel"/>
                   -->

                  <!-- <apex:commandButton id="btnSaveM" value="Save" action="{!updateGenotype}" rerender="phenoGenoPanel,genoPanel,outerPanel,outerListPanel" styleClass="btn background-blue default-btn" />-->
                  <apex:commandButton value="Cancel"  action="{!cancelGenotype}"  styleClass="btn default-btn cancel" rerender="phenoGenoPanel,genoPanel,outerPanel,outerListPanel" html-formnovalidate="true"  immediate="true" oncomplete="document.getElementById('phenoGenoPanelDiv').style.display=''"/>
               </div>
         </c:panel>
    
       </apex:form>  
     </apex:outputPanel> 
   </apex:outputPanel>
      
      <c:EFLChevronNavigationButtons CurrentStep="Constructs" lineItemRecordID="{!lineItemID}"/> 
  
          
   </c:carpolAphisApplicantUI>
   
   <apex:outPutPanel layout="block" id="script-block">
        <script>
            var renderPhenoList = '{!renderPhenoList}';
        </script>
    </apex:outPutPanel>
   
   <script>
   
    function setFocusAfterRendering(spanElm, upOrdown)
    {
      var row = spanElm.parentElement.parentElement.parentElement;
      var adjacentElm;
      if(upOrdown == 'up')
      {
          var previousrow = row.previousSibling;
          adjacentElm = previousrow.getElementsByClassName('moveup')[0].parentElement;
      }
      else
      {
          var nextrow = row.nextSibling;
          adjacentElm = nextrow.getElementsByClassName('movedown')[0].parentElement;
      }
      document.getElementById(adjacentElm.id).scrollIntoView();  
    }
   
    function phenoGenoPanelDivRendering()
    {
     try {
      //alert(renderPhenoList);
      if(renderPhenoList=='false')
      {
       document.getElementById('phenoGenoPanelDiv').style.display='none';
      }
      else
      {
       document.getElementById('phenoGenoPanelDiv').style.display='';
      }
     } catch(err){
       alert(err);
     }
    }
    // Ravee Racharla 10/24/2018 added Javascript function SubmitForm to disable button
    function submitForm(btn1, btn2){
        
        btn1.disabled = 'disabled';
        checkCBIData(btn2);
        
        }
    // Ravee Racharla 10/24/2018 added Javascript function SubmitForm to disable button
    
   </script>
          
</apex:page>