<apex:page standardController="AC__c" extensions="EFLAttachmentController" sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
	
    <style>
        <!--Needs to be on this vfp page to overwrite SpringCM Third Party componenent-->
        body, html, div {
        height:auto !important;
        }
    </style>
 
 
     <c:carpolAphisApplicantUI activePage="portalApps" 
    docTitle="Application Attachment Edit" 
   showSidebar="false" externalHeader="false" showHeaderSearchForm="false" showTemplate="false" showChatter="false"  showGetHelp="true" 
    showapplicationPDF="true">
     <c:EFLLineItemChevron CurrentStep="SOP & Attachments" lineItemRecordID="{!LineItemId}"/> 
        
  		<apex:form >
         	<c:panel title="Standard Operating Procedure & Attachments"  target="info"  icon="info-sign" infoSection="true" styleClass="informationDiv">
         		<div class="slds-grid">
                    <div class="slds-col slds-size_1-of-11 slds-m-left_small slds-m-right_x-small">
						<h1 class="infoSection slds-text-heading_small"></h1>
                    </div>
                    <div class="slds-col slds-size_11-of-12">
                        <span><apex:outputtext escape="false" value="{!instructions}" />  </span> 
                    </div> 
             	</div> 
     		</c:panel> 
         	<c:panel >
                 <div style="float: right">
                     <apex:commandLink rendered="{!IF(lineItemRecord.Locked__c != 'Yes', true, false)}" target="_blank" value="Add SOP or Attachment" action="{!fireDocLauncher}" styleClass="btn btn-default" style="background-color: green; color: white;"/>
                 </div>
                 <div class="SOPSpringCM" style="height:none;">
                    <SpringCMEos:SpringCM_EOSGrid objectType="AC__c" objectId="{!LineItemId}" />
                 </div>
    		</c:panel>
         </apex:form>
         <c:EFLChevronNavigationButtons CurrentStep="SOP & Attachments" lineItemRecordID="{!LineItemId}"/>  
      
     </c:carpolAphisApplicantUI>
   
    

</apex:page>