<apex:page title="Single Sign-On Error" sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" controller="EFLSAMLError" id="thePage">   
    <head>
        <title>Single Sign-On Error</title>
    </head>
    <body>
        <apex:form enctype="multipart/form-data" id="form" styleClass="form">
            <c:skeleton docTitle="Single Sign-On Error" id="skeleton" showChatter="false" showSidebar="false" externalHeader="false" showWizardHelp="false" showBreadCrumbs="false" addAngular="false" activePage="portalApps" showHeader="false" > 
                <c:panel title="Single Sign-On Error">
                    <div class="errorMsg" ><strong>Error: </strong>{!ErrorDetails}</div>
                </c:panel>
            </c:skeleton>    
        </apex:form>  
    </body>
</apex:page>