<apex:page sidebar="false" showHeader="false"  standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false"
           docType="html" controller="PortalController">

      <c:skeleton activePage="portalDashboard" showChatter="true" showTemplate="false" chatter="chatterpage" chatterId="{!$User.Id}" addAngular="true" showSidebar="false" externalHeader="false" showBreadCrumbs="false" showHeaderSearchForm="false">
          
                <c:accordiansection dataParent="chatterpanel">
                   <c:collapsePanel title="Chatter" showDecimal="false" defaultOpen="false" dataParent="chatterpanel" showIcon="true" icon="comment" showPanelNumber="false">    
                     <table width="100%" >
                                    <tr>
                                        <td>        
                                            <apex:iframe id="iframe" src="/st/_ui/core/chatter/ui/ChatterPage?isdtp=vw" 
                                                         scrolling="true" width="100%" height="500px"/> 
                                         </td>
                                        </tr> 
                            </table>
                    </c:collapsePanel> 
            </c:accordiansection>  
              
           <c:tablesection title="Official Review Records" dataTableID="eflStateLandingPage" allDataTableOptions="true" sortColumnNumber="11">
                <div class="table-heading">
                    <h2>My Recent Official Review Records</h2>
                    <span class="glyphicon glyphicon-print" style="float: right; color: rgb(51, 51, 51); font-size: 20px; top: -24px;"></span>
                </div>            
           
          <div class="table-responsive">
             
                <apex:dataTable value="{!ReviewerRecords}" var="orr" styleClass="table table-striped no-top-margin eflStateLandingPage" id="DashboardTable1">  
                     <apex:column headerValue="Action"><a href="/st/CARPOL_BRS_StateReviewRecords?id={!orr.reviewerRec.Id}"><c:glyph icon="glphicon glyphicon-edit"/></a></apex:column>
                     <apex:column value="{!orr.reviewerRec.Name}" headerValue="State Record Number"/>
                     <apex:column value="{!orr.reviewerRec.State_Regulatory_Official__r.name}" headerValue="State Reviewer"/>
                     <apex:column headerValue="Expedite">
                         <apex:outputPanel rendered="{!orr.reviewerRec.Expedite__c}">Yes </apex:outputPanel> 
                         <apex:outputPanel rendered="{!not(orr.reviewerRec.Expedite__c)}"> 
                            <apex:outputfield value="{!orr.reviewerRec.Expedite__c}"/> 
                         </apex:outputPanel> 
                     </apex:column>   
                     <apex:column value="{!orr.reviewerRec.Authorization_Name__c}" headerValue="Authorization"/>  
                     <apex:column value="{!orr.reviewerRec.Applicant__c}" headerValue="Applicant"/>
                     <apex:column value="{!orr.reviewerRec.Type_of_Application__c}" headerValue="Type of Application"/>
                     <apex:column value="{!orr.regulatedArticles}" headerValue="Regulated Articles"/> 
                     <apex:column value="{!orr.reviewerRec.State_Review_Duration__c}" headerValue="Days in Review"/>
                     <apex:column value="{!orr.reviewerRec.Days_Left__c}" headerValue="Days Left"/>
                     <apex:column value="{!orr.reviewerRec.Status__c}" headerValue="Status"/> 

                     <apex:column value="{!orr.reviewerRec.CreatedDate}" headerValue="Created Date"/>
<!--<apex:column headerValue="Created Date">
                      <apex:outputText value="{0, date, mm/dd/yyyy}">
                          <apex:param value="{!orr.reviewerRec.CreatedDate}" />
                        </apex:outputText>
                    </apex:column>-->
                    
                      
                </apex:dataTable> 
           </div>              
        </c:tablesection>   

     </c:skeleton> 
</apex:page>