<apex:page standardController="Authorizations__c" sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" docType="html"  extensions="Portal_Auth_Regulations_Detail" >
    <c:carpolAphisApplicantUI addHomeResources="false" 
    docTitle="Authorization Regulations Detail" showChatter="false"
    showTemplate="false" addAngular="false" showSidebar="false" externalHeader="false" showBreadCrumbs="false" showHeaderSearchForm="false" chatter="chatterpage">
   <span id="portal-auth-msg" style="color:#FF1D1D;font-weight: bold;"><apex:pageMessages id="pgmsg" escape="false"/> </span>
   <script>
      function goToDetailPage(recId){
          if(typeof sforce != 'undefined' && typeof sforce.one != 'undefined'){
              sforce.one.navigateToSObject(recId);
          }
          else{
              window.location.href = '/'+recId;
          }
          return false;
      }
      window.onload = setFocus1;
    function setFocus1() {
              document.getElementById('{!$Component.MyForm.myBlock.myBlocksection.Test1}').focus();
        }
          function setFocus() {
               document.getElementById('{!$Component.MyForm.myBlock.myBlocksection.Test3}').focus();
        }
     
     function refreshpage(){
      setTimeout(function(){location.reload();}, 2000); 
     }   
     
     function scrollToTop(){
      setTimeout(function(){window.scrollTo(0,0);},2000);
      
     }
      
   </script>
 
       <!--<apex:outputPanel id="messages">-->
       <!--    <apex:pageMessages />-->
       <!--</apex:outputPanel> -->
   
   
     <!-------------------------------------------------------------------Chatter-------------------------------------------------->
        <!--<chatter:feedWithFollowers entityId="{!Authorizations__c.id}" />-->
          <apex:form >
               
    <c:panel title="List of Conditions Detail" renderButton="true" buttonTitle="Return to Authorization" buttonIcon="glyphicon-arrow-left" icon="glyphicon-arrow-left" anchorHref="/Portal_Authorization_Detail2?id={!Authorizations__c.id}">

        <c:formColumn >
            <c:carpolFormFields label="Authorization">
                <apex:outputField styleClass="form-control" value="{!Authorizations__c.name}"/>
            </c:carpolFormFields>
                <c:carpolFormFields label="Total Conditions">
                    <apex:outputField styleClass="form-control" value="{!Authorizations__c.Total_Regulations__c}"/>
                </c:carpolFormFields>            
                <c:carpolFormFields label="Total agreed">
                    <apex:outputField styleClass="form-control" value="{!Authorizations__c.Total_Applicant_Agreed__c}"/>
                </c:carpolFormFields>
        </c:formColumn>
                     
     <!-----------------------------------------------------Applicant Agreement Column 1-------------------------------------->
         <c:formColumn >
            <c:carpolFormFields label="Decision Status">
                <apex:outputField styleClass="form-control" value="{!Authorizations__c.Status__c}"/>&nbsp;
                <apex:outputField styleClass="form-control" value="{!Authorizations__c.Status_Graphic__c}"/>
             </c:carpolFormFields>
                <c:carpolFormFields label="Yet to be agreed">
                    <apex:outputField styleClass="form-control" value="{!Authorizations__c.Remaining_Applicant_Agreement_Needed__c}"/>
                </c:carpolFormFields>

        </c:formColumn>
    </c:panel>              
    </apex:form>
     
      <!-----------------------------------------------------Regulations List-------------------------------------->  
      <apex:outputPanel rendered="{!if(Authorizations__c.Program_Pathway__r.program__r.name != 'BRS',true,false)}" >
          <apex:form >
              
         <c:tablesection Title="List of  Conditions: Import Requirements"> 
            
             <!--<apex:pageMessages />-->
             <div class="table-responsive">
                  <apex:dataTable styleClass="table table-striped no-top-margin" value="{!Regulations}" var="r"     id="opp_table" >
                      <apex:column headerValue="Detail View" >
                        <apex:outputtext >
                           <a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/apex/CARPOL_UNI_Appl_Regulations?id={!r.Id}','Popup','height=300,width=600,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a>
                        </apex:outputtext>
                    </apex:column>
                      <apex:column headerValue="Order Number">
                       <apex:outputField value="{!r.Order_Number__c}"/>
                     </apex:column>
                     
                      <apex:column headerValue="Condition Name" >
     
                        <b><apex:outputField value="{!r.Regulation_Short_Name__c}"/> </b>    
                          </apex:column>
     
    
       
                        <apex:column headerValue="Condition Description" >
                       <!-- <apex:outputtext value="{!left(r.Regulation_Description__c,400)}..." escape="false"/> -->
                            <apex:outputtext value="{!r.Regulation_Description__c}" escape="false"/>
                     </apex:column>
                     
                     
                    <apex:column headerValue="Agree" rendered="{!Authorizations__c.Status__c != 'In Review'}">
                        <apex:inputfield value="{!r.Applicant_Agree__c}" /> 
                       
                     </apex:column> 
                  <apex:column headerValue="Agree"  rendered="{!Authorizations__c.Status__c == 'In Review'}">
                    <apex:outputfield value="{!r.Applicant_Agree__c}" >
                    <apex:inlineEditSupport disabled="true"/>
                    </apex:outputfield>
                 </apex:column>
                     <apex:column headerValue="Comments" rendered="{!Authorizations__c.Status__c == 'Waiting on Customer'}" style="center">
                       <apex:outputField value="{!r.Applicant_Comments__c }"/>
                     </apex:column>
                     <apex:column headerValue="Comments"  rendered="{!Authorizations__c.Status__c != 'Waiting on Customer'}" style="center">
                        <apex:outputfield value="{!r.Applicant_Comments__c}" >
                        <apex:inlineEditSupport disabled="true"/>
                        </apex:outputfield>
                     </apex:column>
                    <apex:inlineEditSupport event="ondblClick"  showOnEdit="saveButton"/>
                 
             </apex:dataTable> 
             </div>
            </c:tablesection>
            <c:tablesection title="Additional Information">
                <div class="table-responsive">
                   <apex:dataTable styleClass="table table-striped no-top-margin" value="{!AddInformation}" var="r"     id="opp_table1">
                  <apex:column headerValue="Detail View" >
                    <apex:outputtext >
                       <a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!r.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a>
                    </apex:outputtext>
                </apex:column>
                  <apex:column headerValue="Order Number">
                   <apex:outputField value="{!r.Order_Number__c}"/>
                 </apex:column>
                 
                  <apex:column headerValue="Condition Name" >
 
                    <b><apex:outputField value="{!r.Regulation_Short_Name__c}"/> </b>    
                      </apex:column>
 

   
                    <apex:column headerValue="Condition Description" >
                   <apex:outputtext value="{!left(r.Regulation_Description__c,400)}" escape="false"/>

                 </apex:column>
                 
                 
                 <apex:column headerValue="Agree"  rendered="{!Authorizations__c.Status__c != 'In Review'}">
                    <apex:inputfield value="{!r.Applicant_Agree__c}" />
                   
                 </apex:column>
                  <apex:column headerValue="Agree"  rendered="{!Authorizations__c.Status__c == 'In Review'}">
                    <apex:outputfield value="{!r.Applicant_Agree__c}" >
                     <apex:inlineEditSupport disabled="true"/>
                     </apex:outputfield>
                 </apex:column>
                 
                 <apex:column headerValue="Applicant Comments" rendered="{!Authorizations__c.Status__c == 'Waiting on Customer'}" style="center">
                   <apex:outputField value="{!r.Applicant_Comments__c }"/>
                 </apex:column>
            <apex:column headerValue="Comments"  rendered="{!Authorizations__c.Status__c != 'Waiting on Customer'}" style="center">
                        <apex:outputfield value="{!r.Applicant_Comments__c}" >
                        <apex:inlineEditSupport disabled="true"/>
                     </apex:outputfield>
                 </apex:column>
                <apex:inlineEditSupport event="ondblClick"  showOnEdit="saveButton"/>
             
         </apex:dataTable>
         
                </div>
            </c:tablesection>
              
         
            <c:tablesection title="Instructions to CBP Officers">
                <div class="table-responsive">
                   <apex:dataTable styleClass="table table-striped no-top-margin" value="{!CBPInformation}" var="r"     id="opp_table2">
                  <apex:column headerValue="Detail View" >
                    <apex:outputtext >
                       <a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!r.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a>
                    </apex:outputtext>
                </apex:column>
                  <apex:column headerValue="Order Number">
                   <apex:outputField value="{!r.Order_Number__c}"/>
                 </apex:column>
                 
                  <apex:column headerValue="Condition Name" >
 
                    <b><apex:outputField value="{!r.Regulation_Short_Name__c}"/> </b>    
                      </apex:column>
 

   
                    <apex:column headerValue="Condition Description" >
                   <apex:outputtext value="{!left(r.Regulation_Description__c,400)}" escape="false"/>

                 </apex:column>
                 
                 
                 <apex:column headerValue="Agree"  rendered="{!Authorizations__c.Status__c != 'In Review'}">
                    <apex:inputfield value="{!r.Applicant_Agree__c}" />
                   
                 </apex:column>
                  <apex:column headerValue="Agree"  rendered="{!Authorizations__c.Status__c == 'In Review'}">
                    <apex:outputfield value="{!r.Applicant_Agree__c}" >
                    <apex:inlineEditSupport disabled="true"/>
                    </apex:outputfield>
                 </apex:column>
                 
                 <apex:column headerValue="Applicant Comments" rendered="{!Authorizations__c.Status__c == 'Waiting on Customer'}" style="center">
                   <apex:outputField value="{!r.Applicant_Comments__c }"/>
                 </apex:column>
                 <apex:column headerValue="Comments"  rendered="{!Authorizations__c.Status__c != 'Waiting on Customer'}" style="center">
                        <apex:outputfield value="{!r.Applicant_Comments__c}" >
                        <apex:inlineEditSupport disabled="true"/>
                     </apex:outputfield>
                 </apex:column>  
 
                <apex:inlineEditSupport event="ondblClick"  showOnEdit="saveButton"/>
             
            </apex:dataTable> 
                </div>  
                
            </c:tablesection>
            
            <br/>
            
            <div class="btn-wrapper table-footer">
                <!--<c:LoadingStatusSpinner />-->
                    <apex:commandButton value="Save" immediate="true" status="LoadingStatusSpinner" action="{!tosave}"  id="saveButton" rendered="{!IF(Authorizations__c.Status__c == 'Waiting on Customer',true,false)}" styleClass="btn background-green" reRender="messages,pgmsg" />  
                    <apex:commandButton value="Submit your Responses" action="{!submit}" id="submitButton" styleClass="btn {!IF(Authorizations__c.Status__c == 'Waiting on Customer','background-blue ', 'disabledSubForApproval')}"/> 
                </div>
        </apex:form>
      </apex:outputPanel>
       <!----------------------------------------------------- BRS Regulations List-------------------------------------->  
       <apex:outputPanel rendered="{!if(Authorizations__c.Program_Pathway__r.program__r.name == 'BRS',true,false)}" >

          <apex:form >
              
             <c:tablesection title="Standard Conditions">
                 <div class="table-responsive">
                                     <apex:dataTable styleClass="table table-striped no-top-margin" value="{!Regulations}" var="r"     id="opp_table" title="Standard Conditions">
                    <!--  <apex:column headerValue="Detail View" >
                        <apex:outputtext >
                           <a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!r.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a>
                        </apex:outputtext>
                    </apex:column> -->
                      <apex:column headerValue="Order Number">
                       <apex:outputField value="{!r.Order_Number__c}"/>
                     </apex:column>
                     
                     <!-- <apex:column headerValue="Condition Name" >
     
                        <b><apex:outputField value="{!r.Regulation_Short_Name__c}"/> </b>    
                          </apex:column>
                     -->
    
       
                        <apex:column headerValue="Condition Description" >
                      <!-- <apex:outputtext value="{!left(r.Regulation_Description__c,400)}..." escape="false"/> -->
                         <apex:outputtext value="{!r.Regulation_Description__c}" escape="false"/>
                     </apex:column>
                     
                     
                     <apex:column headerValue="Agree" rendered="{!Authorizations__c.Status__c == 'Waiting on Customer'}">
                        <apex:inputfield value="{!r.Applicant_Agree__c}" />
                      </apex:column>
                      
                     <apex:column headerValue="Agree"  rendered="{!Authorizations__c.Status__c != 'Waiting on Customer'}">
                       <apex:outputfield value="{!r.Applicant_Agree__c}" >
                       <apex:inlineEditSupport disabled="true"/>
                       </apex:outputfield>
                     </apex:column>
    
                     <apex:column headerValue="Applicant Comments"  rendered="{!Authorizations__c.Status__c != 'Waiting on Customer'}" >
                         <apex:outputfield value="{!r.Applicant_Comments__c}" >
                         <apex:inlineEditSupport disabled="true"/>
                         </apex:outputfield>
                      </apex:column>
                  
                     <apex:column headerValue="Comments" rendered="{!Authorizations__c.Status__c == 'Waiting on Customer'}" title="Please provide comments" style="center">
                       <apex:inputfield value="{!r.Applicant_Comments__c }" />
                     </apex:column>
     
                    <apex:inlineEditSupport event="ondblClick"  showOnEdit="saveButton"/>
                 
                     </apex:dataTable>
                     <div class="btn-wrapper table-footer">
                         <apex:commandButton value="Save" status="LoadingStatusSpinner" action="{!tosave}"  styleClass="btn background-green" reRender="pgmsg" rendered="{!IF(Authorizations__c.Status__c == 'Waiting on Customer',true,false)}" onclick="scrollToTop();" />
                     </div>
                                  

                 </div>
             </c:tablesection>
             
         <c:tablesection title="Supplemental Conditions">
             <div class="table-responsive">
                               <apex:dataTable styleClass="table table-striped no-top-margin" value="{!AddInformation}" var="r"     id="opp_table1">
                 <!-- <apex:column headerValue="Detail View" >
                    <apex:outputtext >
                       <a style="color:blue" class="fullDescription" Id="fulldesIR" onclick="window.open('/{!r.Id}?isdtp=vw','Popup','height=400,width=800,left=100,top=100,scrollbars=yes,toolbar=no,status=no')">View Full Description</a>
                    </apex:outputtext>
                </apex:column> -->
                 <apex:column headerValue="Order Number">
                   <apex:outputField value="{!r.Order_Number__c}"/>
                 </apex:column>
                 
                  <!-- <apex:column headerValue="Condition Name" >
 
                    <b><apex:outputField value="{!r.Regulation_Short_Name__c}"/> </b>    
                      </apex:column> -->
 

   
                    <apex:column headerValue="Condition Description" >
                  <!-- <apex:outputtext value="{!left(r.Regulation_Description__c,400)}..." escape="false"/>  -->
                       <apex:outputtext value="{!r.Regulation_Description__c}" escape="false"/>
                 </apex:column>
                 
                 
                     <apex:column headerValue="Agree" rendered="{!Authorizations__c.Status__c == 'Waiting on Customer'}">
                        <apex:inputfield value="{!r.Applicant_Agree__c}" />
                      </apex:column>
                      
                     <apex:column headerValue="Agree"  rendered="{!Authorizations__c.Status__c != 'Waiting on Customer'}">
                       <apex:outputfield value="{!r.Applicant_Agree__c}" >
                       <apex:inlineEditSupport disabled="true"/>
                       </apex:outputfield>
                     </apex:column>
    
                     <apex:column headerValue="Applicant Comments"  rendered="{!Authorizations__c.Status__c != 'Waiting on Customer'}" style="center">
                         <apex:outputfield value="{!r.Applicant_Comments__c}" >
                         <apex:inlineEditSupport disabled="true"/>
                         </apex:outputfield>
                      </apex:column>
                  
                     <apex:column headerValue="Applicant Comments" rendered="{!Authorizations__c.Status__c == 'Waiting on Customer'}" title="Please provide your comments for disagreed conditions." style="center">
                       <apex:inputfield value="{!r.Applicant_Comments__c }"/>
                     </apex:column>
 
                <apex:inlineEditSupport event="ondblClick"  showOnEdit="saveButton"/>
             
         </apex:dataTable>
                    <c:LoadingStatusSpinner />
                    <div class="btn-wrapper table-footer">
                         <!-- <apex:commandButton value="Save" action="{!tosave}"  styleClass="btn background-green" reRender="messages" rendered="{!IF(Authorizations__c.Status__c == 'Waiting on Customer',true,false)}"/> -->
                         <input type="button" value="Save" Class="btn background-green" onclick="saveResponse();scrollToTop();" />
                         <apex:actionFunction name="saveResponse" status="LoadingStatusSpinner" action="{!tosave}" reRender="pgmsg, messages" />
                     </div> 
         
             </div>
         </c:tablesection>


                        <br/>
           <div class="btn-wrapper table-footer"> 
        
            <!-- <apex:commandButton value="Submit your Responses" action="{!submit}" id="submitButton" onclick="return confirm('You are about to Submit your responses, are you sure?')" styleClass="btn btn-default {!IF(Authorizations__c.Status__c == 'Waiting on Customer','background-blue ', 'disabledSubForApproval')}" reRender="messages"/> -->
            <input id="submitButton" type="button" value="Submit your Responses" onclick="if(confirm('You are about to Submit your responses, are you sure?')){submitResponse(); scrollToTop();};" class="btn btn-default {!IF(Authorizations__c.Status__c == 'Waiting on Customer','background-blue ', 'disabledSubForApproval')}"/>
            <apex:actionFunction name="submitResponse" action="{!submit}" reRender="pgmsg" />
         </div>
               </apex:form>
          </apex:outputPanel>

      
      </c:carpolAphisApplicantUI>

</apex:page>