<apex:page standardController="Link_Authorization_Regulation__c" docType="html" extensions="Portal_Link_Auth_Regulation_Detail" sidebar="false" showHeader="false"  standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false">
  <c:carpolAphisApplicantUI docTitle="Link Authorization Regulation Details" 
       showTemplate="false" addAngular="false" showSidebar="false" externalHeader="false" showBreadCrumbs="false" showHeaderSearchForm="false" chatter="chatterpage"
    >
  

     <!-------------------------------------------------------------------Chatter-------------------------------------------------->
        <!--<chatter:feedWithFollowers entityId="{!Link_Authorization_Regulation__c.id}" /> -->
        

      <!-------------------------------------------------------------------form Start-------------------------------------------------->
        
        
        
    <apex:form >
               
               <c:panel title="Link Authorization Regulation Detail" > 
                <c:formColumn >
                    <c:carpolFormFields label="Record ID">
                        <apex:outputField styleClass="form-control" value="{!Link_Authorization_Regulation__c.Name}"/>
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Authorization">
                        <apex:outputField styleClass="form-control" value="{!Link_Authorization_Regulation__c.Authorization__c}"/>
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Standard Regulation">
                        <apex:outputField styleClass="form-control" value="{!Link_Authorization_Regulation__c.Regulation__r.Title__c}"/>
                    </c:carpolFormFields>
                </c:formColumn>
               <c:formColumn >
                    <c:carpolFormFields label="Regulation Agreement">
                        <apex:outputField styleClass="form-control" value="{!Link_Authorization_Regulation__c.Regulation_Agreement__c}"/>
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Purpose of Importation">
                        <apex:outputField styleClass="form-control" value="{!Link_Authorization_Regulation__c.Introduction_Type__c}"/>
                    </c:carpolFormFields>
                </c:formColumn>
              </c:panel>
          
         
         <c:panel title="System Information" >
             <c:formColumn >
                    <c:carpolFormFields label="Created By">
                        <apex:outputField styleClass="form-control" value="{!Link_Authorization_Regulation__c.CreatedByID}"/>
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Create Date">
                        <apex:outputField styleClass="form-control" value="{!Link_Authorization_Regulation__c.CreatedDate}"/>
                    </c:carpolFormFields>
                </c:formColumn>
                <c:formColumn >
                    <c:carpolFormFields label="Last Modified By">
                        <apex:outputField styleClass="form-control" value="{!Link_Authorization_Regulation__c.LastModifiedByID}"/>
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Last Modified Date">
                        <apex:outputField styleClass="form-control" value="{!Link_Authorization_Regulation__c.LastModifiedDate}"/>
                    </c:carpolFormFields>
                </c:formColumn>
          </c:panel>
          </apex:form>
     

      
    
          <apex:form >
        <c:tablesection title="All Conditions" dataTableID="conditions">
            <div class="table-responsive">
              <apex:datatable value="{!Conditions}" var="c"  styleClass="table table-striped no-top-margin conditions" id="opp_table">
                  
                  <apex:column headerValue="Condition Name" >
                    <apex:inputcheckbox value="{!c.selected}">
                       <apex:actionSupport event="onclick" action="{!getSelected}" rerender="Selected_PBS"/>
                     </apex:inputcheckbox>
                    <b><apex:outputField styleClass="form-control" value="{!c.con.Name}"/> </b>    
                      </apex:column>
                   
                  <apex:column headerValue="Condition Number"> 
                   <apex:outputField styleClass="form-control" value="{!c.con.Condition_Number__c}"/>
                 </apex:column>
                 
             
                    <apex:column headerValue="Condition"> 
                   <apex:outputField styleClass="form-control" value="{!c.con.Condition__c}"/>
                 </apex:column>
                 
                 <apex:column headerValue="Agree" > 
                    <apex:outputfield styleClass="form-control" value="{!c.con.Agree__c}" /> 
     
                 </apex:column>
                 
                 <apex:column headerValue="Applicant Comments"> 
                   <apex:outputField styleClass="form-control" value="{!c.con.Applicant_Comments__c }"/>
                 </apex:column>
 
                <apex:inlineEditSupport event="ondblClick"  showOnEdit="saveButton"/>

         </apex:datatable>
        </div>
    </c:tablesection>
    <br/>
    <div class="btn-wrapper">
        <apex:commandButton styleClass="btn btn-default background-green" value="Save" action="{!tosave}" id="saveButton"  />
    </div>

    </apex:form>
<script>
      function goToDetailPage(recId){
          if(typeof sforce != 'undefined' && typeof sforce.one != 'undefined'){
              sforce.one.navigateToSObject(recId);
          }
          else{
              window.location.href = '/'+recId;
          }
          return false;
      }
</script>
 </c:carpolAphisApplicantUI>
</apex:page>