<apex:page standardController="Account" extensions="Portal_Account_Edit_Controller" sidebar="false" showHeader="false"  standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false"
    docType="html">
<c:carpolAphisApplicantUI chatter="chatterpage" docTitle="Account Details" showTemplate="false" addAngular="false" showSidebar="false" externalHeader="false" showBreadCrumbs="false" showHeaderSearchForm="false"> 
<style>
.lookupInput a{
    display:bloc;
    position: absolute;
    top:0px;
}
.lookupInput img{
    float:right;
}

span.lookupInput{
    position: relative;
    display:inherit;
}
.lookupInput a, .lookupInput a{
    border: none !important;
    background: none !important;
}
</style>
 

    
<apex:form >
       

         <apex:messages />
               
           <c:panel title="Information">
              <c:formColumn >
                  <c:carpolFormFields label="Account Owner">
                      <apex:outputLabel styleClass="info-value" value="{!acct.Owner.Name}"  />
                  </c:carpolFormFields>
                  <c:carpolFormFields label="Account Name">
                      <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.Name}"  />
                  </c:carpolFormFields>
                  <c:carpolFormFields label="Parent Account">
                      <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.ParentId}"  />
                  </c:carpolFormFields>
                  <c:carpolFormFields label="DUNS Number">
                      <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.DUNS_Number__c}"  />
                  </c:carpolFormFields>
                  <c:carpolFormFields label="Organization Unique ID">
                      <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.Organization_Unique_ID__c}"  />
                  </c:carpolFormFields>
             </c:formColumn>
             <c:formColumn >
                  <c:carpolFormFields label="Account Record Type">
                      <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.RecordType.Name}" />
                  </c:carpolFormFields>
                  <c:carpolFormFields label="Phone">
                      <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.Phone}" />
                  </c:carpolFormFields>
                  <c:carpolFormFields label="Fax">
                    <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.Fax}" />
                  </c:carpolFormFields>
                  <c:carpolFormFields label="Other Phone">
                      <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.Other_Phone__c}"  />
                  </c:carpolFormFields>
                  <c:carpolFormFields label="Website">
                      <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.Website}"  />
                  </c:carpolFormFields>
            </c:formColumn>
           </c:panel>
           <c:panel title="Additional Information">
               <c:formColumn >
                    <c:carpolFormFields label="Type">
                           <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.Type}" />
                       </c:carpolFormFields>
                    <c:carpolFormFields label="Industry">
                           <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.Industry}" />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Description">
                               <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  id="desc"  value="{!acct.Description}" />
                    </c:carpolFormFields>
                </c:formColumn>
                <c:formColumn >
                    <c:carpolFormFields label="Employees">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  id="employee"  value="{!acct.NumberOfEmployees}"/>
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Annual Revenue">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with"  value="{!acct.AnnualRevenue}"/>
                   </c:carpolFormFields>
                </c:formColumn>
            </c:panel>
           <c:panel title="Address Information">
                <c:formColumn >
                   <c:carpolFormFields label="Billing Country">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.BillingCountryCode}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing Street">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.BillingStreet}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing City">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.BillingCity}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing State">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.BillingStateCode}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing Zip/Postal Code">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.BillingPostalCode}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing County">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.Billing_County__c}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing Township/Island">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.Billing_Township_Island__c}" />
                   </c:carpolFormFields>
                </c:formColumn>
                <c:formColumn >
                   <c:carpolFormFields label="Shipping Country">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.ShippingCountryCode}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Shipping Street">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.ShippingStreet}"/>
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Shipping City">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.ShippingCity}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Shipping State">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.ShippingStateCode}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Shipping Zip/Postal Code">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.ShippingPostalCode}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="County">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.Shipping_County__c}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Shipping Township/Island">
                       <apex:outputLabel styleClass="info-value" html-placeholder="Share with" value="{!acct.Shipping_Township_Island__c}" />
                   </c:carpolFormFields>
                </c:formColumn>
            </c:panel>
            <br/>
            <div class="btn-wrapper">
                <apex:commandButton value="Edit" action="{!getEditPage}" styleClass=" "/> 
            </div>
        </apex:form>
        <script>
      function goToDetailPage(recId){
          if(typeof sforce != 'undefined' && typeof sforce.one != 'undefined'){
              sforce.one.navigateToSObject(recId);
          }
          else{
              window.location.href = '/'+recId;
          }
          return false;
   </script>

        </c:carpolAphisApplicantUI>
</apex:page>