<apex:page standardController="Account" extensions="Portal_Account_Edit_Controller" sidebar="false" showHeader="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" docType="html">
    <c:carpolAphisApplicantUI showSidebar="false" externalHeader="false" showHeaderSearchForm="false" showTemplate="false" chatter="chatterpage"
    docTitle="Account Edit" 
    >  
<style>
.lookupInput a{
    display:bloc;
    position: absolute;
    top:0px;
}
.lookupInput img{
    float:right;
}

span.lookupInput{
    position: relative;
    display:inherit;
}
.lookupInput a, .lookupInput a{
    border: none !important;
    background: none !important;
}
</style>
 

       <apex:form >
               <apex:messages />
    <c:panel title="Information">
      <c:formColumn >
          <c:carpolFormFields label="Account Owner">
              <apex:outputField styleClass="form-control" value="{!acct.Owner.Name}"  />
          </c:carpolFormFields>
          <c:carpolFormFields label="Account Name">
              <apex:InputField styleClass="form-control" id="aName"  value="{!acct.Name}" ></apex:InputField>
          </c:carpolFormFields>
          <c:carpolFormFields label="Parent Account">
              <apex:outputfield styleClass="form-control" id="pacct"  value="{!acct.ParentId}"  />
          </c:carpolFormFields>
          <c:carpolFormFields label="DUNS Number">
              <apex:InputField styleClass="form-control" id="dnum"  value="{!acct.DUNS_Number__c}"  />
          </c:carpolFormFields>
          <c:carpolFormFields label="Organization Unique ID">
              <apex:InputField styleClass="form-control"  value="{!acct.Organization_Unique_ID__c}"></apex:InputField>
          </c:carpolFormFields>
    </c:formColumn>
    <c:formColumn >
          <c:carpolFormFields label="Account Record Type">
              <apex:outputfield styleClass="form-control" value="{!acct.RecordType.Name}" />
          </c:carpolFormFields>
          <c:carpolFormFields label="Phone">
              <apex:InputField styleClass="form-control" id="orgid"   value="{!acct.Phone}" />
          </c:carpolFormFields>
          <c:carpolFormFields label="Fax">
              <apex:InputField styleClass="form-control" id="fax"  value="{!acct.Fax}" />
          </c:carpolFormFields>
          <c:carpolFormFields label="Other Phone">
              <apex:InputField styleClass="form-control" id="ophone"  value="{!acct.Other_Phone__c}"  />
          </c:carpolFormFields>
          <c:carpolFormFields label="Website">
              <apex:InputField styleClass="form-control" id="website"  value="{!acct.Website}"  />
          </c:carpolFormFields>
      </c:formColumn>
   </c:panel>
   <c:panel title="Additional Information">
       <c:formColumn > 
           <c:carpolFormFields label="Type">
               <apex:InputField id="type"  value="{!acct.Type}" styleClass="form-control" />
           </c:carpolFormFields>
            <c:carpolFormFields label="Industry">
               <apex:InputField id="industry"  value="{!acct.Industry}" styleClass="form-control" />
           </c:carpolFormFields>
           <c:carpolFormFields label="Description">
               <apex:inputTextArea id="desc"  value="{!acct.Description}" styleClass="form-control" />
           </c:carpolFormFields>
     </c:formColumn>
     <c:formColumn >
            <c:carpolFormFields label="Employees">
               <apex:InputField id="employee"  value="{!acct.NumberOfEmployees}" styleClass="form-control" />
           </c:carpolFormFields>
           <c:carpolFormFields label="Annual Revenue">
               <apex:InputField id="revenue"  value="{!acct.AnnualRevenue}" styleClass="form-control" />
           </c:carpolFormFields>
       </c:formColumn>
    </c:panel>
          <c:panel title="Address Information">
               <c:formColumn >
                   <c:carpolFormFields label="Billing Country">
                       <apex:InputField id="mCountry" value="{!acct.BillingCountryCode}" styleClass="form-control" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing Street">
                       <apex:InputField id="mStreet" value="{!acct.BillingStreet}" styleClass="form-control"/>
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing City">
                       <apex:InputField id="mCity" value="{!acct.BillingCity}" styleClass="form-control"/>
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing State">
                       <apex:InputField id="mSCode" value="{!acct.BillingStateCode}" styleClass="form-control" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing Zip/Postal Code">
                       <apex:InputField id="mzipCode" value="{!acct.BillingPostalCode}" styleClass="form-control" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing County">
                       <apex:InputField id="mcounty" value="{!acct.Billing_County__c}" styleClass="form-control" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Billing Township/Island">
                       <apex:InputField id="mTwnship" value="{!acct.Billing_Township_Island__c}" styleClass="form-control" />
                   </c:carpolFormFields>
            </c:formColumn>
            <c:formColumn >
                   <c:carpolFormFields label="Shipping Country">
                       <apex:InputField id="sCountry" value="{!acct.ShippingCountryCode}" styleClass="form-control" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Shipping Street">
                       <apex:InputField id="sStreet" value="{!acct.ShippingStreet}" styleClass="form-control" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Shipping City">
                       <apex:InputField id="sCity" value="{!acct.ShippingCity}" styleClass="form-control" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Shipping State">
                       <apex:InputField id="sSCode" value="{!acct.ShippingStateCode}" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Shipping Zip/Postal Code">
                       <apex:InputField id="szipCode" value="{!acct.ShippingPostalCode}" styleClass="form-control" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="County">
                       <apex:InputField id="scounty" value="{!acct.Shipping_County__c}" styleClass="form-control" />
                   </c:carpolFormFields>
                   <c:carpolFormFields label="Shipping Township/Island">
                       <apex:InputField id="sTwnship" value="{!acct.Shipping_Township_Island__c}" styleClass="form-control" />
                   </c:carpolFormFields>
        </c:formColumn>
    </c:panel>
            <div class="btn-wrapper">
                  
                     <apex:commandButton value="Save" action="{!save}" styleClass="btn btn-default background-green " reRender="messagePanel"/> 
                     
                     <apex:commandButton value="Cancel" action="{!cancel}" styleClass="btn btn-default"/> 
                     
                  
               </div>
        </apex:form>
        <script>
      function goToDetailPage(recId){
          if(typeof sforce != 'undefined' && typeof sforce.one != 'undefined'){
              sforce.one.navigateToSObject(recId);
          }
          else{
              window.location.href = '/'+recId;
          }
          return false;
      }
   </script>
    </c:carpolAphisApplicantUI>
</apex:page>