<apex:page standardController="Applicant_Contact__c" sidebar="false" showHeader="false"  standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" extensions="Portal_Associated_Contact_Create">
<c:carpolAphisApplicantUI docTitle="Associate Contact Details" 
    showTemplate="false" activePage="contacts" addAngular="true" showSidebar="false" externalHeader="false" showBreadCrumbs="false" showHeaderSearchForm="false" chatter="chatterpage"
>
<style>
.lookupInput a{
    display:bloc;
    position: absolute;
    top:0px;
    left:0px;
}
.lookupInput img{
    float:right;
}

span.lookupInput{
    position: relative;
    display:inherit;
}
.lookupInput a, .lookupInput a{
    border: none !important;
    background: none !important;
}
</style>
     
    <!--<chatter:feedWithFollowers entityId="{!Applicant_Contact__c.id}" />-->
    
   <apex:form styleClass="form">
       <c:panel title="Information" buttonTitle="Return to tab" renderButton="true" icon="glyphicon-arrow-left" anchorHref="/associated_contacts"> 
          <c:formColumn >
             <c:carpolFormFields label="First Name">
                 <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.First_Name__c}"/>
             </c:carpolFormFields>
              <c:carpolFormFields label="Last Name">
                 <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Name}"/>
             </c:carpolFormFields>
              <c:carpolFormFields label="Business Name">
                 <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.EFL_Business_Name__c}"/>
             </c:carpolFormFields>
             <c:carpolFormFields label="Email Address">
                 <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Email_Address__c}"/>
             </c:carpolFormFields>
              &nbsp;&nbsp;
             <!--<c:carpolFormFields label="Fax">
                 <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Fax__c}"/>
             </c:carpolFormFields>-->
          </c:formColumn>       
          <c:formColumn >
             <c:carpolFormFields label="Account">
                 <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Account__c}"/>
             </c:carpolFormFields>
             <c:carpolFormFields label="Record Type">
                 <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Recordtypeid}"/>
             </c:carpolFormFields>
             <c:carpolFormFields label="Phone">
                 <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Phone__c}"/>
             </c:carpolFormFields>
             <c:carpolFormFields label="Alternate Phone">
                 <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Alternate_Phone__c}"/>
             </c:carpolFormFields>
              <c:carpolFormFields label="Fax">
                 <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Fax__c}"/>
             </c:carpolFormFields>
              <div class="btn-wrapper">
                    <apex:commandButton value="Edit" action="{!editAssocContact}" styleClass="btn background-green default-btn"/>
                </div>
        </c:formColumn>  
                
     </c:panel>
     <c:panel title="Address Information" > 
        
        <c:formColumn >
            <c:carpolFormFields label="Mailing Street">
                <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Mailing_Street__c}"/>
            </c:carpolFormFields>
            <c:carpolFormFields label="Mailing City">
                <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Mailing_City__c}"/>
            </c:carpolFormFields>            
            <c:carpolFormFields label="Mailing Zip/Postal Code">
                <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Mailing_Zip_Postal_Code__c}"/>
            </c:carpolFormFields>       
        </c:formColumn>
         <c:formColumn >
            <c:carpolFormFields label="Mailing Country">
                <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Mailing_Country_LR__r.Name}"/>
            </c:carpolFormFields>
            <c:carpolFormFields label="Mailing State/Province">
                <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Mailing_State_LR__r.Name}"/>
            </c:carpolFormFields>
            <c:carpolFormFields label="Mailing County">
                <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.Mailing_County__r.Name}"/>
            </c:carpolFormFields>
        </c:formColumn>
     </c:panel>
     <c:panel title="USDA License/Registration Infromation" > 
       <c:formColumn >
           <c:carpolFormFields label="USDA Registration Number">
               <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.USDA_Registration_Number__c}"/>
           </c:carpolFormFields>
           <c:carpolFormFields label="USDA License Number">
               <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.USDA_License_Number__c}"/>
           </c:carpolFormFields>
        </c:formColumn>
        <c:formColumn >
           <c:carpolFormFields label="USDA Registration Expiration Date">
               <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.USDA_Registration_Expiration_Date__c}"/>
           </c:carpolFormFields>
           <c:carpolFormFields label="USDA License Expiration Date">
               <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.USDA_License_Expiration_Date__c}"/>
           </c:carpolFormFields>
        </c:formColumn>
    </c:panel> 
    <!--c:tablesection title="Associate Contact Line items for {!Applicant_Contact__c.Name}" >
         <div class="table-responsive">
             <apex:dataTable value="{!AC}" var="line" styleClass="table table-striped no-top-margin no-bottom-margin" rows="3">  
             <apex:column headerValue="Name">  
               <apex:outputLink onclick="return goToDetailPage('{!line.Id}')" >{!line.Name}</apex:outputLink>  
             </apex:column>
             <apex:column value="{!line.Purpose_of_the_Importation__c}" headerValue="Purpose"/>  
             <apex:column value="{!line.Status__c}" headerValue="Status"/>  
           </apex:dataTable> 
         </div>
     </c:tablesection-->
   </apex:form>
      
      <!-----------------------------------------------------Line items-------------------------------------->
                                           
       <apex:form >     
       <c:panel title="System Information">
        <c:formColumn >
            <c:carpolFormFields label="Created By">
                     <apex:outputfield value="{!Applicant_Contact__c.CreatedBy.Name}" styleClass="form-control" html-placeholder="Share with"></apex:outputfield>
            </c:carpolFormFields>
            <c:carpolFormFields label="Created Date">
                <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.CreatedDate}"/>
            </c:carpolFormFields>
        </c:formColumn>
        <c:formColumn >
            <c:carpolFormFields label="Last Modified By">
                <apex:outputfield value="{!Applicant_Contact__c.LastModifiedBy.Name}" styleClass="form-control" html-placeholder="Share with"></apex:outputfield>
            </c:carpolFormFields>
            <c:carpolFormFields label="Modified Date">
                <apex:outputField styleClass="form-control" value="{!Applicant_Contact__c.LastModifiedDate}"/>
            </c:carpolFormFields>
        </c:formColumn>
    </c:panel>                                  
      </apex:form>
</c:carpolAphisApplicantUI>
</apex:page>