<apex:page standardController="Contact" extensions="Portal_Contact_Edit_Controller" docType="html-5.0" sidebar="false" showHeader="false"  standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" >
    <!--c:carpolAphisApplicantUI addHomeResources="false" activePage="contacts"
docTitle="Edit Contact" 
showCarpolSidebar="true"
showWizardLauncher="true"
-->       
    <script> 
    $(document).ready(function() {
        $('.helpTextHoverButton').hover(function() {
            $('.helpTextClass').toggle();
        });
        
    });                          
    </script>   
   <c:carpolAphisApplicantUI addHomeResources="false" docTitle="Contact Edit"   
                              showTemplate="false" addAngular="false" showSidebar="false" externalHeader="false" showBreadCrumbs="false" showHeaderSearchForm="false"  >
  
        
        <apex:form styleClass="form">
          <apex:outputpanel id="messagePanel">
                <apex:pagemessages />
            </apex:outputpanel>     
            
                    
            <c:panel title="Information">
                <c:formColumn >
                    <c:carpolFormFields label="First Name"  id="fName" requiredfield="true" >
                        <apex:inputfield styleClass="form-control" required="true"  value="{!cont.FirstName}"  />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Last Name"  requiredfield="true">
                        <apex:inputfield styleClass="form-control" required="true" id="lName"  value="{!cont.LastName}"  />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Account Name"  requiredfield="true">
                        <apex:inputField styleClass="form-control" required="true" id="accName" value="{!cont.AccountId}"/>
                    </c:carpolFormFields>                    
                    <c:carpolFormFields label="State/Province" rendered="{!TEXT($User.UserType) != 'CSPLitePortal' && TEXT($User.UserType) != 'Standard'}">
                        <apex:inputField styleClass="form-control" id="state" value="{!cont.State__c}"></apex:inputField>
                    </c:carpolFormFields>
                </c:formColumn>
                <c:formColumn >
                    <c:carpolFormFields label="Phone"  requiredfield="true" >
                        <apex:InputField styleClass="form-control" id="phone" required="true"  value="{!cont.Phone}" /> 
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Mobile">
                        <apex:InputField styleClass="form-control" id="mobile" value="{!cont.MobilePhone}"/>
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Email"  requiredfield="true" >
                        <apex:InputField styleClass="form-control" id="email"  required="true"  value="{!cont.Email}" />
                    </c:carpolFormFields>
                    <!-- <c:carpolFormFields label="Primary Reviewer" rendered="{!TEXT($User.UserType) != 'CSPLitePortal' && TEXT($User.UserType) != 'Standard'}"> -->
                    <c:carpolFormFields label="Account Admin" rendered="{!TEXT($User.UserType) != 'CSPLitePortal' && TEXT($User.UserType) != 'Standard'}" id="Contact_Checkbox_Label" >
                       <!-- <a href="#" class="wizard-help-btn helpTextHoverButton" role="button"> 
                            <i class="start-icon glyphicon glyphicon-question-sign"></i>
                        </a> -->
                        <c:checkbox >  
                            <apex:inputField styleClass="form-control"  value="{!cont.Account_Admin__c}" /> 
                        </c:checkbox>
                       <!-- <p class="helpTextClass" style="display: none; border: 1px solid black; font-size: 12px;">{!$ObjectType.Contact.fields.Account_Admin__c.inlineHelpText}</p>   -->                                
                    </c:carpolFormFields>                                           
                </c:formColumn>
            </c:panel>
            
            <c:panel type="success" title="Address Information">
                <c:formColumn >
                    <c:carpolFormFields label="Mailing Country" requiredfield="true">
                        <apex:InputField styleClass="form-control" id="mCountry" value="{!cont.MailingCountryCode}" required="true" />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Mailing State/Province" requiredfield="true">
                        <apex:InputField styleClass="form-control" required="true" id="mSCode" value="{!cont.MailingStateCode}"  />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Mailing Street" requiredfield="true">
                        <apex:InputField styleClass="form-control" required="true" id="mStreet" value="{!cont.MailingStreet}" />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Mailing City" requiredfield="true">
                        <apex:InputField styleClass="form-control" required="true" id="mCity" value="{!cont.MailingCity}" />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Mailing Zip/Postal Code" requiredfield="true">
                        <apex:InputField styleClass="form-control" required="true" id="mzipCode" value="{!cont.MailingPostalCode}" />
                    </c:carpolFormFields>
                </c:formColumn>
                <c:formColumn >
                    <apex:pageBlock id="pb">
                        <apex:pageBlockSection id="pbs">
                            <!-- <c:carpolFormFields label="     ">
<apex:inputText styleClass="form-control" id="field"/>
</c:carpolFormFields>-->
                        </apex:pageBlockSection>
                    </apex:pageBlock>   
                    <c:carpolFormFields label="Other Country">
                        <apex:InputField styleClass="form-control" id="oCountry"  value="{!cont.OtherCountryCode}"/>
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Other State">
                        <apex:InputField styleClass="form-control" id="oSCode" value="{!cont.OtherStateCode}" />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Other Street">
                        <apex:InputField styleClass="form-control" id="oStreet" value="{!cont.OtherStreet}" />
                    </c:carpolFormFields>
                    <c:carpolFormFields label="Other City">
                        <apex:InputField styleClass="form-control" id="oCity" value="{!cont.OtherCity}" />
                    </c:carpolFormFields>                      
                    <c:carpolFormFields label="Other Zip/Postal Code">
                        <apex:InputField styleClass="form-control" id="ozipCode" value="{!cont.OtherPostalCode}"/>
                    </c:carpolFormFields>
                </c:formColumn>
            </c:panel>
            <br/>
            <div class="btn-wrapper">
                <apex:commandButton value="Save" action="{!save}" styleClass="btn background-green default-btn" reRender="messagePanel"/> 
                <apex:commandButton value="Cancel" immediate="true" html-formnovalidate="formnovalidate" action="{!cancel}" styleClass="btn default-btn cancel"/> 
            </div>
            
        </apex:form>
        
    </c:carpolAphisApplicantUI>
</apex:page>