table {
border-collapse: collapse;
border: 1px solid black;
}
                  
td.small1{
font-family: 'Arial Unicode MS'; 
font-size: 10px;
text-align: left;
}

td.small2{
font-family: 'Arial Unicode MS'; 
font-size: 10px;
text-align: center;
}