// Styling for Annual Report community//
.page {
    height: 100%;
    background-color: #E5EFE5;
}

.body {
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 50, 0.498039) 0px 5px 20px 0px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    /*min-height: 120vh;*/
} 

.communityNeutralButton:active{
    background-color: #003E69;
    color: #FFFFFF;
    border:none;
}
/*.slds-button_neutral:active, .slds-button--neutral:active {
    background-color: #003E69;
    color: #FFFFFF;
    border:none;
}*/
.communityNeutralButton:hover,.communityNeutralButton:focus{
    background-color: #003E69;
    color: #FFFFFF;
    border:1px #003E69;
}
/*.slds-button_neutral:hover, .slds-button_neutral:focus, .slds-button--neutral:hover, .slds-button--neutral:focus {
    background-color: #003E69;
    color: #FFFFFF;
    border:1px #003E69;
} */
.navigation-button-start {
    color: #FFFFFF;
    background-color: #003E69;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font: 12px arial;
    border-radius: 3px; 
    border:none;
}
.navigation-button-submit {
    color: #FFFFFF;
    background-color: #003E69;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font: 14px arial;
    border-radius: 3px;
    border:none;    
}
.navigation-button-green, .navigation-button-green:focus{
    color: #FFFFFF;
    background-color: #006600;
    font-family:arial;
    padding-left: 12px;
    padding-right: 12px;
    /*padding-top: 6px;
    padding-bottom: 6px;*/
    font-size: 12px;
    border-radius: 3px;
    border-width: 0px;
}
.navigation-button-green:hover {
    color: #FFFFFF;
    background-color: #005500;
    border-width: 0px;
}
.navigation-button-blue{
    color: #FFFFFF;
    background-color: #003E69;
    font-family:arial;
    /* comment out all of the following if requirements change */
    padding-left: 12px;
    padding-right: 12px;
    /*padding-top: 6px;
    padding-bottom: 6px;*/
    font-size: 12px;
    border-radius: 3px;
    border-width: 0px;
}

.navigation-button-blue:hover {
    color: #FFFFFF;
    background-color: #152D51;
    font-family: arial;
    border-width: 0px;
}

.communityNeutralButton[disabled], .communityNeutralButton:disabled{
    color: #FFFFFF;
    background-color: #C9C9C9;
    font:arial;
    /* comment out all of the following if requirements change */
    padding-left: 12px;
    padding-right: 12px;
    /*padding-top: 6px;
    padding-bottom: 6px;*/
    font-size: 12px;
    border-radius: 3px;
}

.navigation-button-blue[disabled], .navigation-button-blue[disabled]:hover {
    color: #FFFFFF;
    background-color: #C9C9C9;
    font:arial;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    border-radius: 3px;
}

/*.slds-button_neutral:hover {
    background-color: #005500;
    color: #FFFFFF;
}*/

.slds-is-complete.customPath{
    background: #006600 !important;
}

.slds-is-complete.customPath::before {
    background: #006600 !important;
}

.slds-is-complete.customPath::after {
        background: #006600 !important;
}

.slds-is-complete.customPath:hover {
    background: #005500 !important;
}

.slds-is-active.customPath {
    background: #003E69 !important;
}
.slds-is-active.customPath::before {
    background: #003E69 !important;
}
.slds-is-active.customPath::after {
    background: #003E69 !important;
}
.slds-is-active.customPath:hover {
    background: #152D51 !important;
}
.slds-checkbox_add-button [type="checkbox"]:checked ~ .slds-checkbox_faux, .slds-checkbox_add-button [type="checkbox"]:checked ~ .slds-checkbox--faux, .slds-checkbox_add-button [type="checkbox"]:checked + .slds-checkbox_faux, .slds-checkbox_add-button [type="checkbox"]:checked + .slds-checkbox--faux, .slds-checkbox--add-button [type="checkbox"]:checked ~ .slds-checkbox_faux, .slds-checkbox--add-button [type="checkbox"]:checked ~ .slds-checkbox--faux, .slds-checkbox--add-button [type="checkbox"]:checked + .slds-checkbox_faux, .slds-checkbox--add-button [type="checkbox"]:checked + .slds-checkbox--faux 
{
    background-color:#006600;
}
.cEFLAnnualReportingFooter a{
    color: #003E69 !important;    
}
.cEFLUserEntryForm a{
    color: #003E69 !important;    
}
.cEFLAnnualReportingHeader a{
    color: #003E69 !important;    
}
.EFLConfirmationDialog a{
    color: #003E69 !important;    
}

.sectionHeaderTitle{
    font-family:arial;
    font-size:24px;
    color:#333333;
    font-weight:bold;
}

.eflHyperlink, .eflHyperlink:hover {
    color : #003e69;
    text-decoration:underline;
}

.cEFLRegulatedAnimalsUsageChildTable .uiInput--input.input.eflFieldHasError{
    border-color: rgb(194, 57, 52) !important;
}

.slds-form-element__label{
    font-family : Arial;
    color : #333333;
}
