/* EFLACRLAStyling file with all styling used in the AC LRA community */
.page {
    height: 100%;
    background-color: #E5EFE5;
}

.body {
    max-width: 1170px;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 50, 0.498039) 0px 5px 20px 0px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    min-height: 89vh;
}

.question {
    margin-top: 30px;
    padding-left : 82px;
    padding-right : 82px;
    font: bold 18pt arial !important; 
}
.question-mobile {
    margin-top: 30px;
    font: bold 18pt arial !important; 
    padding-left:2px;
    padding-right:2px;
}
.slds-rich-text-editor__output span[style]{
    font: bold 18pt arial !important;
    color:#333333 !important;
}

.slds-rich-text-editor__output i[style]{
    font: bold italic 18pt arial !important;
    color:#333333 !important;
}

.slds-rich-text-editor__output u[style]{
    font: bold 18pt arial !important;
    color:#333333 !important;
    text-decoration-line: underline;
}
.slds-rich-text-editor__textarea, .slds-rich-text-editor__output{
    line-height:1.18 !important;     
}

.slds-rich-text-editor__output ul{
    margin-bottom: 0px !important;
    */list-style-type : disc !important;*/
}

.bullet-set-magin ul{
    list-style-type : circle !important;
}

.bullet-set-magin ul ul{
    list-style-type : square !important;
}

.selection {
    margin-left : 11%;
    margin-right : 11%;
    margin-top: 30px;
}

.slds-form-element__label{
    font: 18pt arial !important;
    color:#333333;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.ORText{
    margin-left:15px;
    margin-right:15px;
    font-size: 18px;/**/
    font-family: arial;/**/
    color: #333333;/**/    
}

.slds-checkbox_faux {
    width: 28px;
    height: 28px;
    border: 1.25px solid #A9A9A9 !important;
}

.slds-radio_faux
{
    width: 28px !important;
    height: 28px !important;
    border: 1.25px solid #A9A9A9 !important;
}

.slds-radio_faux:after{
    width : .9rem !important;
    height: .9rem !important;
}

.navigation-button-div-parent{
    margin-top: 40px;
    margin-bottom:40px;
}

.navigation-button-div {
    padding-left : 11%;
    
}

.navigation-button {
    color : #FFFFFF;
    background-color : #006600;
    padding-left:12px;
    padding-right:12px;
    padding-top:6px;
    padding-bottom:6px;
    font: 14pt arial;
    border-radius: 3px;
}
.navigation-button-pop-up {
    color : #FFFFFF;
    background-color : #006600;
    padding-left:12px;
    padding-right:12px;
    padding-top:6px;
    padding-bottom:6px;
    font: 14pt arial;
    border-radius: 3px;
    border: none;
}

.navigation-button-start {
    color : #FFFFFF;
    background-color : #006600;
    padding-left:1.8rem;
    padding-right:1.8rem;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    font: 18pt arial;
}

.navigation-button:focus {
    outline-color : transparent;
    color : #FFFFFF;
    background-color : #006600 ;
}

.slds-button_neutral.navigation-button:disabled,
.slds-button_neutral.navigation-button:[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.body-header {
    border: 0.5px;
    border-radius: 5px;
    font: 24pt arial;
    background-color: #006600;
    color :  #FFFFFF;
    width:100%;
}

.body-header-text {
    padding : 2%;
    padding-left : 48px;
}

.slds-box{
    min-height:68vh;
    padding  : 0rem;
    margin-top:20px;
}

.slds-checkbox_faux{
    width : 28px !important;
    height:28px !important;
}

.slds-checkbox_faux:after{
    width : .99rem !important;
    height: .40rem !important;
    top: 45% !important;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg) !important;
}

input:checked{
    width : 28px !important;
    height:28px !important;
}

.slds-form-element{
    margin-bottom:20px;
}

.footer{
    width : 100%;
    padding-bottom: 20px;
    font-size:9pt;
}
.bodyHeading{
    margin-bottom: 0px;
}
.bodyContent{
    margin-bottom: 30px;
}
.header{
    height: 35px;
    font-family: Helvetica;
}

.headerLinks{
    float:right;
    font-family: Helvetica;
}
.logoText1{
    font-size:16pt;
    color:#010101;
    font-family: Helvetica;
}
.logoText1-mobile{
    font-size:16pt;
    color:#010101;
    font-family: Helvetica;
    padding-top: 55px;
}
.logoText2{
    font-size:14pt;
    color:#525252;
    margin:-3px;
    font-family: Helvetica;
}
.logoText2-mobile{
    font-size:14pt;
    color:#525252;
    font-family: Helvetica;
}

.negativeMargin{
    margin:-6px;
}

.extLink{
    font-family: Helvetica;
    font-size:11pt;
    color:#003E69 !important;
}

.extLink.leftMargin{
    margin-left:7.5px;
}

.extLink.rightMargin{
    margin-right:7.5px;
}

.headerBar{
    height:4px;
    background-color:#006600;
    margin-top: 25px;
    margin-bottom: 0.01rem !important;
    border:0;
}
.headerBar-mobile{
    height:4px;
    background-color:#006600;
    margin-top: 25px;
    margin-bottom: 0.01rem !important;
    margin-top:130px;
}
.logo{
    height: 51px;
    width: 72px;
    margin-right: 15px;
    float: left;
}

.footerInner{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footerBar{
    height:3px;
    background-color:#006600;
    margin-top: 30px;
    margin-bottom: 20px;
    border:0;
}

.checkbox{
    height:28px;
}

.checkboxRightPadding{
    padding-right:20px;
}

.bold-center{
    font: bold 18pt arial;
    text-align: center;
    color: #006600;
    padding-bottom :20px;
    padding-top :20px; 
}
.bold-center-mobile{
    font: bold 18pt arial;
    text-align: center;
    color: #006600;
    padding-bottom :20px;
    padding-top :20px;
    margin-top:80px;
}
.text-center{
    font: 15pt arial;
    text-align: center;
    color: #333333;
    padding-left :68px;
    padding-right :68px
}
.text-center-mobile{
    font: 15pt arial;
    text-align: center;
    color: #333333;
}
.text-center-bold{
    font: bold 12pt arial;
    text-align: center;
    color: #333333;
    padding-bottom :13px;
    padding-top :13px;
}

.text-center-align{
    text-align: center;
}
.text-center-box{
    font:12pt arial;
    text-align: center;
    color: #333333;
}
.body-header-text-guidance {
    padding :73px;
    padding-top : 20px;
    padding-left : 58px;
    padding-bottom :20px;
}
.icon-color svg{
    background-color:#006600;
} 

.bottomMargin{
    margin-bottom: 15px;
}

.bottomPadding{
    padding-bottom :15px;
}

.footerLink{
    margin-left:7.5px;
    margin-right:7.5px;
}

/* Results page Styling */
.panelContent{
    padding : 30px 80px 30px 80px;
}
.panelContent-mobile{
    padding-top : 30px;
    padding-bottom: 30px;
}
.resultBlock{
    /*Arial 18pt, #333333*/
    font: 18pt arial;
    color:#333333;
}

.resultCategoryHeading, .resultMessage{
    /*Arial Bold 18pt, #333333*/
    /* add bold only*/
    font-weight: bold !important;
}
.resultMessage-mobile{
    /*Arial Bold 18pt, #333333*/
    /* add bold only*/
    font-weight: bold !important;
    padding-left: 2px;
    padding-right: 2px;
}

.resultBlock .resultCategoryHeading{
    margin-top:30px;
    margin-bottom:20px;
}

.resultMessage{
}

.resultLineBlock{
    padding-left : 20px;
}

.resultLine{
    line-height:3rem;
}

.linkText, .linkText:hover{
    /*Hyperlink: Arial Regular 18pt, #00365E */
    color :#003E69 !important;
    text-decoration : underline;
}

.resultLine .resultIcon{
    margin-right : 10px;
}

.iconContainer{
    /*Container: 966px width, 95px height
    Line: 1px thickness, Border = Inside, #333333*/
    max-width : 966px;
    min-height : 95px;
    border : 1px solid #333333;
    margin-top : 40px;
    text-align:center;
    font : 15pt arial;
    color : #333333 !important;
}

.iconContainerDetail{
    margin-top:2px;
}

.specialNotesFooter{
    /*Arial Italic 15pt, #333333*/
    font : 15pt arial;
    color : #333333;
    font-style : italic;
    margin-top:40px;
}
.specialNotesFooter-mobile{
    font : 15pt arial;
    color : #333333;
    font-style : italic;
    margin-top:40px;
    padding-left:2px;
    padding-right:2px;
}

.resultPageFooter{
    margin-top : 25px;    
    min-height:95px;
}

.resultPageFooter .footerQuestionHeader{
    /*Arial Bold/Regular 15pt, #333333*/
    font-weight:bold;
}
.resultPageFooter .footerQuestionHeader-mobile {
    margin-left: -110%;
    text-align: center;
    font-weight: bold;
    margin-top: 75px;
    max-width: 160%;
}
.resultPageFooter{
    /*Arial Bold/Regular 15pt, #333333*/
    font : 15pt arial;
    color : #333333;
}

.exitButton{
    /*Button Text: Arial Regular 18pt, #FFFFFF
    Button Container: Border Radius = 3px,
    #003E69*/
    font : 18pt arial;
    color : #FFFFFF;
    border: 2px solid #003E69;
    border-radius: 3px;
    border-color : #003E69;
    background-color: #003E69;
    padding-left : 15px;
    padding-right : 15px;
    position:absolute;
    bottom:0;
    box-shadow : none;
}

.exitBox{
    position:relative;
}
.exitButton-mobile {
    font: 18pt arial;
    color: #FFFFFF;
    border: 2px solid #003E69;
    border-radius: 3px;
    border-color: #003E69;
    background-color: #003E69;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 0;
    box-shadow: none;
    margin-top: 285px;
    margin-left: 105%;
}
.inlineDivs{
    display:inline-flex !important;
}

.questionBox{
    padding-left:8px;
}

.success svg{
    fill: #417505;
}

.warn svg{
    fill: #FFB75D;
}

.ban svg{
    fill: #D0021B;
}

.questionIcon svg{
    background-color: #006600;
    height: 65px;
    width: 65px;
}
.questionIcon-mobile svg{
    background-color: #006600;
    height: 65px;
    width: 65px;
    margin-left: -35px;
}
.modal-popup-heading{
    font: bold 20pt arial !important;
    color:#333333 !important;
}
.slds-modal__header {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    border-bottom: 2px solid #d4d4d4;
    padding: 1rem;
    text-align: center;
}
.modal-popup-body{
    font: 16pt arial;
    color:#333333;
    /*padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px; */   
}
.slds-p-around_medium, .slds-p-around--medium {
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.expl-link-button{
    text-decoration:underline;
    color:#003E69 !important;
    background: transparent;
    border: 1px solid transparent;
    padding-right: 0;
    padding-left: 0;
}
.expl-link-button-mobile{
    text-decoration:underline;
    color:#003E69 !important;
    background: transparent;
    border: 1px solid transparent;
    padding-right: 0;
    padding-left: 0;
    text-align:left;
}
.bullet-set-magin{
    margin-left: 24px;
}
.bullet-key-word{
    list-style : disc;
}
.slds-modal__footer{
    border-top: 2px solid #d4d4d4;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    padding: .75rem 1rem;
    background-color: rgb(249, 249, 250);
    text-align: right;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    align:right;
    background: rgb(255, 255, 255);
}
.slds-modal_small .slds-modal__container {
    width: 50%;
}
.bold-blue-underline{
    text-decoration: bold; 
    border-bottom: 1px solid #003E69;    
}
.toast-heading{
    font: 16pt arial;
    color:#333333;
    top:14px;
    margin-bottom : 10px;
}
.toast-detail{
    font: 13pt arial;
    color:#333333;
    padding-left : 60px;  
    padding-right : 60px;
    top:10px;
}
.slds-notify_toast, .slds-notify--toast {
    display: inline-flex;
    /*align-items: center;*/
    position: relative;
    font-weight: 300;
    border-radius: .25rem;
    margin: .5rem;
    padding: .75rem 1.5rem;
    min-width: 30rem;
    text-align: left;
    justify-content: flex-start;
}
.slds-notify-container, .slds-notify_container{
    position: absolute;
    width:100%;
    left: 0px;
    top: 5rem;
    z-index : 10000;
    text-align : centre;       
}

.IEIconClass{
    color:#706E6B;
    left:24px;
    top:14px;
    margin-right: 36px;
}

.IECloseClass{
    color:#706E6B;
    right:16px;
    top:16px;
}
.welcomepg-grid{
    padding-left:60px;
    padding-right:60px;
    padding-top:30px;
    padding-bottom:40px;
}
.welcomepg-grid-mobile{
    padding-top:30px;
    padding-bottom:40px;
}
.welcomepg-grid-omb{
    padding-top:30px;
}
.welcomepg-sldsgrid{
    margin: 1px 10px 10px 10px;
    padding-left :68px;
    padding-right :68px
}
.welcomepg-sldsgrid-mobile{
    margin: 1px 10px 10px 10px;
}
.contact-ac-body-mobile{
    margin-left: -110%;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    max-width: 160%;
}
.slds-button_neutral:hover
{
    background-color: #FFFFFF;
    color: #006600;
}

.slds-button_neutral
{
    border-color: #006600;
}
.navigation-button[disabled]
{
    border: none;
}
.omb
{
    font: 8pt arial; 
    color:#333333;
}
.vline {
  border-left: 3px solid #333;;
  height: 40px;
}
}