.confirmationDialogConfirmButton {
    background-color : #006600 !important;
    color : #FFFFFF !important;
    border-radius : 3px !important;
    border-width : 0px !important;
}
.confirmationDialogConfirmButton:hover{
    color: #FFFFFF !important;
    background-color: #005500 !important;
}

.confirmationDialogCancelButton {
    background-color : #FFFFFF !important;
    color : #003E69 !important;
    border-color: #C9C9C9 !important;
}
.confirmationDialogCancelButton:hover{
    background-color : #EFEFEF !important;
    color : #333333 !important;
    border-color : #C9C9C9 !important;
}

.confirmationDialogMessageBody{
    font-family: Arial !important;
}

.confirmModal .title{
    font-family: Arial !important;
    font-weight: bold;
    font-size: 1.5rem;
}
.confirmModal .modal-body{
    padding : 0px 0px 0px 0px !important;
}

.confirmModal .slds-modal__footer, .slds-modal__footer{
    background-color : #F4F1F2 !important;
    border-top : 2px solid #F4F1F2 !important;
}

.confirmModal .slds-modal__header, .slds-modal__header{
    border-bottom : 2px solid #F4F1F2 !important;
}

.cEFLConfirmationDialog .a {
    color: #003E69 ! important;
}
