
.inlineEditModified {
    color: blue;
    font-weight: bold;
}

.Custom14Tab .tertiaryPalette,
.individualPalette .Custom14Block .tertiaryPalette,
.layoutEdit .individualPalette .Custom14Block .tertiaryPalette {
    background-color: #ededed ;
    border-color: #ededed ;
}
.apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader {
    border-top: 0;
     color: black; 
}
 
 
  body .bPageTitle .ptBody h1.noSecondHeader{
    font-size: 20px;
  }
 