table.border td {
	border: 1px solid black;
	border-collapse: collapse;
	border-bottom:1pt solid black;
	border-left:1pt solid black;
	border-top:1pt solid black;
	border-right:1pt solid black;
	vertical-align: top;
	padding 1px;
}
pre{
    white-space: pre-wrap;
    font-family: 'sans-serif'; 
    font-size: 11px;    
}   
body
{
	font-family: 'sans-serif'; 
   	font-size: 11px; 
}
td.small_10{
	font-family: 'sans-serif'; 
	font-size: 10px;
	text-align: left;
	padding: 1px;
	vertical-align: top;
}
td.small_11{
	font-family: 'sans-serif'; 
	font-size: 11px;
	text-align: left;
	padding: 1px;
	vertical-align: top;
}
td.small_11_hd{
	font-family: "sans-serif"; 
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	padding: 1px;
	vertical-align: top;
}

td.medium_12_Center_U{
	font-family: 'sans-serif'; 
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
	padding: 1px;
	vertical-align: top;
}

td.small_10_Center{
	font-family: 'sans-serif'; 
	font-size: 10px;
	text-align: center;
	padding: 1px;
	vertical-align: top;
	
}

tr.border_bottom td {
 	 border-bottom:1pt solid black;
 	 vertical-align: top;
  
}

table.noBorder td {
  border: 0px solid black;
  padding: 1px;
  font-family: 'sans-serif'; 
  font-size: 11px;
  vertical-align: top;
  
}
p.12 {
    font-family: "sans-serif";
    font-size: 12px;
}
p.txt12U {
    font-family: "sans-serif";
    font-size: 12px;
    text-decoration: underline;
}
h4 { 
    font-family: "sans-serif";
    display: block;
    font-size: 1.6em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.2em;
    margin-right: 0;
}
h5 { 
    font-family: "sans-serif";
    display: block;
    font-size: 1.3em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.2em;
    margin-right: 0;
    font-weight: bold;
}
div.box {
    background-color: white;
    width: 98%;
    padding: 2px;
    border: 2px solid black;
    margin: 0px;
    spacing: 1px;
    font-size: 11px;
    font-family: "sans-serif";
    margin: 0 auto;
}
div.topBlock {
    background-color: white;
    width: 100%;
    padding: 2px;
    border: 2px solid #8c94a3;
    margin: 0px;
    spacing: 1px;
    font-size: 11px;
    font-family: "sans-serif";
}

@page {
@top-right {
content: element(header);
}
@bottom-left {
 content: element(footer);
}
}

div.header {
    background-color: white;
    text-align: right;
    width: 98%;
    padding: 0px;
    border: 0px solid black;
    margin: 0px;
    spacing: 1px;
    font-size: 11px;
    font-family: "sans-serif";
    position: running(header);
  }
div.footer {
	display: block;
	padding: 5px;
	position: running(footer);
}
.pagenumber:before {
content: counter(page);
}
.pagecount:before {
content: counter(pages);
}
div.no_box {
    background-color: white;
    font-size: 11px;
    width: 100%;
    padding: 2px;
    border: 0px solid black;
    margin: 5px;
    font-family: "sans-serif";
    page-break-after:always;
}
th {
    font-size: 13px;
    font-family: "sans-serif", Arial, Helvetica, sans-serif;
    border: 1px solid black;
    font-weight: bold;
   
}

