.THIS .slds-form-element__label{
    font-family : Arial;
    color : #333333;
}

.THIS .subHeaderText{
    text-align:center;
    font-family : arial;
}

.THIS .fixHeight{
	max-height: 22rem;
	overflow-y: scroll;
}