.THIS .leftPaddingClass {
    padding-left: 2rem;
}
 
.THIS .pillSize{
 width:100%;
}

.THIS .small{
    width : 10rem;
}
.THIS .medium{
    width : 20rem;
}

.THIS .large{
    width : 30rem;
}

.THIS .full{
    width : 100%;
}